<!doctype html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <title>Module</title>
  <!--Generic meta-->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, initial-scale = 1.0, shrink-to-fit=no">
  <!--favicon-->
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <link rel="icon" type="image/ico" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <main>
    <%= contents %>
  </main>
  <!-- ************  JAVASCRIPT MAIN  ******************** -->
  <script src="/scripts/main.js"></script>
  <!-- ************  JAVASCRIPT LIBS  ******************** -->
  <!-- slick, cookies, etc -->
</body>
</html>
