<template>
  <button :class="`${type || 'CTA-01'} ${color || 'M-01'}`" v-if="handleClick">{{text}}</button>
  <button :class="`cta-icon ${color || 'M-01'}`" v-else-if="icon">
    <i class="icon-bas-003"></i>
  </button>
  <a
    :href="link"
    :class="`${type || 'CTA-01'} ${color || 'M-01'}`"
    v-else-if="link.indexOf('http') == 0 || link.indexOf('pdf') > 0"
    target="_blank"
    rel="noreferrer"
  >{{text}}</a>
  <button :class="`${type || 'CTA-01'} `" v-else-if="link =='' ">{{text}}</button>
  <nuxt-link :to="link" :class="`${type || 'CTA-01'} ${color || 'M-01'}`" v-else>{{text}}</nuxt-link>
</template>

<script>
export default {
  props: {
    color: String,
    link: String,
    type: String,
    text: String,
    icon: Boolean,
    handleClick: Boolean
  }
};
</script>

<style lang="scss">
@import "~/assets/scss/main.scss";

.ctaBase {
  border-radius: 40px;
  padding: 16px 40px;
  @include font-Body;
  color: var(--Neu-01);
  font-weight: var(--bold);
  transition: 0.1s all ease-in-out;
  text-transform: none;
  cursor: pointer;
}

.btn-container {
  .CTA-01 {
    @extend .ctaBase;
    &:hover {
      transition: 0.1s all ease-in-out;
      // transform: scale(1.03);
      transform: translateY(1px);
    }

    &.M-03 {
      @include box-shadow(rgba(35, 207, 238, 0.4), rgba(35, 207, 238, 0.7));
      background-color: var(--M-03);

      &:hover {
        background-color: #4ee4ff;
      }
    }
    &.M-01 {
      @include box-shadow(rgba(181, 99, 246, 0.4), rgba(181, 99, 246, 0.7));
      background-color: var(--M-01);
      &:hover {
        background-color: #c882ff;
      }
    }
    &.M-02 {
      @include box-shadow(rgba(245, 117, 33, 0.4), rgba(245, 117, 33, 0.7));
      background-color: var(--M-02);

      &:hover {
        background-color: #ff9753;
      }
    }
    &.M-04 {
      @include box-shadow(rgba(44, 243, 120, 0.4), rgba(44, 243, 120, 0.7));
      background-color: var(--M-04);
      &:hover {
        background-color: #60f398;
      }
    }
  }

  .CTA-02 {
    @extend .ctaBase;
    color: var(--Neu-01);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    background-color: rgba(214, 219, 231, 0.25);
    &:hover {
      transition: 0.1s all ease-in-out;
      // transform: scale(1.03);
      transform: translateY(1px);
    }
  }

  .ALT-01 {
    @include font-Body;
    font-weight: var(--bold);
    color: var(--Neu-04);
    transition: all 0.1s;
    cursor: pointer;
    &:after {
      content: "";
      position: absolute;
      background-color: var(--Neu-03);
      height: 2px;
      bottom: 2px;
      left: 0;
      z-index: -1;
      width: 100%;
      transition: all 0.1s;
    }

    &:hover {
      transition: all 0.1s;
      color: var(--Neu-07);
      &:after {
        height: 40%;
        transition: all 0.1s;
      }
    }

    &.M-03 {
      &:hover {
        color: var(--M-03);
        &:after {
          background-color: var(--Add-05);
        }
      }
    }
    &.M-01 {
      &:hover {
        color: var(--M-01);
        &:after {
          background-color: var(--Add-01);
        }
      }
    }
    &.M-02 {
      &:hover {
        color: var(--M-02);
        &:after {
          background-color: var(--Add-03);
        }
      }
    }
    &.M-04 {
      &:hover {
        color: var(--M-04);
        &:after {
          background-color: var(--M-04);
          opacity: 0.25;
        }
      }
    }
  }

  .cta-icon {
    padding: 16px;
    border-radius: 100%;
    i {
      font-size: var(--s);
      color: var(--Neu-01);
      left: 1px;
      cursor: pointer;
    }
    &:hover {
      transition: 0.1s all ease-in-out;
      // transform: scale(1.03);
      transform: translateY(1px);
    }

    &.M-03 {
      @include box-shadow(rgba(35, 207, 238, 0.4), rgba(35, 207, 238, 0.7));
      background-color: var(--M-03);

      &:hover {
        background-color: #4ee4ff;
      }
    }
    &.M-01 {
      @include box-shadow(rgba(181, 99, 246, 0.4), rgba(181, 99, 246, 0.7));
      background-color: var(--M-01);
      &:hover {
        background-color: #c882ff;
      }
    }
    &.M-02 {
      @include box-shadow(rgba(245, 117, 33, 0.4), rgba(245, 117, 33, 0.7));
      background-color: var(--M-02);

      &:hover {
        background-color: #ff9753;
      }
    }
    &.M-04 {
      @include box-shadow(rgba(44, 243, 120, 0.4), rgba(44, 243, 120, 0.7));
      background-color: var(--M-04);
      &:hover {
        background-color: #53ff94;
      }
    }
  }
}
</style>