<template>
  <section class="contentgrid">
    <div class="wrapper">
      <ContentGridItem v-for="(item,index) in items" :key="index" v-bind="item" :gridItems="item" :data-aos-duration="`800 * ${index}`" :data-aos-delay="`100 * ${index}`" data-aos-easing="ease-out-cubic" data-aos="fade-up"/>
    </div>
  </section>
</template>

<script>
import ContentGridItem from "~/components/ContentGridItem.vue";
export default {
  components: {
    ContentGridItem
  },
  props: {
    items: Array
  }
};
</script>

<style lang="scss">
@import "~/assets/scss/main.scss";

.contentgrid {
  padding: 60px 0 120px;
  .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2%;
    @include phablet {
      display: flex;
      flex-direction: column;
      align-items: initial;
    }
  }
}

[data-size="2"],
[data-size="1"] {
  .wrapper {
    justify-content: space-around;
  }
}
</style>