<template>
  <article
    class="contentgriditem"
    :data-theme="StyleColorTheme.ColorName ? StyleColorTheme.ColorName : 'M-01'"
  >
    <span
      class="contentgriditem__label colorLabel"
      v-if="PagDetailName && !ifEventsPage"
    >{{ PagDetailName }}</span>
    <span class="contentgriditem__label date" v-if="DateText && ifEventsPage">
      <i class="icon-bas-007"></i>
      {{ DateText }}
    </span>
    <figure v-if="PageDefinitionImage">
      <img :src="PageDefinitionImage.ImageSrc" :alt="PageDefinitionImage.ImageAlt" />
    </figure>
    <h3 class="contentgriditem__title">{{ PageDefinitionTitle }}</h3>
    <p class="contentgriditem__description">{{ PageDefinitionDescription }}</p>
    <div class="btn-container">
      <Button type="ALT-01" :color="StyleColorTheme.ColorName" :link="Url" text="Know More" />
    </div>
  </article>
</template>

<script>
import Button from "~/components/Button.vue";

export default {
  components: {
    Button
  },
  props: {
    PageDefinitionImage: Object,
    PageDefinitionTitle: String,
    label: String,
    PageDefinitionDescription: String,
    StyleColorTheme: Object,
    Url: String,
    PagDetailName: String,
    DateText: String
  },
  computed: {
    ifEventsPage() {
      return this.$route.name == "events";
    }
  }
};
</script>

<style lang="scss">
@import "~/assets/scss/main.scss";

.contentgriditem {
  max-width: 224px;
  margin: 35px 0;
  display: flex;
  flex-flow: column;
  align-items: baseline;

  @include phablet {
    max-width: none;
  }

  figure {
    margin-bottom: 40px;
    order: -1;
  }

  &__label {
    @include font-XS;
    font-weight: var(--extrabold);
    border-radius: 8px;
    padding: 2px 5px;
    text-transform: uppercase;

    + figure {
      @include phablet {
        display: none;
      }
    }

    &.date {
      display: flex;
      padding: 0 5px;
      left: -8px;
      position: relative;
      align-items: center;
      @include font-S;
      font-weight: var(--regular);
      color: var(--Neu-06);
      text-transform: inherit;
      i {
        margin-right: 2px;
        font-size: var(--xxs);
      }
    }
  }

  &__title {
    font-family: var(--brand-mohrsemi);
    @include font-M;
    color: var(--Neu-11);
    margin: 0 0 14px 0;
  }

  &__description {
    @include font-Body;
    color: var(--Neu-07);
    font-weight: var(--regular);
  }

  &:nth-of-type(3n + 1) {
    grid-column: 2/5;

    @include tablet {
      grid-column: 1/5;
    }
  }
  &:nth-of-type(3n + 2) {
    grid-column: 6/9;
    @include tablet {
      grid-column: 5/9;
    }
  }

  &:nth-of-type(3n + 3) {
    grid-column: 10/13;
    @include tablet {
      grid-column: 9/13;
    }
  }

  .btn-container {
    margin-top: 30px;
    @include tablet {
      justify-content: flex-start;
      flex-direction: row;
    }
  }
}
</style>
