<template>
  <section class="media">
    <!-- label -->
    <h3 class="media__Title--mobile" v-if="item.ContentTitle">{{item.ContentTitle}}</h3>
    <figure
      v-if="item.ContentImage"
      data-aos-duration="800"
      data-aos-delay="800"
      data-aos-easing="ease-out-cubic"
      data-aos="fade-up"
    >
      <img :src="item.ContentImage.ImageSrc" :alt="item.ContentImage.ImageAlt" />
    </figure>
    <!-- contentSubtitle -->
    <aside
      data-aos-duration="800"
      data-aos-delay="1000"
      data-aos-easing="ease-out-cubic"
      data-aos="fade-up"
    >
      <h3 class="media__Title--desktop" v-if="item.ContentTitle">{{item.ContentTitle}}</h3>
      <p class="media__Description" v-html="item.ContentContent"></p>
      <div class="btn-container" v-if="item.ContentButtons[0]">
        <Button
          type="CTA-01"
          :color="item.ContentButtons[0].styleButtonColor ? item.StyleColorTheme.ColorName : item.StyleColorTheme.ColorName"
          :link="item.ContentButtons[0].ButtonLink"
          :text="item.ContentButtons[0].ButtonText"
        />
        <Button
          v-if="item.ContentButtons[1]"
          type="CTA-02"
          :color="item.ContentButtons[1].styleButtonColor.ColorCode"
          :link="item.ContentButtons[1].ButtonLink"
          :text="item.ContentButtons[1].ButtonText"
        />
      </div>
    </aside>
  </section>
</template>


<script>
import Button from "~/components/Button.vue";

export default {
  components: {
    Button
  },
  props: {
    item: Object
  }
};
</script>


<style lang="scss" scoped>
@import "~/assets/scss/main.scss";

.media {
  // display:flex;
  background-color: var(--Neu-10);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include tablet {
    grid-template-columns: none;
    padding: 40px;
  }
  aside {
    padding: 80px 4%;
  }
  figure {
    height: 780px;
    @include tablet {
      max-height: none;
    }
    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .media__Title {
    margin-bottom: 45px;
    color: var(--Neu-01);
    max-width: 395px;
    &--desktop,
    &--mobile {
      @extend .media__Title;
    }

    &--desktop {
      @include tablet {
        display: none;
      }
    }
    &--mobile {
      display: none;
      @include tablet {
        display: block;
        max-width: none;
        text-align: left;
      }
    }
  }

  &__Description {
    @include font-Body;
    font-weight: var(--regular);
    color: var(--Neu-04);
    max-width: 300px;
    @include tablet {
      max-width: none;
      margin-top: 36px;
    }
  }

  &__Title {
    @include font-XL;
    font-family: var(--brand-mohrsemi);
  }
  &__label {
    @include font-XS;
    font-weight: var(--extrabold);
    border-radius: 8px;
    padding: 2px 5px;
    text-transform: uppercase;
    &.green {
      color: var(--M-04);
      background-color: var(--Add-07);
    }
    &.purple {
      color: var(--M-01);
      background-color: var(--Add-01);
    }
    &.orange {
      color: var(--M-02);
      background-color: var(--Add-03);
    }
  }
  &__subtitle {
    @include font-M;
    font-family: var(--brand-mohr);
  }
}

[data-type="leftWhite"] {
  &.orange {
    .media__subtitle {
      color: var(--M-02);
    }
  }
  &.purple {
    .media__subtitle {
      color: var(--M-01);
    }
  }
  &.blue {
    .media__subtitle {
      color: var(--M-03);
    }
  }
  &.green {
    .media__subtitle {
      color: var(--M-04);
    }
  }
  .wrapper {
    background: yellow;
  }
  aside {
    max-width: 336px;
    grid-column-end: none;
  }

  figure {
    min-height: 600px;
    img {
      height: 100%;
    }
  }
}

[data-type="rightBlue"] {
  aside {
    background-color: var(--Neu-10);
    padding: 12% 10% 38% 18%;
    @include tablet {
      padding: 24% 10%;
    }
  }

  .media__Title {
    color: var(--Neu-01);
    margin-bottom: 36px;
  }

  .media__Images {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    figure:first-of-type {
      height: 120%;
    }

    figure:last-of-type {
      height: 80%;
      @include tablet {
        top: -64px;
      }
    }

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}
</style>