<template>
  <section class="media">
    <div class="wrapper">
      <aside
        data-aos-duration="800"
        data-aos-delay="500"
        data-aos-easing="ease-out-cubic"
        data-aos="fade-up"
      >
        <!-- <label for=""></label> -->
        <h3 class="media__Title" v-if="info.ContentTitle">{{info.ContentTitle}}</h3>
        <!-- subtitle -->
        <p class="media__Description" v-html="info.contentContent"></p>
        <div class="btn-container" v-if="info.ContentButtons[0]">
          <Button
            type="CTA-01"
            :color="info.ContentButtons[0].styleButtonColor ? info.StyleColorTheme.ColorName : info.StyleColorTheme.ColorName"
            :link="info.ContentButtons[0].ButtonLink"
            :text="info.ContentButtons[0].ButtonText"
          />
          <Button
            v-if="info.ContentButtons[1]"
            type="CTA-02"
            :color="info.ContentButtons[1].styleButtonColor.ColorCode"
            :link="info.ContentButtons[1].ButtonLink"
            :text="info.ContentButtons[1].ButtonText"
          />
        </div>
      </aside>
    </div>
    <div
      class="media__Images"
      data-aos-duration="00"
      data-aos-delay="600"
      data-aos-easing="ease-out-cubic"
      data-aos="slide-left"
    >
      <figure v-if="info.ContentFirstImage">
        <img :src="info.ContentFirstImage.ImageSrc" :alt="info.ContentFirstImage.ImageAlt" />
      </figure>
      <figure v-if="info.contentSecondImage">
        <img :src="info.contentSecondImage.ImageSrc" :alt="info.contentSecondImage.ImageAlt" />
      </figure>
    </div>
  </section>
</template>
<script>
import Button from "~/components/Button.vue";

export default {
  data: function() {
    return {
      type: String
    };
  },
  components: {
    Button
  },
  props: {
    info: Object
  }
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/main.scss";

.media {
  background-color: var(--Neu-10);
  margin-bottom: 256px;
  @include tablet {
    margin-bottom: 0;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2%;
    margin-bottom: 70px;
  }

  @include tablet {
    background-color: none;
  }
  aside {
    padding: 80px 4%;
    grid-column: 2/6;
    @include tablet {
      background-color: var(--Neu-10);
      margin: 0;
      grid-column: 2/12;
    }
  }
  figure {
    max-height: 780px;
    height: 100%;
    @include tablet {
      max-height: none;
    }
    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .media__Title {
    color: var(--Neu-01);
    margin-bottom: 36px;
  }

  .media__Images {
    background-color: var(--Neu-01);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: 2;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      background: var(--Neu-01);
      height: 100%;
      z-index: 0;
    }

    @include tablet {
      position: relative;
      width: calc(100% + 8%);
      left: -4%;
    }

    figure:first-of-type {
      height: 800px;

      @include mobile {
        height: 300px;
      }
    }

    figure:last-of-type {
      height: 536px;
      @include tablet {
        top: -64px;
      }
      @include mobile {
        height: 300px;
      }
    }

    img {
      z-index: 2;
      height: 100%;
      object-fit: cover;
    }
  }

  &__Description {
    @include font-Body;
    font-weight: var(--regular);
    color: var(--Neu-04);
    max-width: 300px;
    @include tablet {
      max-width: none;
      margin-top: 36px;
    }
  }

  &__Title {
    @include font-XL;
    font-family: var(--brand-mohrsemi);
  }
  &__label {
    @include font-XS;
    font-weight: var(--extrabold);
    border-radius: 8px;
    padding: 2px 5px;
    text-transform: uppercase;
    &.green {
      color: var(--M-04);
      background-color: var(--Add-07);
    }
    &.purple {
      color: var(--M-01);
      background-color: var(--Add-01);
    }
    &.orange {
      color: var(--M-02);
      background-color: var(--Add-03);
    }
  }
}
</style>