<template>
  <section
    class="media"
    :data-theme="item.StyleColorTheme ? item.StyleColorTheme.ColorName : 'M-01'"
  >
    <div class="wrapper">
      <figure v-if="item.ContentImage" data-aos-duration="800" data-aos-delay="1000" data-aos-easing="ease-out-cubic" data-aos="fade-up">
        <img :src="item.ContentImage.ImageSrc" :alt="item.ContentImage.ImageAlt" />
      </figure>
      <aside data-aos-duration="800" data-aos-delay="800" data-aos-easing="ease-out-cubic" data-aos="fade-up">
        <span
          class="media__label colorLabel"
          v-if="item.ContentTitleLabel"
        >{{item.ContentTitleLabel}}</span>

        <h3 class="media__Title" v-if="item.ContentTitle">{{item.ContentTitle}}</h3>
        <p class="media__subtitle colorText" v-if="item.subtitle">{{item.ContentSubtitle}}</p>
        <p class="media__Description" v-html="item.ContentContent"></p>
        <div class="btn-container" v-if="item.ContentButtons[0]">
          <Button
            type="CTA-01"
            :color="item.ContentButtons[0].styleButtonColor ? item.StyleColorTheme.ColorName : item.StyleColorTheme.ColorName"
            :link="item.ContentButtons[0].ButtonLink"
            :text="item.ContentButtons[0].ButtonText"
          />
          <Button
            v-if="item.ContentButtons[1]"
            type="CTA-02"
            :color="item.ContentButtons[1].styleButtonColor.ColorCode"
            :link="item.ContentButtons[1].ButtonLink"
            :text="item.ContentButtons[1].ButtonText"
          />
        </div>
      </aside>
    </div>
  </section>
</template>


<script>
import Button from "~/components/Button.vue";

export default {
  components: {
    Button
  },
  props: {
    item: Object
  }
};
</script>


<style lang="scss" scoped>
@import "~/assets/scss/main.scss";

.media {
  aside {
    grid-column: 9/12;
    grid-row: 3;
    @include tablet {
      margin-top: 80px;
      grid-column: none;
      grid-row: 1;
    }
  }
  figure {
    grid-column: 2/7;
    grid-row: 1/7;
    max-height: 600px;
    height: 100%;
    @include tablet {
      grid-column: none;
      grid-row: 2;
      max-height: 400px;
      width: calc(100% + 10%);
      left: -5%;
    }
    @include mobile {
      max-height: 257px;
    }
    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__Description {
    @include font-Body;
    font-weight: var(--regular);
    color: var(--Neu-07);
    max-width: 300px;
    @include tablet {
      max-width: none;
      margin-top: 36px;
    }
  }

  &__Title {
    @include font-XL;
    margin: 20px 0 30px;
    font-family: var(--brand-mohrsemi);
  }
  &__label {
    @include font-XS;
    font-weight: var(--extrabold);
    border-radius: 8px;
    padding: 2px 5px;
    text-transform: uppercase;
  }
  &__subtitle {
    @include font-M;
    margin-bottom: 32px;
    font-family: var(--brand-mohr);
  }
  .wrapper {
    background: var(--Neu-01);
    display: grid;
    min-height: 800px;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2%;
    grid-template-rows: repeat(10, 10%);

    @include tablet {
      grid-template-columns: none;
      grid-column-gap: initial;
      grid-template-rows: initial;
    }
  }
}
</style>