<template>
  <section class="ctas" :class="{two: item.length === 2 }">
    <aside
      class="ctablock"
      :style="item.StyleBackgroundImage ? `background-image:url(${item.StyleBackgroundImage.ImageSrc})` : `background-color:#${item.StyleBackgroundColor.ColorCode}`"
      :data-font-color="item.StyleFontColor.ColorName"
      :class="{overlay: item.StyleBackgroundImage}"
    >
      <div
        class="wrapper"
        data-aos-duration="800"
        data-aos-delay="100"
        data-aos-easing="ease-out-cubic"
        data-aos="fade-up"
      >
        <h3 class="ctablock__title">{{item.ContentTitle}}</h3>
        <p class="ctablock__description">{{item.ContentSubtitle}}</p>
        <div class="btn-container">
          <Button
            v-for="btn in item.ContentButtons"
            :key="btn.id"
            :type="btn.ButtonStyle ? btn.ButtonStyle : 'CTA-01'"
            :color="btn.styleButtonColor ? btn.styleButtonColor : item.StyleColorTheme.ColorName"
            :link="btn.ButtonLink"
            :text="btn.ButtonText"
          />
        </div>
      </div>
    </aside>
    <aside
      class="ctablock"
      :style="item.StyleBackgroundImage ? `background-image:url(${item.StyleBackgroundImage.ImageSrc})` : `background-color:#${item.StyleBackgroundColor.ColorCode}`"
      :data-font-color="item.StyleFontColor.ColorName"
      :class="{overlay: item.StyleBackgroundImage}"
      v-if="item.length === 2"
    >
      <div
        class="wrapper"
        data-aos-duration="800"
        data-aos-delay="100"
        data-aos-easing="ease-out-cubic"
        data-aos="fade-up"
      >
        <h3 class="ctablock__title">{{item.ContentTitle}}</h3>
        <p class="ctablock__description">{{item.ContentSubtitle}}</p>
        <div class="btn-container">
          <Button
            v-for="btn in item.ContentButtons"
            :key="btn.id"
            :type="btn.ButtonStyle ? btn.ButtonStyle : 'CTA-01'"
            :color="btn.styleButtonColor ? btn.styleButtonColor : item.StyleColorTheme.ColorName"
            :link="btn.ButtonLink"
            :text="btn.ButtonText"
          />
        </div>
      </div>
    </aside>
  </section>
</template>

<script>
import Button from "~/components/Button.vue";

export default {
  components: {
    Button
  },
  props: {
    item: Object
  }
};
</script>

<style lang="scss">
@import "~/assets/scss/main.scss";

.ctablock {
  background-color: var(--Neu-10);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 80px 0;
  @include phablet {
    padding: 50px 0;
  }

  .wrapper {
    text-align: center;
  }

  &__title {
    @include font-L;
    font-family: var(--brand-mohrsemi);
    margin-bottom: 8px;
    color: var(--Neu-01);
  }
  &__description {
    @include font-Body;
    font-family: "proxima-nova";
    font-weight: var(--regular);
    color: var(--Neu-04);
  }

  .btn-container {
    justify-content: center;
  }
}

[data-font-color="Neu-11"] {
  .ctablock__title,
  .ctablock__description {
    color: var(--Neu-11);
  }
}

.ctas.two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;

  @include phablet {
    display: block;
  }
}
</style>