<template>
  <section class="filterbar">
    <div class="wrapper" :class="{ modalOpened: toggleModal }">
      <div
        class="filterbar__search"
        data-aos-duration="800"
        data-aos-delay="800"
        data-aos-easing="ease-out-cubic"
        data-aos="fade-up"
      >
        <input
          type="search"
          name="search"
          id="search"
          placeholder="Search any business"
          v-model="search"
        />
        <i class="icon-bas-020"></i>
      </div>

      <p
        class="filterbar__description"
        data-aos-duration="800"
        data-aos-delay="800"
        data-aos-easing="ease-out-cubic"
        data-aos="fade-up"
      >Filter according to your preferences:</p>

      <ul
        class="filterbar__filters"
        data-aos-duration="800"
        data-aos-delay="800"
        data-aos-easing="ease-out-cubic"
        data-aos="fade-up"
      >
        <li
          v-for="(item, index) in this.Categories"
          :key="index"
          @click="toggleCheck"
          :data-category="item"
        >{{ item }}</li>
      </ul>

      <div
        class="dropdown"
        @click="toggleDropdown"
        data-aos-duration="800"
        data-aos-delay="800"
        data-aos-easing="ease-out-cubic"
        data-aos="fade-up"
      >
        <p class="dropdown__label">Business Type</p>
        <p class="dropdown__placeholder">See all</p>
        <ul class="dropdown__list">
          <li @click="selectDropdownValue" data-color="orange">Startup</li>
          <li @click="selectDropdownValue" data-color="purple">Corporation</li>
          <li @click="selectDropdownValue" data-color="green">Accelerator</li>
          <li @click="selectDropdownValue" data-color="blue">Incubator</li>
          <li @click="selectDropdownValue" class="selected">See all</li>
        </ul>
      </div>

      <div
        class="startUpGallery"
        :class="{ noInfo: paginatedData.length === 0 }"
        data-aos-duration="800"
        data-aos-delay="800"
        data-aos-easing="ease-out-cubic"
        data-aos="fade-up"
      >
        <StartUp v-for="(item, index) in paginatedData" :key="index" v-bind="item" :info="item" />
        <p v-if="paginatedData.length === 0" class="noResults">No results for this search.</p>
      </div>

      <div class="pagination" v-if="paginatedData.length > 0">
        <span @click="prevPage" :class="{ disabled: pageSelected == 0 }">
          <i class="icon-bas-005"></i>
        </span>
        <div class="paginaWrapper" v-if="getPagination <= 3">
          <div v-for="(item, index) in getPagination" :key="index">
            <small :class="{ selected: item == pageSelected + 1 }" @click="changePage">{{ item }}</small>
          </div>
        </div>
        <div class="paginaWrapper" v-else>
          <small @click="changePage" v-if="pageSelected + 1 != 1">1</small>
          <small v-if="pageSelected + 1 >= 3">...</small>
          <small
            @click="changePage"
            :class="{ selected: pageSelected + 1 >= 1 && pageSelected + 1 <= getPagination }"
          >{{ pageSelected + 1 }}</small>
          <small v-if="pageSelected + 1 <= getPagination - 2">...</small>
          <small @click="changePage" v-if="pageSelected + 1 != getPagination">{{ getPagination }}</small>
        </div>
        <span @click="nextPage" :class="{ disabled: pageSelected == getPagination - 1 }">
          <i class="icon-bas-005"></i>
        </span>
      </div>
    </div>
    <div class="modal" :class="{ opened: toggleModal }">
      <span class="close" @click="closeModal">
        <i class="icon-bas-002"></i>
      </span>
      <div class="modalContainer">
        <div class="contacts">
          <small class="companyTitle">{{ getInfoModal.ContentStartupName }}</small>
          <div class="containerNoWebsite">
            <small v-if="this.getInfoModal.ContentEmailButtonLink">
              <a
                :href="`mailto:${getInfoModal.ContentEmailButtonLink}`"
              >{{ getInfoModal.ContentEmailButtonLink }}</a>
            </small>
            <small v-if="getInfoModal.ContentPhoneButtonLink">
              <a
                :href="`tel:${getInfoModal.ContentPhoneButtonLink}`"
              >{{ getInfoModal.ContentPhoneButtonLink }}</a>
            </small>
          </div>
          <div class="btn-container" v-if="getInfoModal.ContentWebsiteButtonLink">
            <Button
              type="CTA-01"
              color="M-01"
              :link="getInfoModal.ContentWebsiteButtonLink"
              text="See our website"
            />
          </div>
        </div>
        <div class="modal-content">
          <p>{{ getInfoModal.ContentDescription }}</p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import StartUp from "~/components/StartUp.vue";
import Button from "~/components/Button.vue";

export default {
  components: {
    StartUp,
    Button
  },
  data() {
    return {
      Categories: [
        "Experience",
        "AI|AR|VR",
        "Communication",
        "Gastronomy",
        "Booking Engines",
        "Transport",
        "HR",
        "Operations",
        "Financial",
        "Revenue/Profit",
        "Channel Manager",
        "Metasearch",
        "Niche",
        "OTA",
        "Other"
      ],
      selectedCategories: [],
      selectedTypes: "",
      selectedCompanies: [],
      search: "",
      pageSize: 9,
      pageSelected: 0,
      index: 0
    };
  },
  methods: {
    nextPage() {
      this.pageSelected++;
      this.scrollTo(document.querySelector(".startUpGallery"));
    },
    prevPage() {
      this.pageSelected--;
      this.scrollTo(document.querySelector(".startUpGallery"));
    },
    changePage({ currentTarget }) {
      this.pageSelected = currentTarget.textContent - 1;
      this.scrollTo(document.querySelector(".startUpGallery"));
    },
    toggleCheck({ currentTarget }) {
      currentTarget.classList.toggle("checked");
      this.pageSelected = 0;

      if (
        this.selectedCategories.indexOf(currentTarget.dataset.category) > -1
      ) {
        //exists in array
        this.selectedCategories.splice(
          this.selectedCategories.indexOf(currentTarget.dataset.category),
          1
        );
      } else {
        //doesnt exist
        this.selectedCategories.push(currentTarget.dataset.category);
      }
    },
    toggleDropdown({ currentTarget }) {
      currentTarget.classList.toggle("open");
    },
    selectDropdownValue({ currentTarget }) {
      const color = currentTarget.dataset.color,
        text = currentTarget.textContent;
      this.pageSelected = 0;
      //clean string
      this.selectedTypes = "";

      if (color) {
        this.selectedTypes = text;
      }

      document.querySelector(".dropdown__placeholder").textContent = text;
      document.querySelector(".dropdown__placeholder").dataset.color = color;
      document.querySelector(".selected").classList.remove("selected");
      currentTarget.classList.add("selected");
      // this.changeItemsInDOM();
    },
    closeModal() {
      this.$store.commit("toggleModalStartups");
    },
    scrollTo(element) {
      let top;
      //Getting scroll Position on page, adding the distance of the module is "hiding" and adding the nav height
      top =
        window.scrollY +
        element.getBoundingClientRect().top +
        -document.querySelector("nav").offsetHeight;

      // we adding the -20 on top because we want some more spacing between the module and nav
      window.scroll({
        behavior: "smooth",
        left: 0,
        top: top + -20
      });
    }
  },
  computed: {
    Startups() {
      return this.$store.state.Startups;
    },
    searchedList() {
      const vue = this;
      const searchList = vue.search
        ? vue.Startups.filter(startup => {
            return (
              startup.ContentStartupName.toLowerCase().includes(
                vue.search.toLowerCase()
              ) ||
              startup.ContentDescription.toLowerCase().includes(
                vue.search.toLowerCase()
              )
            );
          })
        : vue.Startups;
      const tagList = [];
      //Set page to 0;
      vue.pageSelected = 0;

      vue.selectedCategories.length
        ? searchList.filter(item => {
            vue.selectedCategories.forEach(function(selectedCat) {
              item.ContentCategories.some(cat => {
                return cat === selectedCat;
              })
                ? tagList.push(item)
                : "";
            });
          })
        : tagList.push(...searchList);
      const result = vue.selectedTypes
        ? tagList.filter(item =>
            item.ContentBusinessType.some(type => type === vue.selectedTypes)
          )
        : tagList;

      //Return list
      return [...new Set(result)];
    },
    getPagination() {
      return Math.ceil(this.searchedList.length / this.pageSize);
    },
    paginatedData() {
      const start = this.pageSelected * this.pageSize,
        end = start + this.pageSize;
      return this.searchedList.slice(start, end);
    },
    toggleModal() {
      if (document.querySelector(".filterbar .modal")) {
        document
          .querySelector(".filterbar .modal")
          .classList.add("closedModal");
      }

      return this.$store.state.modalStartupOpened;
    },
    getInfoModal() {
      return this.$store.state.modalStartupInfo;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/main.scss";

.filterbar {
  text-align: center;
  padding: 0 0 72px 0;
  &__search {
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      max-width: 390px;
      width: 100%;
      @include font-XL;
      font-family: const(--brand-mohr);
      color: var(--Neu-08);
      border: none;
      text-align: center;
      &::placeholder {
        color: var(--Neu-04);
        transition: opacity 0.4s;
      }
      &::-webkit-search-cancel-button {
        display: none;
      }
      &:focus {
        &::placeholder {
          opacity: 0;
        }
      }
    }
    i {
      color: var(--Neu-04);
      font-size: var(--m);
    }
  }
  &__description {
    @include font-Body;
    color: var(--Neu-08);
    margin-top: 72px;
  }
  &__filters {
    display: flex;
    align-items: center;
    margin: 32px auto 40px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 850px;
    li {
      @include font-S;
      color: var(--Neu-06);
      padding: 4px 16px;
      border-radius: 13px;
      border: solid 1px var(--Neu-04);
      cursor: pointer;
      @include transition(all, 0.1s, 0s);
      margin: 6px;

      &:hover {
        opacity: 0.6;
      }
      &.checked {
        background-color: var(--Neu-07);
        color: var(--Neu-01);
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.dropdown {
  width: 300px;
  margin: 0 auto;
  text-align: left;
  cursor: pointer;
  z-index: 20;
  &:after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: var(--Neu-05);
    position: absolute;
    bottom: -4px;
    left: 0;
  }
  &:before {
    content: "";
    background-image: url(/images/dropdownarrow.png);
    height: 25px;
    width: 25px;
    position: absolute;
    right: 0px;
    top: 60%;
    transform: translateY(-50%);
    z-index: 2;
  }

  &__label {
    @include font-XS;
    color: var(--Neu-06);
  }

  &__list {
    display: none;
    max-height: 300px;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    box-shadow: 0px 8px 20px -2px rgba(0, 0, 0, 0.14);
    background: var(--Neu-01);
    &::-webkit-scrollbar {
      display: none;
    }
    li {
      @include font-Body;
      transition: opacity 0.2s ease-in-out;
      padding: 4px 0 0 16px;
      color: var(--Neu-06);

      &.selected {
        &:after {
          content: "";
          width: 4px;
          height: 4px;
          background: var(--Neu-06);
          position: absolute;
          right: 10px;
          border-radius: 50%;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      &:hover {
        opacity: 0.4;
      }
    }
  }

  &.open {
    .dropdown__list {
      display: block;
    }
  }
  &__placeholder {
    @include font-Body;
    font-weight: var(--bold);
    padding: 4px 0;
    &[data-color="purple"] {
      color: var(--M-01);
    }
    &[data-color="orange"] {
      color: var(--M-02);
    }
    &[data-color="blue"] {
      color: var(--M-03);
    }
    &[data-color="green"] {
      color: var(--M-04);
    }
  }
}

.startUpGallery {
  margin-top: 130px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 88px;
  grid-row-gap: 45px;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 35px;
  }

  @include phablet {
    grid-template-columns: repeat(1, 1fr);
  }

  &.noInfo {
    display: block;
    text-align: center;
    p {
      @include font-XL;
      font-family: var(--brand-mohr);
      color: var(--Neu-04);
    }
  }
  &-move {
    transition: all 600ms ease-in-out 50ms;
  }
  &-enter-active {
    transition: all 300ms ease-out;
  }

  &-leave-active {
    transition: all 200ms ease-in;
    position: absolute;
    z-index: 0;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }
  &-enter {
    transform: scale(0.9);
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 210px;
  margin: 100px auto 0;
  small {
    @include font-Body;
    color: var(--Neu-10);
    cursor: pointer;
    &.selected {
      &:after {
        border: solid 2px var(--Neu-04);
        border-radius: 50%;
        position: absolute;
        content: "";
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 32px;
        height: 32px;
      }
    }
  }

  span {
    color: var(--Neu-10);
    cursor: pointer;
    &:first-of-type {
      left: -10px;
    }
    &:last-of-type {
      transform: rotate(180deg);
      right: -10px;
    }
  }

  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .paginaWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
  }
}
</style>
