<template>
  <section class="footer" data-theme="dark">
    <aside class="footer__links">
      <nuxt-link to="/contacts">Contact Us</nuxt-link>
      <!-- <nuxt-link to="/privacy">Privacy Policy</nuxt-link> -->
      <a href="/privacyPolicy.pdf" aria-label="Privacy Policy">Privacy Policy</a>
    </aside>
    <aside class="footer__copyright">
      <img src="/images/Logo.gif" alt />
      <p>
        NEST @ {{getYear}}.
        <span>All rights reserved.</span>
      </p>
    </aside>
    <aside class="footer__social">
      <p>Follow us on</p>
      <a
        target="_blank"
        href="http://www.facebook.com/associacaonest"
        rel="noreferrer"
        aria-label="Facebook"
      >
        <i class="icon-bas-015"></i>
      </a>
      <a
        target="_blank"
        href="https://www.linkedin.com/company/associacaonest/"
        rel="noreferrer"
        aria-label="Linkedin"
      >
        <i class="icon-bas-016"></i>
      </a>
      <a
        target="_blank"
        href="http://www.instagram.com/nest_portugal"
        rel="noreferrer"
        aria-label="Instagram"
      >
        <i class="icon-bas-014"></i>
      </a>
    </aside>
  </section>
</template>

<script>
export default {
  props: {
    theme: String
  },
  computed: {
    getYear() {
      return new Date().getFullYear();
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/main.scss";
.footer {
  padding: 56px 64px;
  background: var(--Neu-01);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include tablet {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: none;
    padding: 56px 0;
    grid-row-gap: 3%;
  }

  aside {
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-of-type {
      justify-self: flex-start;
      @include tablet {
        justify-self: center;
      }
    }

    &:last-of-type {
      justify-self: flex-end;
      @include tablet {
        justify-self: center;
      }
    }
  }

  &__links a {
    @include font-Body;
    font-weight: var(--bold);
    color: var(--Neu-11);
    & + a {
      margin-left: 36px;
      @include tablet {
        margin-left: 32px;
      }
    }
    &:hover {
      opacity: 0.8;
    }
  }

  &__copyright {
    img {
      margin-right: 18px;
      max-width: 42px;
      // @include tablet {
      //   margin-right: 12px;
      // }
    }
    @include tablet {
      grid-row: 3;
      margin-top: 10px;
    }

    p {
      @include font-Body;
      font-weight: var(--regular);
      color: var(--Neu-05);
      text-transform: uppercase;
      @include tablet {
        @include font-S;
      }
      span {
        font-weight: var(--regular);
        text-transform: none;
      }
    }
  }

  &__social {
    p {
      @include font-Body;
      font-weight: var(--regular);
      margin-right: 20px;
      color: var(--Neu-05);
      @include tablet {
        @include font-S;
        margin-right: 10px;
      }
    }
    i {
      font-size: var(--xxs);
      color: var(--Neu-11);
    }

    a {
      margin: 0 12.5px;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

[data-theme="dark"] {
  background-color: var(--Neu-10);

  .footer__social a,
  .footer__links a,
  .footer__social i {
    color: var(--Neu-01);
  }

  .footer__copyright p,
  .footer__social p {
    color: var(--Neu-06);
  }
}
</style>>