<template>
  <div class="wrapper" data-aos-duration="800" data-aos-delay="800" data-aos-easing="ease-out-cubic" data-aos="fade-up">
    <Heading :item="copy" />
    <div class="container">
      <figure>
        <img src="/images/01.png" alt />
      </figure>
      <figure>
        <img src="/images/02.png" alt />
      </figure>
      <figure>
        <img src="/images/03.png" alt />
      </figure>
      <figure>
        <img src="/images/04.png" alt />
      </figure>
      <figure>
        <img src="/images/06.png" alt />
      </figure>
      <figure>
        <img src="/images/07.png" alt />
      </figure>
      <figure>
        <img src="/images/08.png" alt />
      </figure>
      <figure>
        <img src="/images/09.png" alt />
      </figure>
      <figure>
        <img src="/images/10.png" alt />
      </figure>
    </div>
  </div>
</template>

<script>
import Heading from "~/components/Heading.vue";

export default {
  components: {
    Heading
  },
  props: {
    item: Object
  },
  data: function() {
    return {
      copy: {
        StyleModuleColorTheme: {
          ColorName: "M-04"
        },
        StyleHeadingIcon: "Circle",
        ContentTitle: "Our Founders"
      }
    };
  }
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/main.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
  figure,
  img {
    width: 190px;

    @include mobile {
      width: 100px;
    }
  }

  figure {
    margin: 0 10px;
  }
}
</style>