<template>
  <section class="gridComponent">
    <button id="grid" @click="toggleGrid">X-RAY</button>
    <div class="wrapper">
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
    </div>
  </section>
</template>


<script>
export default {
  methods: {
    toggleGrid() {
      document.querySelector(".gridComponent").classList.toggle("closed");
    }
  }
};
</script>


<style lang="scss" scoped>
@import "~/assets/scss/main.scss";

.gridComponent {
  position: absolute;
  top: 0;
  left: 0;
  &.closed {
    .column {
      opacity: 0;
    }
  }
  button {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: var(--M-02);
    padding: 10px 20px;
    color: var(--Neu-01);
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.1s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
  .wrapper {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    pointer-events: none;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2%;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.1s ease-out;
  }
  .column {
    background-color: var(--M-02);
    opacity: 0.2;
    height: 100%;
  }
  @for $i from 1 through 12 {
    .column:nth-of-type(#{$i}) {
      transition: opacity 0.3s ease-out $i * 0.02s;
    }
  }
  @include phablet {
    .wrapper {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
</style>