<template>
  <section
    class="heading"
    :data-theme="item.StyleModuleColorTheme ? item.StyleModuleColorTheme.ColorName : 'purple' "
    data-aos-duration="400"
    data-aos-delay="100"
    data-aos-easing="ease-out-cubic"
    data-aos="fade-up"
  >
    <i :class="`icon-${item.StyleHeadingIcon}`" v-if="item.StyleHeadingIcon">
      <i class="path1"></i>
      <i class="path2"></i>
    </i>
    <div class="wrapper">
      <h3 class="heading__title">{{item.ContentTitle}}</h3>
      <p class="heading__description colorText" v-if="item.ContentSubtitle">{{item.ContentSubtitle}}</p>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    item: Object
  }
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/main.scss";
.heading {
  padding-top: 96px;
  max-width: 640px;
  text-align: center;
  margin: 0 auto 16px;
  &__title {
    font-family: var(--brand-mohrsemi);
    color: var(--Neu-10);
    @include font-XL;
    margin-bottom: 16px;
  }

  &__description {
    font-family: var(--brand-mohr);
    @include font-M;
    margin-top: 16px;
    color: var(--Neu-03);
  }

  &__description,
  &__title {
    max-width: 800px;
  }

  i {
    font-size: var(--xxs);
    position: relative;
    top: -24px;
    .path1,
    .path2 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
</style>>