<template>
  <section
    class="header checkFix"
    v-if="currentSlider"
    :data-theme="currentSlider.SliderColorTheme.ColorName"
  >
    <transition-group class="carousel" tag="div" name="fade">
      <div v-for="i in [currentIndexSlider]" :key="i" class="slider-item">
        <figure>
          <img
            :src="currentSlider.SliderBackgroundImage.ImageSrc"
            :alt="currentSlider.SliderBackgroundImage.ImageAlt"
          />
        </figure>
        <div class="header__info">
          <div class="title-container">
            <span
              class="header__label colorLabel"
              v-if="currentSlider.SliderTitleLabel"
            >{{ currentSlider.SliderTitleLabel }}</span>

            <h1
              class="header__title"
              :class="{ small: currentSlider.SliderTitle.length >= 33 }"
            >{{ currentSlider.SliderTitle }}</h1>
          </div>
          <div class="description-container">
            <p class="header__description">{{ currentSlider.SliderSubtitle }}</p>
          </div>
          <div class="btn-container" v-if="currentSlider.SliderButton[0]">
            <Button
              :type="currentSlider.SliderButton[0].ButtonStyle"
              :color="currentSlider.SliderButton[0].StyleButtonColor ? currentSlider.SliderButton[0].StyleButtonColor.ColorName : currentSlider.SliderColorTheme.ColorName"
              :link="currentSlider.SliderButton[0].ButtonLink"
              :text="currentSlider.SliderButton[0].ButtonText"
            />
          </div>
        </div>
      </div>
    </transition-group>
    <a class="prev" @click="prev" href="#" aria-label="Previous">
      <i class="icon-bas-005"></i>
    </a>
    <a class="next" @click="next" href="#" aria-label="Next">
      <i class="icon-bas-005"></i>
    </a>
    <div class="header__bottom">
      <ul class="slider-pagination">
        <li
          v-for="(slide, index) in slides"
          :key="index"
          :class="{ active: index == currentIndexSlider }"
          @click="clickBullet(index)"
        ></li>
      </ul>
      <p class="header__scroll" @click="scrollPage">SCROLL</p>
      <ul class="header__social">
        <li>
          <a
            target="_blank"
            href="http://www.facebook.com/associacaonest"
            aria-label="Facebook"
            rel="noreferrer"
          >
            <i class="icon-bas-015"></i>
          </a>
        </li>
        <li>
          <a
            target="_blank"
            href="https://www.linkedin.com/company/associacaonest/"
            aria-label="Linkedin"
            rel="noreferrer"
          >
            <i class="icon-bas-016"></i>
          </a>
        </li>
        <li>
          <a
            target="_blank"
            href="http://www.instagram.com/nest_portugal"
            aria-label="Instagram"
            rel="noreferrer"
          >
            <i class="icon-bas-014"></i>
          </a>
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
import Button from "~/components/Button.vue";
import smoothscroll from "smoothscroll-polyfill";

export default {
  components: {
    Button
  },
  props: {
    theme: String,
    slides: Array
  },
  data() {
    return {
      currentIndexSlider: 0,
      startX: 0,
      minDistance: 50
    };
  },
  methods: {
    next(e) {
      e && e.preventDefault();
      if (this.currentIndexSlider < this.slides.length - 1)
        this.currentIndexSlider += 1;
      else {
        this.currentIndexSlider = 0;
      }
    },
    prev(e) {
      e && e.preventDefault();
      if (this.currentIndexSlider != 0) this.currentIndexSlider -= 1;
      else this.currentIndexSlider = this.slides.length - 1;
    },
    clickBullet(index) {
      this.currentIndexSlider = index;
    },
    swipeStart(e) {
      const touched = e.changedTouches[0];
      this.startX = touched.clientX;
    },
    swipeEnd(e) {
      const touched = e.changedTouches[0],
        distanceX = touched.clientX - this.startX;
      if (distanceX >= this.minDistance || -distanceX >= this.minDistance) {
        if (distanceX < 0) this.next();
        else this.prev();
      }
    },
    scrollPage({ currentTarget }) {
      const headerSection = currentTarget.closest("section"),
        sectionToScrollTo = headerSection.nextElementSibling,
        top = sectionToScrollTo.offsetTop;
      window.scroll({
        behavior: "smooth",
        left: 0,
        top: top
      });
    }
  },
  computed: {
    currentSlider() {
      return this.slides[
        Math.abs(this.currentIndexSlider) % this.slides.length
      ];
    }
  },
  mounted() {
    if (document.querySelector(".header")) {
      document
        .querySelector(".header")
        .addEventListener("touchstart", this.swipeStart);
      document
        .querySelector(".header")
        .addEventListener("touchend", this.swipeEnd);
      smoothscroll.polyfill();
    }
  }
};
</script>
<style lang="scss">
@import "~/assets/scss/main.scss";

//Slider animation
.fade-enter-active,
.fade-leave-active {
  @include transition(all, 1.5s, 0s);
  position: absolute;
  width: 100%;
  // transform: scale(1);
  opacity: 1;
  .header__title {
    @include transition(all, 0.5s, 0.3s);
    transform: translateY(0);
    opacity: 1;
  }

  figure {
    @include transition(all, 0.8s, 0s);
    transform: scale(1);
  }
  .header__label {
    @include transition(all, 0.3s, 0.75s);
    opacity: 1;
  }
  .header__description {
    @include transition(all, 0.5s, 0.3s);
    transform: translateY(0);
    opacity: 1;
  }
  .btn-container {
    @include transition(all, 0.3s, 0.75s);
    opacity: 1;
  }
}
.fade-leave-active {
  .header__title {
    opacity: 0;
  }
}
.title-container {
  overflow: hidden;
  padding-top: 42px;
}
.description-container {
  overflow: hidden;
}
.fade-enter,
.fade-leave-to {
  width: 100%;
  // transform: scale(1.5);
  opacity: 0;
  .header__title {
    transform: translateY(300px);
    opacity: 0;
  }

  figure {
    @include transition(all, 0.8s, 0s);
    transform: scale(1.5);
  }
  .header__label {
    @include transition(all, 0.3s, 0.4s);
    transform: translateY(20px);
    opacity: 0;
  }
  .header__description {
    transform: translateY(300px);
    opacity: 0;
  }
  .btn-container {
    @include transition(all, 0.3s, 0.4s);
    transform: translateY(20px);
    opacity: 0;
  }
}

//Slider css
.header {
  background-color: var(--Neu-11);
  height: 100vh;
  width: 100vw;
  .carousel {
    height: 100%;

    .slider-item {
      height: 100%;
      // background: no-repeat center;
      // background-size: cover;
    }
  }

  &__label {
    @include font-Body;
    font-weight: var(--extrabold);
    border-radius: 12px;
    padding: 0px 7px;
    text-transform: uppercase;
    top: -28px;
  }

  figure {
    height: 100%;
    &:after {
      content: "";
      position: absolute;
      height: 50%;
      width: 100%;
      bottom: 0;
      left: 0;
      z-index: 1;
      // background-image: linear-gradient(
      //   to bottom,
      //   rgba(24, 30, 47, 0),
      //   rgba(24, 30, 47, 0.77) 50%,
      //   var(--Neu-10)
      // );
      background-image: linear-gradient(
        to bottom,
        rgba(24, 30, 47, 0),
        rgba(24, 30, 47, 0.76) 50%,
        #181e2f 100%
      );

      pointer-events: none;
    }
    img {
      height: 100%;
      object-fit: cover;
      opacity: 0.6;
    }
  }

  &__title {
    font-family: var(--brand-mohrbold);
    color: var(--Neu-01);
    @include font-Giant;

    &.small {
      @include font-XXL;
    }
  }
  &__description {
    margin-top: 26px;
    font-family: var(--brand-mohr);
    color: var(--Neu-03);
    @include font-M;
    @include tablet {
      display: none;
    }
  }

  &__title,
  &__description {
    span {
      opacity: 0;
    }
  }

  &__info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 800px;
    z-index: 2;
    width: 90%;
    .btn-container {
      margin-top: 56px;
      justify-content: center;
    }
  }

  &__bottom {
    position: absolute;
    left: 0;
    z-index: 2;
    bottom: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--m);
    @include phablet {
      flex-flow: column;
      // height: 120px;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    @include phablet {
      display: none;
    }
    i {
      font-size: var(--xxs);
      color: var(--Neu-01);
      margin: 0 18px;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  &__scroll {
    @include transition(opacity, 0.1s, 0);
    @include font-S;
    color: var(--Neu-03);
    font-family: var(--brand-mohr);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg);
    z-index: 3;
    opacity: 1;
    bottom: 0;
    cursor: pointer;
    font-weight: var(--bold);
    letter-spacing: 2px;
    &:hover {
      opacity: 0.8;
    }

    @include phablet {
      display: none;
    }
  }

  .slider-pagination {
    display: flex;
    align-items: center;
    li {
      @include transition(all, 0.4s, 0);
      background: var(--Neu-01);
      border-radius: 50px;
      width: 7px;
      height: 7px;
      margin: 0 11px;
      cursor: pointer;
      &.active {
        @include transition(all, 0.4s, 0);
        height: 11px;
        width: 11px;
      }
      &:hover {
        opacity: 0.8;
      }
    }

    // @include phablet {
    //   position: absolute;
    //   bottom: 75px;
    // }
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    //padding: var(--m);
    z-index: 2;
    &:hover {
      opacity: 0.8;
    }
    i {
      font-size: var(--m);
      color: var(--Neu-01);
    }
    &.disabled {
      pointer-events: none;
      opacity: 0.2;
    }
    @include phablet {
      display: none;
    }
  }

  .next {
    right: 64px;
    transform: rotate(180deg) translateY(-50%);
    bottom: 50%;
  }

  .prev {
    left: 48px;
    top: 50%;
    transform: translateY(-50%);
  }
}
</style>
