<template>
  <section class="infoicons" :data-size="this.items.length" >
    <div class="wrapper">
      <InfoIconItem v-for="(item, index) in this.items" :key="index" v-bind="item" :infoicon="item" :data-aos-duration="`800 * ${index}`" :data-aos-delay="`100 * ${index}`" data-aos-easing="ease-out-cubic" data-aos="fade-up" data-aos-anchor-placement="center-bottom"	/>
    </div>
  </section>
</template>

<script>
import InfoIconItem from "~/components/InfoIconItem.vue"
export default {
  components: {
    InfoIconItem
  },
  props: {
    items: Array
  }
}
</script>

<style lang="scss" scoped>
@import "~/assets/scss/main.scss";

.infoicons {
  padding: 0 0 120px 0;
  @include phablet {
    padding: 0 0 80px 0;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2%;
    @include phablet {
      display: block;
    }
  }
}

[data-size="2"],
[data-size="1"] {
  .wrapper {
    justify-content: space-around;
  }
}
</style>
