<template>
  <article class="InfoIconItem" >
    <img :src="ContentIcon.ImageSrc" :alt="ContentIcon.ImageAlt" v-if="ContentIcon" />
    <h3 class="InfoIconItem__title">{{ContentTitle}}</h3>
    <p class="InfoIconItem__description">{{ContentDescription}}</p>
  </article>
</template>

<script>
export default {
  props: {
    ContentIcon: Object,
    ContentTitle: String,
    ContentDescription: String
  }
};
</script>

<style lang="scss">
@import "~/assets/scss/main.scss";

.InfoIconItem {
  @include phablet {
    margin: 24px 0;
    max-width: none;
  }
  &__title {
    @include font-XL;
    color: var(--Neu-11);
    font-family: var(--brand-mohrsemi);
    min-height: 110px;
    padding-bottom: 20px;
    @include phablet {
      margin-bottom: 18px;
      min-height: auto;
    }
  }
  &__description {
    @include font-Body;
    color: var(--Neu-07);
    font-weight: var(--regular);
  }
  img {
    max-width: 120px;
    margin: 0 0 24px;
  }

  &:first-of-type {
    grid-column: 2/4;

    @include tablet {
      grid-column: 1/5;
    }
  }
  &:nth-of-type(2) {
    grid-column: 6/8;
    @include tablet {
      grid-column: 5/9;
    }
  }

  &:nth-of-type(3) {
    grid-column: 10/12;
    @include tablet {
      grid-column: 9/13;
    }
  }
}
</style>
