<template>
  <div
    class="container"
    :data-center="item.StyleCentered"
    :data-background="item.StyleInfoIconColor.ColorName"
    data-aos-duration="800" data-aos-delay="800" data-aos-easing="ease-out-cubic" data-aos="fade-up"
  >
    <div class="wrapper">
      <h3>{{item.ContentTitle}}</h3>
      <div class="itemlist" v-for="section in item.ContentGroups" :key="section.id">
        <h4>{{section.ContentTitle}}</h4>
        <div class="itemlist__grid">
          <figure v-for="icon in section.ContentItems" :key="icon.id">
            <img
              :src="icon.ContentIcon.ImageSrc"
              :alt="icon.ContentIcon.ImageAlt"
              v-if="icon.ContentIcon"
            />
            <figcaption>{{icon.ContentTitle}}</figcaption>
            <figcaption>{{icon.ContentDescription}}</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: Object
  }
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/main.scss";
h3 {
  @include font-L;
  color: var(--Neu-11);
  font-family: var(--brand-mohrbold);
  margin-bottom: 26px;
  grid-column: 2/4;
}
.itemlist {
  grid-column: 2/9;
  h4 {
    @include font-Body;
    color: var(--Neu-11);
    font-weight: var(--bold);
    margin-bottom: 18px;
  }

  &__grid {
    margin-bottom: 42px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    figure {
      max-width: 140px;
      img {
        max-width: 66px;
      }
      & + figure {
        margin-left: 20px;
        margin-bottom: 20px;
        &:nth-child(4n + 1) {
          margin-left: 0;
        }
        @include phablet {
          margin-left: 0;
        }
      }
    }

    @include phablet {
      display: grid;
      grid-template-columns: repeat(2, 50%);
    }
  }
  figcaption {
    @include font-S;
    font-weight: var(--regular);
    color: var(--Neu-07);
    margin-top: 8px;
  }
}

.container {
  padding: 64px 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2%;

  @include phablet {
    display: block;
  }
}

[data-background="Purple"] {
  background-color: var(--M-01);
  h3,
  h4,
  figcaption {
    color: var(--Neu-01);
  }
}
[data-background="Orange"] {
  background-color: var(--M-02);
  h3,
  h4,
  figcaption {
    color: var(--Neu-01);
  }
}
[data-background="Blue"] {
  background-color: var(--M-03);
  h3,
  h4,
  figcaption {
    color: var(--Neu-01);
  }
}
[data-background="Green"] {
  background-color: var(--M-04);
  h3,
  h4,
  figcaption {
    color: var(--Neu-01);
  }
}

[data-center="true"] {
  h3 {
    grid-column: 4/6;
  }

  .itemlist {
    grid-column: 4/12;
  }
}
</style>