<template>
  <div>
    <ItemListGrid :item="item" />
  </div>
</template>

<script>
import ItemListGrid from "~/components/ItemListGrid.vue";
export default {
  components: {
    ItemListGrid
  },
  props: {
    item: Object
  }
};
</script>