<template>
  <div
    class="formfields"
    data-aos-duration="800"
    data-aos-delay="800"
    data-aos-easing="ease-out-cubic"
    data-aos="fade-up"
  >
    <div
      class="text required"
      data-required="This field is required."
      data-wrong="Please fill in correctly."
      data-regex
      :class="{ filled: startupInfo.StartupName }"
    >
      <small>Startup Name</small>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Your startup name here"
        v-model="startupInfo.StartupName"
        @blur="handleBlur"
      />
      <span></span>
    </div>
    <div
      class="text required"
      data-required="This field is required."
      data-wrong="Please fill in correctly."
      data-regex="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
      :class="{ filled: startupInfo.Email }"
    >
      <small>Institutional E-mail</small>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="yourstartup@email.com"
        v-model="startupInfo.Email"
        @blur="handleBlur"
      />
      <span></span>
    </div>
    <div
      class="text"
      data-required="This field is required."
      data-wrong="Please fill in correctly."
      :class="{ filled: startupInfo.WebsiteName }"
    >
      <small>
        Website URL
        <u>(Optional)</u>
      </small>
      <input
        type="text"
        name="WebsiteName"
        id="WebsiteName"
        placeholder="Your website URL"
        v-model="startupInfo.WebsiteName"
        @blur="handleBlur"
      />
      <span></span>
    </div>
    <div
      class="text required"
      data-required="This field is required."
      data-wrong="Please fill in correctly."
      data-regex
      :class="{ filled: startupInfo.ContactNumber }"
    >
      <small>Institutional Phone Number</small>
      <input
        type="number"
        name="number"
        id="number"
        placeholder="+351 888 888 888"
        v-model="startupInfo.ContactNumber"
        @blur="handleBlur"
      />
      <span></span>
    </div>

    <div
      class="dropdown required"
      @click="toggleDropdown"
      data-name="BusinessType"
      data-required="This field is required."
      :class="{ filled: startupInfo.BusinessType }"
    >
      <p class="dropdown__label">Business Type</p>
      <p class="dropdown__placeholder">Choose a business type</p>
      <ul class="dropdown__list">
        <li @click="selectDropdownValue" data-color="orange">Startup</li>
        <li @click="selectDropdownValue" data-color="purple">Corporation</li>
        <li @click="selectDropdownValue" data-color="green">Accelerator</li>
        <li @click="selectDropdownValue" data-color="blue">Incubator</li>
      </ul>
      <span></span>
    </div>

    <div
      class="checkBoxes required"
      data-name="Categories"
      data-required="This field is required."
      :class="{ filled: Object.keys(this.startupInfo.Categories).length > 0 }"
    >
      <p>Choose categories</p>
      <div class="checkContainer">
        <div v-for="(item, index) in this.Categories" :key="index" class="checkbox">
          <input
            type="checkbox"
            v-model="startupInfo.Categories"
            :name="item"
            :id="item"
            :value="item"
          />
          <i class="checkmark"></i>
          <label :for="item">{{ item }}</label>
        </div>
        <div class="checkbox" :class="{error: otherIsActivated}">
          <input
            type="checkbox"
            name="other"
            id="other"
            value="Other"
            v-model="startupInfo.Categories"
            @click="toggleOther"
          />
          <i class="checkmark"></i>
          <label for="other">Other</label>
          <input
            type="text"
            name="other"
            id="other"
            v-model="startupInfo.Other"
            :class="{ filled: startupInfo.Other, required: otherIsActivated }"
            @blur="handleBlur"
            :disabled="!otherIsActivated"
          />
          <span>This field is required.</span>
        </div>
      </div>
      <span></span>
    </div>

    <div
      class="text required"
      data-required="This field is required."
      data-wrong="Please fill in correctly."
      data-regex
      :class="{ filled: startupInfo.StartupDescription }"
    >
      <small>
        Description
        <u>(Max length is 1500 characters)</u>
      </small>
      <textarea
        name="description"
        id="description"
        v-model="startupInfo.StartupDescription"
        @blur="handleBlur"
        maxlength="1500"
        placeholder="Type here"
      ></textarea>
      <span></span>
    </div>

    <div class="upload" :class="{ filled: startupInfo.previewImage }">
      <span>
        Logo/image upload
        <u>(Optional)</u>
      </span>
      <small @click="clickUploadFile">
        <i class="icon-bas-002"></i>
      </small>
      <img :src="previewImage" alt v-if="previewImage" />
      <input
        type="file"
        accept="image/*"
        @change="uploadImage($event)"
        id="file-input"
        name="Image"
      />
    </div>

    <div class="checkbox">
      <input
        type="checkbox"
        name="update"
        id="update"
        @click="toggleUpdate"
        v-model="startupInfo.IsStartupUpdate"
      />
      <i class="checkmark"></i>
      <label for="update">Is this an update?</label>
    </div>

    <div
      class="text"
      :class="{ hidden: !isUpdate, required: isUpdate, filled: startupInfo.ExistingStartupName }"
      data-required="This field is required."
      data-wrong="Please fill in correctly."
      data-regex
    >
      <small>Startup Name</small>
      <input
        type="text"
        name="nameUpdate"
        id="nameUpdate"
        placeholder="Your startup name here"
        v-model="startupInfo.ExistingStartupName"
        @blur="handleBlur"
      />
      <span></span>
    </div>

    <div
      class="checkbox checkBoxes"
      data-name="Authorize"
      data-required="This field is required."
      :class="{ filled: this.startupInfo.Authorize }"
    >
      <input type="checkbox" name="Authorize" id="Authorize" v-model="startupInfo.Authorize" />
      <i class="checkmark"></i>
      <label
        class="small"
        for="Authorize"
      >By subscribing to this form I consent to receive the NEST information. Data collected on this form is subject to computer processing operated under the responsibility of NEST. For more details, see our Privacy Policy.</label>
      <span></span>
    </div>

    <div class="btn-container" @click="gatherData">
      <Button type="CTA-01" color="M-04" text="Send" handleClick />
    </div>

    <div class="messages" v-if="dataSent">
      <p>{{ serviceMessage }}</p>
    </div>
  </div>
</template>

<script>
import Axios from "axios";
import Button from "~/components/Button.vue";
export default {
  components: {
    Button
  },
  data() {
    return {
      isUpdate: false,
      dataSent: false,
      serviceMessage: "",
      type: String,
      color: String,
      text: String,
      Categories: [
        "Experience",
        "AI|AR|VR",
        "Communication",
        "Gastronomy",
        "Booking Engines",
        "Transport",
        "HR",
        "Operations",
        "Financial",
        "Revenue/Profit",
        "Channel Manager",
        "Metasearch",
        "Niche",
        "OTA"
      ],
      previewImage: null,
      startupInfo: {
        Categories: [],
        Authorize: false
      },
      allValidated: false,
      otherIsActivated: false
    };
  },
  methods: {
    toggleDropdown({ currentTarget }) {
      currentTarget.classList.toggle("open");
    },
    selectDropdownValue({ currentTarget }) {
      const color = currentTarget.dataset.color,
        text = currentTarget.textContent,
        dropdown = currentTarget.closest(".dropdown");

      dropdown.querySelector(".dropdown__placeholder").textContent = text;
      dropdown.classList.remove("error");
      if (color)
        dropdown.querySelector(".dropdown__placeholder").dataset.color = color;
      if (dropdown.querySelector(".selected"))
        dropdown.querySelector(".selected").classList.remove("selected");
      currentTarget.classList.add("selected");

      //Add info to object
      this.startupInfo[dropdown.dataset.name] = currentTarget.textContent;
    },
    clickUploadFile() {
      document.querySelector('input[type="file"').click();
    },
    uploadImage(e) {
      const image = e.target.files[0];
      const reader = new FileReader();
      // const formData = new FormData();
      reader.readAsDataURL(image);
      reader.onload = e => {
        this.previewImage = e.target.result;
      };
      //formData.append("file", image);
      this.startupInfo.Image = image;
    },
    toggleUpdate() {
      this.isUpdate = !this.isUpdate;
    },
    toggleOther() {
      this.otherIsActivated = !this.otherIsActivated;
      if (!this.otherIsActivated) this.startupInfo.Other = "";
    },
    gatherData({ currentTarget }) {
      const vue = this,
        // url = `${window.location.origin}/Services/umbraco/api/Startups/SubmitStartup`,
        url = `${window.location.origin}/Services/umbraco/api/Startups/SubmitStartup`,
        data = vue.startupInfo;
      const formData = new FormData(),
        allRequired = Array.from(document.querySelectorAll(".required"));

      document.querySelectorAll(".required").forEach(function(field) {
        if (
          field.classList.contains("text") &&
          !field.classList.contains("filled")
        )
          vue.validateText(field);
        if (
          field.classList.contains("dropdown") &&
          !field.classList.contains("filled")
        )
          vue.validateDropdown(field);
        if (
          field.classList.contains("checkBoxes") &&
          !field.classList.contains("filled")
        )
          vue.validateCheckBox(field);
        // return;
      });

      if (allRequired.every(vue.checkIfAllValidated)) {
        for (const [key, value] of Object.entries(data)) {
          formData.append(key, value);
        }

        var request = new Request(url, {
          method: "POST",
          body: formData
        });

        fetch(request)
          .then(function(response) {
            return response.json();
          })
          .then(function(response) {
            vue.dataSent = true;
            vue.serviceMessage = response.Message;
          });
      }
    },
    validateText(item) {
      const dataAttrs = item.dataset,
        required = dataAttrs.required || "This field is required",
        regex = new RegExp(dataAttrs.regex || ""),
        wrong = dataAttrs.wrong || "Please fill in correctly.",
        spanError = item.querySelector("span");
      let value;

      if (item.classList.contains("checkbox"))
        value = item.querySelector('input[type="text"]').value;
      else {
        value = item.querySelector("input")
          ? item.querySelector("input").value
          : item.querySelector("textarea").value;
      }

      if (value == "") {
        item.classList.add("error");
        spanError.textContent = required;
      } else if (regex.test(value)) {
        item.classList.remove("error");
      } else {
        item.classList.add("error");
        spanError.textContent = wrong;
      }
    },
    validateDropdown(item) {
      const dropName = item.dataset.name,
        required = item.dataset.required;

      if (this.startupInfo[dropName]) {
        item.classList.remove("error");
        return;
      } else {
        item.classList.add("error");
        item.querySelector("span").textContent = required;
      }
    },
    validateCheckBox(item) {
      const checkName = item.dataset.name,
        required = item.dataset.required;
      if (
        this.startupInfo[checkName].length > 0 ||
        this.startupInfo.checkName
      ) {
        item.classList.remove("error");
        return;
      } else {
        item.classList.add("error");
        item.querySelector("span").textContent = required;
      }
    },
    handleBlur({ currentTarget }) {
      if (
        currentTarget.classList.contains("required") ||
        currentTarget.parentElement.classList.contains("required")
      )
        this.validateText(currentTarget.parentElement);
    },
    checkIfAllValidated(reqField) {
      return (
        reqField.classList.contains("filled") &&
        !reqField.classList.contains("error")
      );
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/main.scss";

.formfields {
  max-width: 600px;
  margin: 60px auto;
  width: 90%;

  .requiredWarn {
    @include font-XS;
    color: var(--War-02);
    position: absolute;
    right: 0;
    top: -20px;
  }

  .text {
    position: relative;

    margin: 46px 0;
    width: 100%;
    border: none;
    -webkit-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;

    small {
      @include font-S;
      color: var(--Neu-06);
      position: absolute;
      top: -16px;
      left: 0;
      u {
        color: var(--Neu-05);

        text-decoration: none;
        font-style: italic;
      }
    }

    input {
      border: none;
      width: 100%;
      padding: 8px 0;
      height: 40px;
      @include font-Body;
      color: var(--Neu-12);
      &::placeholder {
        @include font-Body;
        color: var(--Neu-07);
        transition: 0.5s opacity;
      }
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &:focus {
        &::placeholder {
          opacity: 0;
        }
      }
    }
    &:after {
      content: "";
      height: 1px;
      width: 100%;
      background-color: var(--Neu-05);
      position: absolute;
      bottom: 0px;
      left: 0;
    }

    textarea {
      @include font-Body;
      color: var(--Neu-12);
      width: 100%;
      height: 110px;
      border: none;
      resize: none;

      &::placeholder {
        @include font-Body;
        color: var(--Neu-07);
        transition: 0.5s opacity;
      }
      &:focus {
        &::placeholder {
          opacity: 0;
        }
      }
    }

    &.hidden {
      overflow: hidden;
      height: 0;
      margin: 0;
    }
    &.error {
      &:after {
        background-color: var(--War-02);
      }

      span {
        display: block;
      }
    }

    span {
      color: var(--War-02);
      @include font-XS;
      display: none;
      position: absolute;
      left: 0;
      bottom: -17px;
    }
  }
  .dropdown {
    text-align: left;
    cursor: pointer;
    margin: 46px 0;
    &:after {
      content: "";
      height: 1px;
      width: 100%;
      background-color: var(--Neu-05);
      position: absolute;
      bottom: -4px;
      left: 0;
    }

    &:before {
      content: "";
      background-image: url(/images/dropdownarrow.png);
      height: 25px;
      width: 25px;
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
    }

    &__label {
      @include font-XS;
      color: var(--Neu-06);
    }

    &__list {
      display: none;
      max-height: 300px;
      overflow-y: scroll;
      position: absolute;
      width: 100%;
      background: var(--Neu-01);
      z-index: 2;
      box-shadow: 0px 8px 20px -2px rgba(0, 0, 0, 0.14);

      &::-webkit-scrollbar {
        display: none;
      }
      li {
        @include font-Body;
        transition: opacity 0.2s ease-in-out;
        padding: 4px 0 0 16px;
        color: var(--Neu-06);

        &.selected {
          &:after {
            content: "";
            width: 4px;
            height: 4px;
            background: var(--Neu-06);
            position: absolute;
            right: 10px;
            border-radius: 50%;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        &:hover {
          opacity: 0.4;
        }
      }
    }

    &.open {
      .dropdown__list {
        display: block;
        padding-bottom: 6px;
      }
    }
    &__placeholder {
      @include font-Body;
      font-weight: var(--bold);
      padding: 4px 0;
      &[data-color="purple"] {
        color: var(--M-01);
      }
      &[data-color="orange"] {
        color: var(--M-02);
      }
      &[data-color="blue"] {
        color: var(--M-03);
      }
      &[data-color="green"] {
        color: var(--M-04);
      }
    }
    &.error {
      .dropdown__label {
        color: var(--War-02);
      }
      span {
        display: block;
      }
    }
    span {
      color: var(--War-02);
      @include font-XS;
      display: none;
      position: absolute;
      left: 0;
      bottom: -20px;
    }
  }

  .upload {
    display: flex;
    align-items: center;
    span {
      @include font-Body;
      color: var(--Neu-07);
      margin-right: 16px;

      u {
        @include font-S;
        color: var(--Neu-05);
        position: absolute;
        left: 0;
        bottom: -12px;
        text-decoration: none;
        font-style: italic;
      }
    }
    small {
      padding: 12px 14px;
      background-color: var(--M-04);
      border-radius: 50%;
      cursor: pointer;
      transition: opacity 0.4s ease-in;
      transform: rotate(45deg);
      i {
        color: var(--Neu-01);
      }
      &:hover {
        opacity: 0.7;
      }
    }
    [type="file"] {
      display: none;
    }
    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      margin-left: 40px;
    }
  }

  .checkbox {
    display: flex;
    align-items: center;
    margin: 16px 0;
    position: relative;
    cursor: pointer;
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 24px;
      width: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--Neu-04);
      border-radius: 4px;
      cursor: pointer;
      &:after {
        content: "";
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        display: none;
      }
      &:hover {
        background-color: var(--Neu-03);
      }
    }

    label {
      @include font-Body;
      color: var(--Neu-07);
      cursor: pointer;
      margin-left: 0;
      left: -20px;
      padding-left: 36px;
      &.small {
        @include font-S;
        color: var(--Neu-06);
      }
      &:hover {
        .checkmark {
          background-color: var(--Neu-03);
        }
      }
    }
    input[type="checkbox"] {
      opacity: 0;
      &:checked {
        + .checkmark {
          background-color: var(--Neu-05);
          &:after {
            display: block;
          }
        }
      }
    }
    input[type="text"] {
      border: none;
      border-bottom: 1px solid grey;
      width: 100%;
      margin-left: 8px;
      @include font-Body;
      color: var(--Neu-12);
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &:disabled {
        background-color: var(--Neu-01);
      }
      &::placeholder {
        @include font-Body;
        color: var(--Neu-07);
        transition: 0.5s opacity;
      }
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &:focus {
        &::placeholder {
          opacity: 0;
        }
      }
    }

    &.error {
      span {
        display: block;
      }
    }
    &:hover {
      .checkmark {
        background-color: var(--Neu-03);
      }
    }
  }

  .checkBoxes {
    p {
      @include font-XS;
      color: var(--Neu-06);
    }
    .checkContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    &.error {
      p,
      label.small {
        color: var(--War-02);
      }
      span {
        display: block;
      }
    }

    span {
      color: var(--War-02);

      @include font-XS;
      display: none;
      position: absolute;
      left: 0;
      bottom: -20px;
    }
  }

  .btn-container {
    justify-content: center;
  }

  .messages {
    p {
      @include font-Body;
      color: var(--War-01);
      text-align: center;
      margin-top: 40px;
    }
  }

  .noPlaceholder {
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
      display: none;
    }
  }
}
</style>
