<template>
  <div :class="{onLoad: loading}">
    <figure class="loading">
      <img src="/images/loading.gif" alt="loading" />
    </figure>
  </div>
</template>


<script>
export default {
  props: {
    loading: Boolean
  }
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/main.scss";

div {
  z-index: 20;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--Neu-10);
  display: flex;
  align-items: center;
  justify-content: center;
  // animation: fadeOut 10s cubic-bezier(0.56, 0.01, 0.23, 1) forwards;
  // -webkit-animation: fadeOut-data-v-34202f8a 1s cubic-bezier(.58,.94,.12,1) 1s forwards;
  // animation: fadeOut-data-v-34202f8a 1s cubic-bezier(.58,.94,.12,1) 1s forwards;
  pointer-events: none;
  transition: opacity 0.8s cubic-bezier(0.58, 0.94, 0.12, 1) 0.6s;
  opacity: 0;

  .loading {
    max-width: 400px;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transition: all 0.6s cubic-bezier(0.58, 0.94, 0.12, 1) 0.1s;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  &.onLoad {
    opacity: 1;
    .loading {
      opacity: 1;
    }
    // animation: fadeIn 1s cubic-bezier(0.56, 0.01, 0.23, 1) forwards;
  }
}
</style>