<template>
  <nav
    :data-theme="color"
    :class="{opened : menuOpened, fixed: isFixed, collapsed: isCollapsed}"
    v-show="!this.$store.state.modalOpened"
  >
    <nuxt-link to="/" class="logo" aria-label="Homepage">
      <img
        :src="isFixed || isTablet ? '/images/Menu-Logo-1.gif' : '/images/Menu-Logo-2.gif'"
        alt="logo NEST"
      />
    </nuxt-link>

    <ul class="links">
      <li @click="toggleMenu" @mouseenter="linkHover" @mouseleave="takeHover">
        <nuxt-link to="/about-us">about us</nuxt-link>
      </li>
      <li @click="toggleMenu" @mouseenter="linkHover" @mouseleave="takeHover">
        <nuxt-link to="/portfolio">portfolio</nuxt-link>
      </li>
      <li @click="toggleMenu" @mouseenter="linkHover" @mouseleave="takeHover">
        <nuxt-link to="/challenges">challenges</nuxt-link>
      </li>
      <li @click="toggleMenu" @mouseenter="linkHover" @mouseleave="takeHover">
        <nuxt-link to="/resources">resources</nuxt-link>
      </li>
      <li @click="toggleMenu" @mouseenter="linkHover" @mouseleave="takeHover">
        <nuxt-link to="/events">events</nuxt-link>
      </li>
    </ul>

    <span class="toggleMenu" @click="toggleMenu">
      <i class="icon-bas-001" v-if="!menuOpened"></i>
      <i class="icon-bas-002" v-else></i>
    </span>
  </nav>
</template>

<script>
export default {
  props: {
    color: String
  },
  data: function() {
    return {
      menuOpened: false,
      isFixed: false,
      isTablet: false,
      isCollapsed: false
    };
  },
  methods: {
    toggleMenu() {
      if (window.innerWidth <= 1024) {
        this.menuOpened = !this.menuOpened;
        document.querySelector("body").style.overflow == "hidden"
          ? (document.querySelector("body").style.overflow = "visible")
          : (document.querySelector("body").style.overflow = "hidden");
      }
    },
    linkHover({ currentTarget }) {
      currentTarget.parentElement.querySelectorAll("li").forEach(element => {
        element.style.opacity = "0.2";
      });
      currentTarget.style.opacity = "1";
    },
    takeHover({ currentTarget }) {
      currentTarget.parentElement.querySelectorAll("li").forEach(element => {
        element.style.opacity = "1";
      });
    },
    fixMenu() {
      this.isFixed =
        window.scrollY > document.querySelector(".checkFix").offsetHeight;
    },
    checkIfCollapsed() {
      this.isCollapsed =
        window.scrollY <= document.querySelector(".checkFix").offsetHeight &&
        window.scrollY > document.querySelector("nav").offsetHeight;
    },
    checkIfTablet() {
      this.isTablet = window.innerWidth <= 768;
    }
  },
  created() {
    window.addEventListener("scroll", this.fixMenu);
    window.addEventListener("scroll", this.checkIfCollapsed);
    window.addEventListener("resize", this.checkIfTablet);
    this.checkIfTablet();
  }
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/main.scss";

nav {
  padding: 28px 64px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  transition: 1s height cubic-bezier(0.56, 0.01, 0.23, 1),
    1s padding cubic-bezier(0.56, 0.01, 0.23, 1);
  z-index: 20;
  width: 100%;
  @include tablet {
    padding: 28px 40px;
  }
  .logo {
    //transition: all 0.5s;
    transition: 0.4s opacity 1s;
    max-width: 228px;
    @include tablet {
      max-width: 160px;
      position: absolute;
      left: 40px;
      top: 40px;
    }
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.8s opacity 1s;

    li {
      padding: 0 20px;
      transition: 0.2s opacity;
      cursor: pointer;
      &:last-of-type {
        //padding: 0 0 0 20px;
        @include tablet {
          padding: 0;
        }
      }
      a {
        @include font-Body;
        color: var(--Neu-01);
        font-weight: var(--bold);

        &.nuxt-link-active::after {
          content: "";
          position: absolute;
          bottom: -18px;
          left: 50%;
          height: 4px;
          width: 50%;
          transform: translateX(-50%) skew(-15deg, 0deg);
          border-radius: 100px;
          animation: underlined 0.8s forwards ease-in-out;

          @include tablet {
            display: none;
          }
        }
      }
      @include tablet {
        margin: 16px 0;
        padding: 0;
      }
    }

    @include tablet {
      opacity: 0;
      display: flex;
      flex-flow: column;
      visibility: hidden;
      text-align: center;
    }
  }

  .toggleMenu {
    display: none;
    position: absolute;
    right: 40px;
    top: 42px;
    opacity: 1;
    transition: 1s opacity;
    i {
      font-size: var(--s);
      cursor: pointer;
      color: var(--Neu-01);
    }
    @include tablet {
      display: block;
      top: 56px;
    }
  }

  &.fixed {
    background-color: rgba(4, 10, 26, 0.8);
    padding: 24px var(--m);
    backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    height: 80px;
    .logo {
      max-width: 130px;
      opacity: 1;
      @include tablet {
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .links {
      opacity: 1;
    }

    .toggleMenu {
      @include tablet {
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;
      }
    }

    .nuxt-link-active::after {
      display: none;
    }
  }
  &.opened {
    height: 100vh;
    flex-flow: column;
    justify-content: initial;
    backdrop-filter: blur(20px);
    background-color: var(--Neu-11);
    opacity: 0.8;
    position: fixed;
    z-index: 20;
    width: 100%;

    .links {
      opacity: 1;
      visibility: visible;
      height: auto;
      position: absolute;
      top: 55%;
      transform: translateY(-50%);
    }
    .logo {
      max-width: 168px;
      top: 40px;
      transform: none;
      @include tablet {
        max-width: 160px;
      }
    }
    .toggleMenu {
      top: 40px;
      transform: none;
    }
  }

  &.collapsed {
    height: 0;
    padding: 0;
    transition: all 1s;

    .logo,
    .links {
      transition: 0.4s;
      opacity: 0;
    }
  }
}
</style>