<template>
  <!-- Begin Mailchimp Signup Form -->
  <div
    id="mc_embed_signup"
    data-aos-duration="800"
    data-aos-delay="800"
    data-aos-easing="ease-out-cubic"
    data-aos="fade-up"
  >
    <form
      action="https://innovtourism.us5.list-manage.com/subscribe/post?u=e321cd81c9b1c0d720e2bbffc&amp;id=76b6adc466"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="validate formfields"
      target="_blank"
      novalidate
    >
      <div id="mc_embed_signup_scroll">
        <!-- <div class="indicates-required">
          <span class="asterisk">*</span> indicates required
        </div>-->
        <div class="indicates-required">
          <span class="asterisk">*</span> indicates required
        </div>

        <div class="mc-field-group text">
          <label for="mce-EMAIL" class="inputLabel">
            Email Address
            <span class="asterisk">*</span>
          </label>
          <input type="email" value name="EMAIL" class="required email" id="mce-EMAIL" />
        </div>
        <div class="mc-field-group text">
          <label for="mce-NAME" class="inputLabel">
            Name
            <span class="asterisk">*</span>
          </label>
          <input type="text" value name="NAME" class="required" id="mce-NAME" />
        </div>
        <div class="mc-field-group text select">
          <label class="inputLabel" for="mce-BUSITYPE">Business Type</label>
          <select name="BUSITYPE" class id="mce-BUSITYPE">
            <option value></option>
            <option value="Startup">Startup</option>
            <option value="Incubator">Incubator</option>
            <option value="Accelerator">Accelerator</option>
            <option value="Corporation">Corporation</option>
          </select>
        </div>
        <div class="mc-field-group input-group">
          <ul>
            <li class="checkbox">
              <input type="checkbox" value="1" name="group[27313][1]" id="mce-group[27313]-27313-0" />
              <label for="mce-group[27313]-27313-0">
                By subscribing to the newsletter I consent to receive the NEST newsletter.
                Data collected on this form is subject to computer processing operated under the responsibility of NEST. For more details, see our Privacy Policy.
              </label>
              <span class="checkmark"></span>
            </li>
          </ul>
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_e321cd81c9b1c0d720e2bbffc_76b6adc466" tabindex="-1" value />
        </div>
        <div class="clear btn-container">
          <input
            type="submit"
            value="Subscribe"
            name="subscribe"
            id="mc-embedded-subscribe"
            class="button CTA-01 M-01"
          />
        </div>
      </div>
    </form>
  </div>

  <!--End mc_embed_signup-->
</template>

<script>
import Axios from "axios";
import Button from "~/components/Button.vue";
export default {
  components: {
    Button
  },
  data() {
    return {
      type: String,
      color: String,
      text: String
    };
  }
};
</script>

<style lang="scss">
@import "~/assets/scss/main.scss";

.formfields {
  max-width: 600px;
  margin: 60px auto;
  width: 90%;

  .indicates-required {
    text-align: right;
    @include font-XS;
    color: var(--Neu-06);
  }

  .mc-field-group {
    position: relative;
    margin: 32px 0;
    width: 100%;
    border: none;
    -webkit-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;

    input[type="text"],
    input[type="email"] {
      border: none;
      width: 100%;
      padding: 8px 0;
      height: 40px;
      @include font-Body;
      color: var(--Neu-12);

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &::placeholder {
        @include font-Body;
        color: var(--Neu-07);
        transition: 0.5s opacity;
      }
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &:focus {
        &::placeholder {
          opacity: 0;
        }
      }
    }
    &.text {
      &:after {
        content: "";
        height: 1px;
        width: 100%;
        background-color: var(--Neu-05);
        position: absolute;
        bottom: 0px;
        left: 0;
      }
    }

    &.select {
      &:before {
        content: "";
        background-image: url(/images/dropdownarrow.png);
        height: 25px;
        width: 25px;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
      }

      option {
        @include font-Body;
        transition: opacity 0.2s ease-in-out;
        padding: 4px 0;
        color: var(--Neu-06);
      }
    }

    .inputLabel {
      @include font-S;
      color: var(--Neu-06);
      position: absolute;
      top: -16px;
      left: 0;
    }

    .mc_fieldset {
      display: flex;
      label {
        margin: 6px 0;
      }
    }
  }

  select {
    border: none;
    width: 100%;
    padding: 10px 0;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
  }

  .checkbox {
    display: flex;
    align-items: center;
    margin: 16px 0;
    position: relative;
    cursor: pointer;
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 24px;
      width: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--Neu-04);
      border-radius: 4px;
      cursor: pointer;
      &:after {
        content: "";
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        display: none;
      }
      &:hover {
        background-color: var(--Neu-03);
      }
    }

    label {
      @include font-Body;
      color: var(--Neu-07);
      cursor: pointer;
      margin-left: 0;
      left: -20px;
      padding-left: 36px;
      &.small {
        @include font-S;
        color: var(--Neu-06);
      }
      &:hover {
        .checkmark {
          background-color: var(--Neu-03);
        }
      }
    }
    input[type="checkbox"] {
      opacity: 0;
      &:checked {
        + .checkmark {
          background-color: var(--Neu-05);
          &:after {
            display: block;
          }
        }
      }
    }

    &:hover {
      .checkmark {
        background-color: var(--Neu-03);
      }
    }
  }

  /* When the checkbox is checked, add a blue background */
  .checkbox input:checked ~ .checkmark {
    background-color: var(--Neu-05);
  }

  /* Show the checkmark when checked */
  .checkbox input:checked ~ .checkmark:after {
    display: block;
  }

  .btn-container {
    justify-content: center;
    .CTA-01 {
      border-radius: 40px;
      padding: 16px 28px;
      @include font-Body;
      color: var(--Neu-01);
      font-weight: var(--bold);
      transition: 0.1s all ease-in-out;
      text-transform: none;
      border: none;
      cursor: pointer;
      &:hover {
        transition: 0.1s all ease-in-out;
        transform: translateY(1px);
      }

      &.M-03 {
        @include box-shadow(rgba(35, 207, 238, 0.4), rgba(35, 207, 238, 0.7));
        background-color: var(--M-03);

        &:hover {
          background-color: #4ee4ff;
        }
      }
      &.M-01 {
        @include box-shadow(rgba(181, 99, 246, 0.4), rgba(181, 99, 246, 0.7));
        background-color: var(--M-01);
        &:hover {
          background-color: #c882ff;
        }
      }
      &.M-02 {
        @include box-shadow(rgba(245, 117, 33, 0.4), rgba(245, 117, 33, 0.7));
        background-color: var(--M-02);

        &:hover {
          background-color: #ff9753;
        }
      }
      &.M-04 {
        @include box-shadow(rgba(44, 243, 120, 0.4), rgba(44, 243, 120, 0.7));
        background-color: var(--M-04);
        &:hover {
          background-color: #60f398;
        }
      }
    }
  }
}
</style>