<template>
  <div class="transition" :class="{active: transitionChange}"></div>
</template>

<script>
export default {
  computed: {
    transitionChange() {
      return this.$store.state.transition;
    }
  }
};
</script>

<style lang="scss">
.transition {
  width: 100%;
  height: 100vh;
  position: fixed;
  visibility: hidden;
  overflow: hidden;
  z-index: 1000;
  top: 0;
  &:before,
  &:after {
    content: "";
    position: absolute;
    width: calc(50% + 50px);
    height: 0;
    background-color: var(--Neu-10);
  }
}

.active {
  visibility: visible;

  &:before,
  &:after {
    animation: 1.8s all cubic-bezier(0.77, 0, 0.175, 1);
  }

  &:before {
    left: 0;
    animation-name: transitionLeft;
  }

  &:after {
    right: 0;
    animation-name: transitionRight;
  }

  @keyframes transitionLeft {
    0% {
      height: 0;
      top: 0;
      left: -50px;
    }

    45% {
      height: 100vh;
      left: 0px;
    }

    55% {
      height: 100vh;
      left: 0px;
    }
    100% {
      top: initial;
      bottom: 0;
      height: 0;
      left: -50px;
    }
  }

  @keyframes transitionRight {
    0% {
      height: 0;
      bottom: 0;
      right: -50px;
    }

    45% {
      height: 100vh;
      right: 0;
    }

    55% {
      height: 100vh;
      right: 0;
    }

    100% {
      bottom: initial;
      top: 0;
      height: 0;
      right: -50px;
    }
  }
}
</style>