<template>
  <section
    class="share"
    data-aos-duration="800"
    data-aos-delay="800"
    data-aos-easing="ease-out-cubic"
    data-aos="fade-up"
  >
    <div class="wrapper">
      <p>Share this page</p>
      <aside class="share__social">
        <ShareNetwork
          network="twitter"
          :url="getURL"
          :title="info.PageDefinitionTitle"
          :description="info.PageDefinitionDescription"
        >
          <i class="icon-bas-013"></i>
        </ShareNetwork>
        <ShareNetwork
          network="facebook"
          :url="getURL"
          :title="info.PageDefinitionTitle"
          :description="info.PageDefinitionDescription"
        >
          <i class="icon-bas-015"></i>
        </ShareNetwork>
        <ShareNetwork
          network="linkedin"
          :url="getURL"
          :title="info.PageDefinitionTitle"
          :description="info.PageDefinitionDescription"
        >
          <i class="icon-bas-016"></i>
        </ShareNetwork>
        <i class="icon-bas-024" @click="copyLink"></i>
      </aside>
      <input type="text" class="url" />
    </div>
  </section>
</template>

<script>
export default {
  props: {
    info: Object,
  },
  methods: {
    // shareFacebook(e) {
    //   console.log(window.location.href);
    //   window.open(
    //     "https://www.facebook.com/sharer/sharer.php?u=" + window.location.href,
    //     "pop",
    //     "width=600, height=400, scrollbars=no"
    //   );
    // },
    // shareTwitter() {
    //   window.open(
    //     "https://twitter.com/intent/tweet?url=" + window.location.href
    //   );
    // },
    // shareLinkedin() {
    //   window.open(
    //     "https://www.linkedin.com/sharing/share-offsite/?url=" +
    //       window.location.href
    //   );
    // },
    copyLink() {
      const link = document.querySelector(".url");
      link.setSelectionRange(0, 99999);
      link.select();
      document.execCommand("copy");
    },
  },
  mounted() {
    document.querySelector(".url").value = window.location.href;
  },
  computed: {
    getURL() {
      return window.location.href;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/main.scss";
.share {
  padding: 28px 0;
  background-color: var(--Neu-01);
  width: 100%;
  .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2%;
    @include phablet {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
    }
  }

  p {
    grid-column: 2/5;
    @include font-Body;
    font-family: var(--brand-mohrsemi);
    color: var(--Neu-10);
  }

  aside {
    grid-column: 11/13;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-of-type {
      justify-self: flex-start;
      @include tablet {
        justify-self: center;
      }
    }

    &:last-of-type {
      justify-self: flex-end;
      @include tablet {
        justify-self: center;
      }
    }
  }

  &__social {
    i {
      font-size: var(--xxs);
      padding: 0 12px;
      color: var(--Neu-10);
      cursor: pointer;
      &:last-child {
        padding: 0 0 0 12px;
      }

      &:hover {
        opacity: 0.6;
      }
    }

    @include phablet {
      margin-top: 24px;
    }
  }
  .url {
    position: absolute;
    left: -9999px;
  }
}
</style>>