<template>
  <section>
    <div
      class="wrapper"
      data-aos-duration="800"
      data-aos-delay="800"
      data-aos-easing="ease-out-cubic"
      data-aos="fade-up"
    >
      <div class="media">
        <!-- <h1>{{item}}</h1> -->
        <img
          :src="item.ContentDesktopImage ? item.ContentDesktopImage.ImageSrc : item.ContentVideo.VideoImage"
          :alt="item.ContentDesktopImage.ImageSrc"
          :title="item.ContentDesktopImage.ImageTitle"
          v-if="item.ContentDesktopImage"
        />
      </div>

      <div class="btn-container" @click="toggleModal">
        <Button type="cta-icon" :color="item.StyleColorTheme.ColorName" icon />
      </div>
    </div>

    <div class="modalMedia" v-if="this.$store.state.modalOpened">
      <!-- Modal content -->
      <div class="container">
        <div class="modal-content">
          <i class="icon-bas-002 close" @click="toggleModal"></i>
          <div class="iframeContainer">
            <iframe :src="item.ContentVideo.YoutubeEmbedUrl"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Button from "~/components/Button.vue";

export default {
  components: {
    Button
  },
  props: {
    icon: Boolean,
    item: Object
  },
  methods: {
    toggleModal() {
      this.$store.commit("toggleModal");
      if (document.querySelector("body").style.overflow == "hidden") {
        document.querySelector("body").style.overflow = "visible";
      } else {
        document.querySelector("body").style.overflow = "hidden";
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/main.scss";

.wrapper {
  .btn-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
}

.media {
  height: 560px;
  overflow: hidden;
  @include aspect-ratio(21, 9);
  img {
    object-fit: contain;
  }

  @include phablet {
    @include aspect-ratio(16, 9);
    height: 320px;
  }

  @include mobile {
    height: auto;
  }
}

/* The Modal (background) */
.modalMedia {
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(4, 10, 26, 0.95);
}
.container {
  position: relative;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  @include tablet {
    width: 100%;
    margin: 0 auto;
  }
}
/* Modal Content/Box */
.modal-content {
  margin: 0 auto; /* 15% from the top and centered */
  width: 80%; /* Could be more or less, depending on screen size */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .iframeContainer {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

/* The Close Button */
.close {
  color: var(--Neu-01);
  position: absolute;
  right: -30px;
  font-size: var(--xs);
  top: 0;
}

.close:hover,
.close:focus {
  color: var(--Neu-06);
  text-decoration: none;
  cursor: pointer;
}
</style>>