<template>
  <section
    class="simpleHeader overlay checkFix"
    :data-theme="item.StyleColorTheme ? item.StyleColorTheme.ColorName: 'M-01'"
    :style="`background-image:url(${item.StyleBackgroundImage ? item.StyleBackgroundImage.ImageSrc : ''})`"
  >
    <div class="wrapper">
      <span class="colorText" v-if="item.ContentTitleLabel">{{ item.ContentTitleLabel }}</span>
      <h1 v-if="item.ContentTitle">{{ item.ContentTitle }}</h1>
      <p v-if="item.ContentSubtitle">{{ item.ContentSubtitle }}</p>
      <div class="btn-container" v-if="item.ContentButtons">
        <Button
          v-for="btn in item.ContentButtons"
          :key="btn.id"
          :type="btn.ButtonType ? btn.ButtonType : 'CTA-01'"
          :color="btn.ButtonColor ? btn.ButtonColor : item.StyleColorTheme.ColorName"
          :link="btn.ButtonLink"
          :text="btn.ButtonText"
        />
        <div
          class="calendarButton"
          @click="openModal"
          v-if="eventInfo && eventInfo.ShowAddToCalenderButton"
        >
          <Button type="CTA-02" text="Add to calendar" handleClick />
        </div>
      </div>
      <div class="simpleHeader__bottom" v-if="eventInfo">
        <small v-if="eventInfo.DateText">
          <i class="icon-bas-007"></i>
          {{ eventInfo.DateText }}
        </small>
        <small v-if="eventInfo.ContentLocation">
          <i class="icon-bas-008"></i>
          {{ eventInfo.ContentLocation }}
        </small>
        <small v-if="eventInfo.TimeText">
          <i class="icon-bas-006"></i>
          {{ eventInfo.TimeText }}
        </small>
      </div>
    </div>
    <div class="modal" :class="{opened: openedModal}" v-if="eventInfo">
      <span class="close" @click="closeModal">
        <i class="icon-bas-002"></i>
      </span>
      <div class="modalContainer">
        <div class="modalContent">
          <h3>Add To Calendar</h3>
          <a :href="eventInfo.GmailCalenderLink" target="_blank">
            Google Calendar
            <i class="icon-bas-023"></i>
          </a>
          <a :href="eventInfo.ICSCalenderLink" target="_blank">
            Outlook Calendar
            <i class="icon-bas-025"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Button from "~/components/Button.vue";

export default {
  components: {
    Button
  },
  data() {
    return {
      openedModal: false
    };
  },
  props: {
    item: Object,
    eventInfo: Object
  },
  methods: {
    openModal() {
      this.openedModal = true;
    },
    closeModal() {
      this.openedModal = false;
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~/assets/scss/main.scss";

.simpleHeader {
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding: 175px 0 60px;
  min-height: 450px;
  .btn-container {
    justify-content: center;
    a + div {
      margin-left: 24px;
      @include phablet {
        margin-left: 0;
        margin-top: 24px;
      }
    }
  }
  span {
    @include font-Body;
    margin-bottom: 16px;
    display: block;
  }
  h1 {
    @include font-XXL;
    color: var(--Neu-01);
    font-family: var(--brand-mohrbold);
    max-width: 900px;
    margin: 0 auto;
  }
  p {
    @include font-M;
    color: var(--Neu-03);
    font-family: var(--brand-mohr);
    max-width: 800px;
    margin: 24px auto 0;
  }

  &__bottom {
    margin-top: 80px;
    display: flex;
    justify-content: center;

    @include phablet {
      flex-flow: column;
      align-items: center;
    }
    small {
      display: flex;
      align-items: center;
      color: var(--Neu-01);
      @include font-Body;

      & + small {
        margin-left: 24px;
        @include phablet {
          margin-left: 0;
          margin-top: 8px;
        }
      }
      i {
        margin-right: 4px;
        font-size: var(--xxs);
      }
    }
  }
  &:after {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-image: linear-gradient(
      to bottom,
      rgba(24, 30, 47, 0),
      rgba(24, 30, 47, 0.77) 50%,
      var(--Neu-10)
    );
    pointer-events: none;
  }

  h3 {
    @include font-XL;
    color: var(--Neu-01);
    font-family: var(--brand-mohrsemi);
    margin-bottom: 48px;
  }

  .modal a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 0;
    width: 480px;

    @include phablet {
      max-width: 480px;
      width: 100%;
    }
    i {
      font-size: var(--m);
    }
    &:first-of-type {
      border-bottom: 1px solid var(--Neu-03);
    }
  }
}
</style>
