<template>
  <article
    :data-theme="getTheme"
    :data-filter="joinedCategories"
    :data-businessFilter="ContentBusinessType[0]"
  >
    <div class="article-inner">
      <div class="article-front" @click.self="flipCard">
        <div class="topCard">
          <span class="colorLabel">{{ContentBusinessType[0]}}</span>
          <i class="icon-bas-021" @click.self="flipCard"></i>
        </div>
        <figure>
          <img
            :src="ContentIcon ? ContentIcon.ImageSrc : '/images/Logo.gif'"
            :alt="ContentIcon ? ContentIcon.ImageAlt : 'Default Logo Nest'"
            @click.self="flipCard"
          />
        </figure>
        <p class="name" @click.self="flipCard">{{ContentStartupName}}</p>
      </div>
      <div class="article-back" @click.self="flipCard">
        <div class="container">
          <small v-if="ContentEmailButtonLink">
            <a :href="`mailto:${ContentEmailButtonLink}`">{{ContentEmailButtonLink}}</a>
          </small>
          <small v-if="ContentPhoneButtonLink">
            <a :href="`tel:${ContentPhoneButtonLink}`">{{ContentPhoneButtonLink}}</a>
          </small>
          <div class="btn-container" v-if="ContentWebsiteButtonLink">
            <Button type="CTA-02" :link="ContentWebsiteButtonLink" text="See our website" />
          </div>
        </div>
        <div class="btn-container moreInfo" @click.prevent="seeMore">
          <Button type="ALT-01" color link text="MORE ABOUT" />
        </div>
      </div>
    </div>
  </article>
</template>

<script>
import Button from "~/components/Button.vue";

export default {
  props: {
    filter: String,
    business: String,
    ContentBusinessType: Array,
    ContentIcon: Object,
    ContentStartupName: String,
    ContentDescription: String,
    ContentCategories: Array,
    ContentWebsiteButtonLink: String,
    ContentEmailButtonLink: String,
    ContentPhoneButtonLink: String
  },
  components: {
    Button
  },
  methods: {
    seeMore(e) {
      this.$store.commit("toggleModalStartups");
      this.$store.commit("changeModalInfo", this.$attrs.info);
      e.currentTarget.closest("article").classList.add("selected");
    },
    flipCard({ currentTarget }) {
      currentTarget.closest("article").classList.toggle("selected");
    }
  },
  computed: {
    getTheme() {
      switch (this.ContentBusinessType[0]) {
        case "Corporation":
          return "M-01";
          break;
        case "Startup":
          return "M-02";
          break;
        case "Incubator":
          return "M-03";
          break;
        case "Accelerator":
          return "M-04";
          break;

        default:
          return "other";
          break;
      }
    },
    joinedCategories() {
      return this.ContentCategories.join("-");
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~/assets/scss/main.scss";

* {
  position: initial;
}

article {
  background-color: transparent;
  max-width: 300px;
  width: 100%;
  height: 330px;
  perspective: 1000px;
  box-sizing: content-box;
  margin: 0 auto;

  @include tablet {
    max-width: 400px;
  }

  @include mobile {
    width: 90%;
  }

  .article-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    border-radius: 24px;
    margin: 0 auto;
    border-radius: 24px;
    box-shadow: 0 4px 11px -2px rgba(4, 10, 26, 0.22);
    // background-color: #ffffff;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out,
      transform 0.5s cubic-bezier(0.57, 0.01, 0.23, 1);
    &:hover {
      box-shadow: 0 56px 64px 0 rgba(4, 10, 26, 0.05),
        0 24px 32px 0 rgba(49, 49, 49, 0.05), 0 8px 16px 0 rgba(4, 10, 26, 0.05),
        0 0px 8px 0 rgba(4, 10, 26, 0.05), 0 0px 4px 0 rgba(4, 10, 26, 0.05),
        0 0px 2px 0 rgba(4, 10, 26, 0.05);
    }
  }
  &.selected .article-inner {
    transform: rotateY(180deg);
    // .article-front .btn-container {
    //   z-index: 0;
    //   opacity: 0;
    // }
    .article-front {
      z-index: -1;
    }
  }

  .article-front,
  .article-back {
    position: absolute;
    // max-width: 300px;
    // width: 100%;
    // height: 330px;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #fff;
    border-radius: 24px;
  }

  .article-front {
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    .colorLabel {
      @include font-XS;
      font-weight: var(--bold);
      text-transform: uppercase;
      padding: 2px 6px;
      border-radius: 8px;
    }

    figure {
      max-width: 120px;
      position: absolute;
      left: 50%;
      top: 46%;
      transform: translate(-50%, -50%);
    }

    .name {
      @include font-M;
      font-family: var(--brand-mohrbold);
      color: var(--Neu-08);
      width: 90%;
      margin: 0 auto;
      line-height: 28px;
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
    }
    .btn-container {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 32px;
      transition: 0.8s opacity;
      opacity: 1;
      a {
        margin: 0;
      }
    }

    .topCard {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      top: 0;
      padding: 20px;
    }

    i {
      color: var(--Neu-04);
      font-size: var(--s);
    }
  }

  .article-back {
    transform: rotateY(180deg);

    padding: 40px 20px;
    .container {
      // left: 50%;
      // top: 50%;
      // transform: translateX(-50%);
      // position: absolute;
      // top: 32px;
      // width: 80%;
      width: 80%;
      margin: 0 auto;
      position: absolute;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      left: 50%;
      top: 42%;
      transform: translate(-50%, -50%);
    }
    small,
    p,
    a {
      @include font-Body;
      color: var(--Neu-08);
      font-weight: var(--regular);
    }

    small {
      display: block;
      margin-bottom: 30px;
      font-weight: var(--bold);
      &:first-of-type {
        margin-bottom: 10px;
      }
      a {
        @include font-SS;
        text-decoration: underline;
        text-transform: initial;
      }
    }

    .btn-container {
      justify-content: center;
      flex-flow: column;
      width: 100%;
      margin-top: 0;
      a {
        color: var(--Neu-11);
      }

      .ALT-01:after {
        left: 50%;
        transform: translateX(-50%);
        width: 35%;
        @include tablet {
          width: 27%;
        }
        @include mobile {
          width: 35%;
        }
      }
    }

    .moreInfo {
      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
</style>
