<template>
  <div
    class="wotSection"
    data-aos-duration="800"
    data-aos-delay="800"
    data-aos-easing="ease-out-cubic"
    data-aos="fade-up"
  >
    <div
      class="wrapper"
      :data-theme="item.StyleColorTheme.ColorName"
      :aside="item.ContentItems[1] ? true : false"
      v-if="item"
    >
      <div class="wot">
        <h3>{{item.ContentItems[0].ContentColumnTitle}}</h3>
        <div v-html="item.ContentItems[0].ContentBody"></div>
      </div>
      <aside v-if="item.ContentItems[1]" class="wotAside">
        <h4>{{item.ContentItems[1].ContentColumnTitle}}</h4>
        <div v-html="item.ContentItems[1].ContentBody"></div>
      </aside>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: Object
  }
};
</script>

<style lang="scss">
@import "~/assets/scss/main.scss";

.wotSection {
  z-index: 1;
}

.wot {
  grid-column: 4/10;
  margin: 140px 0;
  h3 {
    @include font-XL;
    color: var(--Neu-11);
    font-family: var(--brand-mohrbold);
    margin-bottom: 80px;
  }

  p,
  li {
    @include font-Body;
    color: var(--Neu-07);
    font-weight: var(--regular);
  }

  .bigText {
    @include font-M;
    font-family: var(--brand-mohr);
    margin: 60px 0 30px 0;
  }

  .text {
    margin-bottom: 24px;
  }
  strong {
    font-weight: var(--bold);
  }

  a {
    text-transform: none;
    text-decoration: underline;
  }

  li {
    right: -20px;
    &:before {
      content: "\2022";
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }

  img {
    margin: 80px 0;
  }
}

.wotAside {
  grid-column: 9/12;
  h4 {
    @include font-L;
    color: var(--Neu-11);
    font-family: var(--brand-mohrbold);
    margin-bottom: 40px;
  }

  p {
    @include font-S;
    color: var(--Neu-07);
    font-weight: var(--regular);
    margin-bottom: 42px;
  }

  figure {
    margin-bottom: 42px;
  }
  .colorText {
    margin: 60px 0 30px 0;
    @include font-Body;
    font-family: var(--brand-mohr);
  }
}

.wotSection {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2%;

    @include phablet {
      display: block;
    }
  }
}

[aside] {
  .wot {
    grid-column: 2/8;
  }
  // @include tablet {
  //   flex-direction: column;
  //   align-items: center;
  // }
  // .wot {
  //   margin: initial;
  // }
  // aside {
  //   @include tablet {
  //     max-width: 640px;
  //     margin: 0 auto;
  //   }
  // }
}
</style>