<template>
  <div>
    <Nav />
    <SimpleHeader :item="event.mainHeading[0]" v-if="event.mainHeading[0]" :eventInfo="event" />
    <WOT :item="event.wOT[0]" v-if="event.wOT[0]" />
    <ShareBar :info="event" />
    <CtaBlock :item="event.cTABlock[0]" v-if="event.cTABlock[0]" />
    <Heading :item="event.simpleHeading[0]" v-if="event.simpleHeading[0]" />
    <ContentGrid :items="event.relatedPages[0].ContentPages" v-if="event.relatedPages[0]" />
    <CtaBlock :item="event.cTABlock[1]" v-if="event.cTABlock[1]" />
    <Footer />
  </div>
</template>

<script>
import SimpleHeader from "~/components/SimpleHeader.vue";
import Heading from "~/components/Heading.vue";
import ContentGrid from "~/components/ContentGrid.vue";
import CtaBlock from "~/components/CtaBlock.vue";
import WOT from "~/components/WOT.vue";
import ShareBar from "~/components/ShareBar.vue";
import Nav from "~/components/Nav.vue";
import Footer from "~/components/Footer.vue";

export default {
  components: {
    Heading,
    SimpleHeader,
    CtaBlock,
    ContentGrid,
    ShareBar,
    WOT,
    Nav,
    Footer,
  },
  computed: {
    event() {
      const params = {
        details: this.$route.params.event,
        area: "eventsPageDetails",
      };
      return this.$store.getters.getDetails(params);
    },
  },
  head() {
    let event = this.event;
    return {
      title: event.PageDefinitionTitle,
      meta: [
        {
          hid: `description`,
          name: "description",
          property: "description",
          content: event.PageDefinitionDescription,
        },
        {
          hid: "og:image",
          property: "og:image",
          content: window.location.origin + event.PageDefinitionImage.ImageSrc,
        },
        {
          hid: "og:title",
          property: "og:title",
          content: event.PageDefinitionTitle,
        },
        {
          hid: "og:description",
          property: "og:description",
          content: event.PageDefinitionDescription,
        },
        {
          name: "twitter:card",
          content: "summary_large_image",
        },
        {
          hid: "og:url",
          property: "og:url",
          content: window.location.origin + this.$route.path,
        },
      ],
      link: [
        {
          rel: "canonical",
          href: window.location.origin + this.$route.path,
        },
      ],
    };
  },
};
</script>

<style></style>
