﻿<div class="simpleColorContainer" ng-controller="SimpleColorPicker.Controller">
    <div ng-style="{'background-color': '#' + model.value }" class="selectedColor"></div>
    <div class="inputWrapper"><span></span><input type="text" maxlength="6" ng-model="model.value" ng-pattern="inputRegex" /></div>
</div>