
.simpleColorContainer input {
    width: 5em;
}

.simpleColorContainer .inputWrapper{
    position: relative;
}

.simpleColorContainer span::before {
    content: '#';
    color: #bbbabf;
    font-size: 1.3em;
    position: absolute;
    left: -0.7em;
    top: 0.2em;
}

.simpleColorContainer .selectedColor {
    box-sizing:border-box;
    border: 1px solid #d8d7d9;
    width: 5em;
    height: 5em;
    margin-bottom: 3px;
}
