//Icon size

:root {
  --xxs: 24px;
  --xs: 32px;
  --s: 40px;
  --m: 48px;
  --l: 56px;
  --xl: 80px;
}

@font-face {
  font-family: "nest";
  src: url("/fonts/icons/nest.eot?cdggwe");
  src: url("/fonts/icons/nest.eot?cdggwe#iefix") format("embedded-opentype"), url("/fonts/icons/nest.ttf?cdggwe") format("truetype"), url("/fonts/icons/nest.woff?cdggwe") format("woff"), url("/fonts/icons/nest.svg?cdggwe#nest") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change /fonts */
  font-family: "nest" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bas-001:before {
  content: "\e903";
}

.icon-bas-002:before {
  content: "\e904";
}

.icon-bas-003:before {
  content: "\e905";
}

.icon-bas-005:before {
  content: "\e906";
}

.icon-bas-006:before {
  content: "\e909";
}

.icon-bas-007:before {
  content: "\e90b";
}

.icon-bas-008:before {
  content: "\e90a";
}

.icon-bas-013:before {
  content: "\e913";
}

.icon-bas-014:before {
  content: "\e900";
}

.icon-bas-015:before {
  content: "\e902";
}

.icon-bas-016:before {
  content: "\e901";
}

.icon-bas-020:before {
  content: "\e90c";
}

.icon-bas-021:before {
  content: "\e911";
}
.icon-bas-023:before {
  content: "\e912";
}
.icon-bas-024:before {
  content: "\e915";
}

.icon-bas-025:before {
  content: "\e914";
}

// Symbols
//arrow
.icon-Arrow .path1:before {
  content: "\e90d";
}

.icon-Arrow .path2:before {
  content: "\e90e";
  color: #040a1a;
}

//cross
.icon-Cross .path1:before {
  content: "\e907";
  color: #040a1a;
}

.icon-Cross .path2:before {
  content: "\e908";
}

//circle
.icon-Circle .path1:before {
  content: "\e90f";
  color: #040a1a;
}

.icon-Circle .path2:before {
  content: "\e910";
}

//rightarrow
.icon-rightarrow:before {
  content: "\e916";
}

//map
.icon-map:before {
  content: "\e917";
}

//check
.icon-line:before {
  content: "\e922";
}
