//MQ
/* Break Points */
$tablet-width: 1024px;
$phablet-width: 768px;
$mobile-width: 512px;
$smallerMobile-width: 350px;

@mixin maxWrapperSize() {
  @media (min-width: 0) and (max-width: 1440px) {
    @content;
  }
}

@mixin mq($smallerValue, $biggerValue) {
  @media (min-width: #{$smallerValue}) and (max-width: $biggerValue) {
    @content;
  }
}

//Most Used MQ'S
@mixin tablet {
  @media (min-width: 0) and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin phablet {
  @media (min-width: 0) and (max-width: #{$phablet-width}) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: 0) and (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin smallerMobile {
  @media (min-width: 0) and (max-width: #{$smallerMobile-width}) {
    @content;
  }
}


@mixin box-shadow($rgba, $rgbahover) {
  box-shadow: 0 17px 26px -9px $rgba;

  &:hover {
    box-shadow: 0 13px 26px -9px $rgbahover;
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;

  &:after {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin transition($type, $time, $delay) {
  transition: $type $time cubic-bezier(0.56, 0.01, 0.23, 1) $delay;
}