.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
  z-index: 2;

  @include maxWrapperSize {
    padding: 0 4%;
  }
}

.btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
  position: relative;
  overflow: visible;
  margin-top: 40px;
  justify-content: flex-start;
  // background-image: url("https://abrilveja.files.wordpress.com/2019/05/mundo-urso-pardo-20181227-002-copy-1.jpg?quality=70&strip=info&resize=680,453");
  // height: 300px;

  @include tablet {
    justify-content: center;
  }

  @include phablet {
    flex-direction: column;
  }

  .row {
    @include phablet {
      align-items: center;
      display: flex;
      margin: 32px auto 0;
      justify-content: center;
      flex-direction: column;
    }
  }

  // @include phablet {
  //   flex-direction: column;
  //   flex-wrap: wrap;

  //   a {
  //     margin: 8px 0;
  //   }
  // }
}

.overlay {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(4, 10, 26, 0.5);
    content: "";
  }
}

// .container {
//   padding: 0 8.5%;

//   @include phablet {
//     padding: 0;
//   }
// }

.modal {
  visibility: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  animation: closeModal 0.2s forwards ease-in;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  padding: 6%;
  background-color: rgba(4, 10, 26, 0.95);
  @include phablet {
    padding: 20% 5%;
  }

  .modalContainer {
    opacity: 0;
    transition: 0.6s opacity 0.2s ease-in-out;
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    @include tablet {
      position: relative;
      top: auto;
      left: auto;
      transform: none;
    }
  }
  small,
  p,
  a {
    @include font-M;
    color: var(--Neu-01);
    font-weight: var(--regular);
    font-family: var(--brand-mohr);
    max-width: 800px;
    margin: 0 auto;
    text-transform: none;
    @include phablet {
      @include font-Body;
    }
  }

  small {
    display: block;
    margin-bottom: 20px;
    font-weight: var(--bold);
    &.companyTitle {
      @include font-XL;
      @include phablet {
        @include font-L;
      }
    }
    a {
      text-decoration: underline;
    }
  }

  .modal-content p {
    color: var(--Neu-04);
  }

  .btn-container {
    justify-content: center;
    a {
      color: var(--Neu-01);
    }
  }

  .contacts {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 80px;
    .containerNoWebsite {
      display: flex;
      align-items: center;
      word-break: break-word;
      small {
        margin: 10px 20px;
        font-weight: var(--regular);
      }
      @include phablet {
        flex-flow: column;
      }
    }
  }

  &.opened {
    animation: openModal 0.2s forwards ease-out;

    .modalContainer {
      opacity: 1;
    }
  }
  @keyframes openModal {
    0% {
      width: 40vw;
      height: 40vh;
      opacity: 0;
      visibility: hidden;
    }

    100% {
      width: 100vw;
      height: 100vh;
      opacity: 1;
      visibility: visible;
    }
  }
  @keyframes closeModal {
    0% {
      width: 100vw;
      height: 100vh;
      opacity: 1;
      visibility: visible;
    }
    100% {
      width: 100vw;
      height: 100vh;
      opacity: 0;
      visibility: hidden;
    }
  }

  &.closedModal {
    animation: none;
  }
}

.close {
  color: var(--Neu-04);
  font-size: var(--m);
  font-weight: bold;
  z-index: 20;
  position: absolute;
  right: 5%;
  top: 5%;
}

.close:hover,
.close:focus {
  opacity: 0.8;
  text-decoration: none;
  cursor: pointer;
}
