[data-theme="M-01"] {
  .colorLabel,
  .colorText,
  li::before,
  .icon-Cross .path2::before,
  .icon-Arrow .path2::before,
  .icon-Circle .path1::before,
  .wot a {
    color: var(--M-01);
  }

  .colorLabel {
    background-color: var(--Add-01);
  }

  .slider-pagination li.active,
  li a.nuxt-link-active::after {
    background-color: var(--M-01);
  }
}

[data-theme="M-02"] {
  .colorLabel,
  .colorText,
  li::before,
  .icon-Cross .path2::before,
  .icon-Arrow .path2::before,
  .icon-Circle .path1::before,
  .wot a {
    color: var(--M-02);
  }

  .colorLabel {
    background-color: var(--Add-03);
  }

  .slider-pagination li.active,
  li a.nuxt-link-active::after {
    background-color: var(--M-02);
  }
}

[data-theme="M-03"] {
  .colorLabel,
  .colorText,
  li::before,
  .icon-Cross .path2::before,
  .icon-Arrow .path2::before,
  .icon-Circle .path1::before,
  .wot a {
    color: var(--M-03);
  }

  .colorLabel {
    background-color: var(--Add-05);
  }

  .slider-pagination li.active,
  li a.nuxt-link-active::after {
    background-color: var(--M-03);
  }
}

[data-theme="M-04"] {
  .colorLabel,
  .colorText,
  li::before,
  .icon-Cross .path2::before,
  .icon-Arrow .path2::before,
  .icon-Circle .path1::before,
  .wot a {
    color: var(--M-04);
  }

  .colorLabel {
    background-color: var(--Add-07);
  }

  .slider-pagination li.active,
  li a.nuxt-link-active::after {
    background-color: var(--M-04);
  }
}

[data-theme="other"] {
  .colorLabel {
    color: var(--War-02);
  }

  .colorLabel {
    background-color: #ffcfcf;
  }
}

// [data-theme="dark"] {

//   &.fixed,
//   .bgBlur {
//     background-color: var(--Neu-11);
//   }

//   .navBar__linksDesktop li a,
//   .navBar__linksMobile li a,
//   .navBar__toggleMenu,
//   i {
//     color: var(--Neu-01);
//   }

// }
