//Font Mohr
//Bold
@font-face {
  font-family: "mohrbold";
  src: url("/fonts/mohr_bold.eot") format("eot"), url("/fonts/mohr_bold.ttf") format("ttf"), url("/fonts/mohr_bold.woff") format("woff"), url("/fonts/mohr_bold.woff2") format("woff2");
}

//Semibold
@font-face {
  font-family: "mohrsemi";
  src: url("/fonts/mohr_semibold.eot") format("eot"), url("/fonts/mohr_semibold.ttf") format("ttf"), url("/fonts/mohr_semibold.woff") format("woff"), url("/fonts/mohr_semibold.woff2") format("woff2");
}

//Regular
@font-face {
  font-family: "mohrreg";
  src: url("/fonts/mohr_regular.eot") format("eot"), url("/fonts/mohr_regular.ttf") format("ttf"), url("/fonts/mohr_regular.woff") format("woff"), url("/fonts/mohr_regular.woff2") format("woff2");
}

:root {
  --brand-mohr: "mohrreg";
  --brand-mohrsemi: "mohrsemi";
  --brand-mohrbold: "mohrbold";
  --proxima-nova: "proxima-nova", sans-serif;
  --light: 300;
  --regular: 400;
  --bold: 700;
  --extrabold: 800;
}

/* Font Fixing */
@mixin fontFix {
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-stretch: normal;
  letter-spacing: normal;
}

//Font Sizes and Line Heights

@mixin font-80 {
  @include fontFix;
  line-height: 80px;
  letter-spacing: -2.2px;
  font-size: 80px;
}

@mixin font-48 {
  @include fontFix;
  line-height: 52px;
  letter-spacing: -1.2px;
  font-size: 48px;
}

@mixin font-38 {
  @include fontFix;
  line-height: 44px;
  letter-spacing: -0.8px;
  font-size: 38px;
}

@mixin font-28 {
  @include fontFix;
  line-height: 36px;
  letter-spacing: -0.5px;
  font-size: 28px;
}

@mixin font-21 {
  @include fontFix;
  line-height: 32px;
  letter-spacing: -0.2px;
  font-size: 21px;
}

@mixin font-16 {
  @include fontFix;
  line-height: 24px;
  letter-spacing: 0px;
  font-size: 16px;
}

@mixin font-14 {
  @include fontFix;
  line-height: 24px;
  letter-spacing: 0px;
  font-size: 14px;
}

@mixin font-12 {
  @include fontFix;
  line-height: 18px;
  letter-spacing: px;
  font-size: 12px;
}

@mixin font-11 {
  @include fontFix;
  line-height: 13px;
  letter-spacing: 0px;
  font-size: 11px;
}

//Font sizes
@mixin font-Giant {
  @include font-80;

  @include phablet {
    @include font-48;
  }
}

@mixin font-XXL {
  @include font-48;

  @include phablet {
    @include font-38;
  }
}

@mixin font-XL {
  @include font-38;

  @include tablet {
    @include font-28;
  }
}

@mixin font-L {
  @include font-28;

  @include phablet {
    @include font-21;
  }
}

@mixin font-M {
  @include font-21;
}

@mixin font-Body {
  @include font-16;
  font-family: "proxima-nova";

  // @include phablet {
  //   @include font-16;
  // }
}

@mixin font-SS {
  @include font-14;
  font-family: "proxima-nova";
}

@mixin font-S {
  @include font-12;
  font-family: "proxima-nova";
}

@mixin font-XS {
  @include font-11;
  font-family: "proxima-nova";
}
