<head>
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1, initial-scale = 1.0, shrink-to-fit=no" />
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="index.css" />
</head>

<body class="indexFile">
  <h1 class="index__title">F6 Index</h1>
  <section class="index__section">
    <ul class="index__list">
      <h2 class="index__section-heading">components</h2>
      <li class="index__item"><a class="index__item-link" href="html/components/componentA.html">componentA</a></li>
      <li class="index__item"><a class="index__item-link" href="html/components/componentB.html">componentB</a></li>
    </ul>
  </section>
  <section class="index__section">
    <ul class="index__list">
      <h2 class="index__section-heading">modules</h2>
      <li class="index__item"><a class="index__item-link" href="html/modules/moduleA.html">moduleA</a></li>
      <li class="index__item"><a class="index__item-link" href="html/modules/moduleB.html">moduleB</a></li>
    </ul>
  </section>
  <section class="index__section">
    <ul class="index__list">
      <h2 class="index__section-heading">templates</h2>
      <li class="index__item"><a class="index__item-link" href="html/templates/templateA.html">templateA</a></li>
      <li class="index__item"><a class="index__item-link" href="html/templates/templateB.html">templateB</a></li>
    </ul>
  </section>
</body>
