<template>
  <div>
    <Nav :color="copy.PageColor" />
    <SimpleHeader v-if="copy.mainHeading[0]" :item="copy.mainHeading[0]" />
    <ContentMediaFifty v-if="copy.contentMediaBlack[0]" :item="copy.contentMediaBlack[0]" />
    <Heading v-if="copy.simpleHeading[0]" :item="copy.simpleHeading[0]" />
    <InfoIcons v-if="copy.infoIcons[0]" :items="copy.infoIcons[0].ContentItems" />
    <Heading v-if="copy.simpleHeading[0]" :item="copy.simpleHeading[1]" />
    <ContentGrid v-if="copy.relatedPages[0]" :items="copy.relatedPages[0].ContentPages" />
    <CtaBlock v-if="copy.cTABlock[0]" :item="copy.cTABlock[0]" />
    <Heading v-if="copy.simpleHeading[2]" :item="copy.simpleHeading[2]" />
    <ContentGrid v-if="copy.relatedPages[1]" :items="copy.relatedPages[1].ContentPages" />
    <CtaBlock v-if="copy.cTABlock[1]" :item="copy.cTABlock[1]" />
    <Footer />
  </div>
</template>

<script>
import SimpleHeader from "~/components/SimpleHeader.vue";
import Heading from "~/components/Heading.vue";
import InfoIcons from "~/components/InfoIcons.vue";
import ContentGrid from "~/components/ContentGrid.vue";
import ContentMediaFifty from "~/components/ContentMediaFifty.vue";
import CtaBlock from "~/components/CtaBlock.vue";
import Nav from "~/components/Nav.vue";
import Footer from "~/components/Footer.vue";

export default {
  components: {
    Heading,
    SimpleHeader,
    InfoIcons,
    CtaBlock,
    ContentGrid,
    ContentMediaFifty,
    Nav,
    Footer
  },
  computed: {
    copy() {
      return this.$store.state.aboutUsPage;
    }
  },
  head() {
    return {
      link: [
        {
          rel: "canonical",
          href: window.location.origin + this.$route.path
        }
      ],
      title: this.copy.PageTitle,
      meta: [
        {
          hid: `description`,
          name: "description",
          content: this.copy.PageDescription
        },
        {
          hid: "og:title",
          name: "og:title",
          content: this.copy.PageTitle
        },
        {
          hid: "og:image",
          name: "og:image",
          content: this.copy.PageImage.ImageSrc
        },
        {
          hid: "og:description",
          name: "og:description",
          content: this.copy.PageDescription
        }
      ]
    };
  }
};
</script>

<style></style>
