<template>
  <div>
    <Nav :color="copy.PageColor" />
    <SimpleHeader v-if="copy.mainHeading[0]" :item="copy.mainHeading[0]" />
    <WOT v-if="copy.wOT[0]" :item="copy.wOT[0]" />
    <ContentMediaWhite v-if="copy.contentMediaWhite[0]" :item="copy.contentMediaWhite[0]" />
    <ContentMediaImgs v-if="copy.contentMediaDualImage[0]" :info="copy.contentMediaDualImage[0]" />
    <!-- <ItemListGrid v-if="copy.infoIconsGroups[0]" :item="copy.infoIconsGroups[0]" /> -->
    <Founders />
    <CtaBlock v-if="copy.cTABlock[0]" :item="copy.cTABlock[0]" />
    <Heading v-if="copy.simpleHeading[0]" :item="copy.simpleHeading[0]" />
    <ContentGrid v-if="copy.relatedPages[0]" :items="copy.relatedPages[0].ContentPages" />
    <CtaBlock v-if="copy.cTABlock[1]" :item="copy.cTABlock[1]" />
    <Footer />
  </div>
</template>

<script>
import SimpleHeader from "~/components/SimpleHeader.vue";
import Heading from "~/components/Heading.vue";
import WOT from "~/components/WOT.vue";
import ContentGrid from "~/components/ContentGrid.vue";
import Founders from "~/components/Founders.vue";
import ItemListGrid from "~/components/ItemListGrid.vue";
import CtaBlock from "~/components/CtaBlock.vue";
import ContentMediaImgs from "~/components/ContentMediaImgs.vue";
import ContentMediaWhite from "~/components/ContentMediaWhite.vue";
import Nav from "~/components/Nav.vue";
import Footer from "~/components/Footer.vue";

export default {
  components: {
    Heading,
    SimpleHeader,
    WOT,
    CtaBlock,
    ContentGrid,
    ItemListGrid,
    ContentMediaWhite,
    ContentMediaImgs,
    Nav,
    Founders,
    Footer
  },
  computed: {
    copy() {
      return this.$store.state.aboutUsPageDetails[0];
    }
  },
  head() {
    return {
      link: [
        {
          rel: "canonical",
          href: window.location.origin + this.$route.path
        }
      ],
      title: this.copy.PageTitle,
      meta: [
        {
          hid: `description`,
          name: "description",
          content: this.copy.PageDescription
        },
        {
          hid: "og:title",
          name: "og:title",
          content: this.copy.PageTitle
        },
        {
          hid: "og:image",
          name: "og:image",
          content: this.copy.PageImage ? this.copy.PageImage.ImageSrc : ""
        },
        {
          hid: "og:description",
          name: "og:description",
          content: this.copy.PageDescription
        }
      ]
    };
  }
};
</script>

<style></style>
