<template>
  <div>
    <Nav />
    <SimpleHeader :item="resource.mainHeading[0]" v-if="resource.mainHeading[0]" />
    <ContentMediaFifty :item="resource.contentMediaBlack[0]" v-if="resource.contentMediaBlack[0]" />
    <Heading :item="resource.simpleHeading[0]" v-if="resource.simpleHeading[0]" />
    <SimpleMedia :item="resource.simpleMedia[0]" v-if="resource.simpleMedia[0]" />
    <Heading :item="resource.simpleHeading[1]" v-if="resource.simpleHeading[1]" />
    <InfoIcons v-if="resource.infoIcons[0]" :items="resource.infoIcons[0].ContentItems" />
    <WOT :item="resource.wOT[0]" v-if="resource.wOT[0]" />
    <ShareBar :info="resource" />
    <CtaBlock :item="resource.cTABlock[0]" v-if="resource.cTABlock[0]" />
    <Heading :item="resource.simpleHeading[2]" v-if="resource.simpleHeading[2]" />
    <ContentGrid v-if="resource.relatedPages[0]" :items="resource.relatedPages[0].ContentPages" />
    <CtaBlock :item="resource.cTABlock[1]" v-if="resource.cTABlock[1]" />
    <Footer />
  </div>
</template>

<script>
import SimpleHeader from "~/components/SimpleHeader.vue";
import Heading from "~/components/Heading.vue";
import ContentMediaFifty from "~/components/ContentMediaFifty.vue";
import SimpleMedia from "~/components/SimpleMedia.vue";
import InfoIcons from "~/components/InfoIcons.vue";
import WOT from "~/components/WOT.vue";
import ShareBar from "~/components/ShareBar.vue";
import ContentGrid from "~/components/ContentGrid.vue";
import CtaBlock from "~/components/CtaBlock.vue";
import Nav from "~/components/Nav.vue";
import Footer from "~/components/Footer.vue";

export default {
  components: {
    Heading,
    SimpleHeader,
    CtaBlock,
    SimpleMedia,
    InfoIcons,
    WOT,
    ShareBar,
    ContentGrid,
    ContentMediaFifty,
    Nav,
    Footer,
  },
  computed: {
    resource() {
      const params = {
        details: this.$route.params.resource,
        area: "resourcesPageDetails",
      };
      return this.$store.getters.getDetails(params);
    },
  },
  head() {
    let resource = this.resource;

    if (resource) {
      return {
        title: resource.PageDefinitionTitle,
        meta: [
          {
            hid: `description`,
            name: "description",
            property: "description",
            content: resource.PageDefinitionDescription,
          },
          {
            hid: "og:image",
            property: "og:image",
            content:
              window.location.origin + resource.PageDefinitionImage.ImageSrc,
          },
          {
            hid: "og:title",
            property: "og:title",
            content: resource.PageDefinitionTitle,
          },
          {
            hid: "og:description",
            property: "og:description",
            content: resource.PageDefinitionDescription,
          },
          {
            name: "twitter:card",
            content: "summary_large_image",
          },
          {
            hid: "og:url",
            property: "og:url",
            content: window.location.origin + this.$route.path,
          },
        ],
        link: [
          {
            rel: "canonical",
            href: window.location.origin + this.$route.path,
          },
        ],
      };
    }
  },
};
</script>

<style></style>
