<template>
  <div>
    <Nav :color="copy.PageColor" />
    <SimpleHeader :item="copy.mainHeading[0]" v-if="copy.mainHeading[0]" />
    <ContentGrid :items="copy.relatedPages[0].ContentPages" v-if="copy.relatedPages[0]" />
    <Heading :item="copy.simpleHeading[0]" v-if="copy.simpleHeading[0]" />
    <ContentGrid :items="copy.relatedPages[1].ContentPages" v-if="copy.relatedPages[1]" />
    <CtaBlock :item="copy.cTABlock[0]" v-if="copy.cTABlock[0]" />
    <Footer />
  </div>
</template>

<script>
import SimpleHeader from "~/components/SimpleHeader.vue";
import Heading from "~/components/Heading.vue";
import ContentGrid from "~/components/ContentGrid.vue";
import CtaBlock from "~/components/CtaBlock.vue";
import Nav from "~/components/Nav.vue";
import Footer from "~/components/Footer.vue";

export default {
  components: {
    Heading,
    SimpleHeader,
    CtaBlock,
    ContentGrid,
    Nav,
    Footer
  },
  computed: {
    copy() {
      return this.$store.state.resourcesPage;
    }
  },
  head() {
    return {
      link: [
        {
          rel: "canonical",
          href: window.location.origin + this.$route.path
        }
      ],
      title: this.copy.PageTitle,
      meta: [
        {
          hid: `description`,
          name: "description",
          content: this.copy.PageDescription
        },
        {
          hid: "og:title",
          name: "og:title",
          content: this.copy.PageTitle
        },
        {
          hid: "og:image",
          name: "og:image",
          content: this.copy.PageImage.ImageSrc
        },
        {
          hid: "og:description",
          name: "og:description",
          content: this.copy.PageDescription
        }
      ]
    };
  }
};
</script>

<style></style>
