﻿@using LeGU.Web.Core.PublishedContentModels
@using LeGU.Web.MP.Core.GlobalSettings
@using System.Configuration
@using LeGU.Web.MP.Core.Helpers
@inherits Umbraco.Web.Mvc.UmbracoViewPage<WOT>

@{
    WOT wot = Model;

    if (wot.ContentItems != null && wot.ContentItems.Any())
    {
        CustomHtmlHelper customHtmlHelper = new CustomHtmlHelper();
        GlobalConfigurationSettings configSettings = (GlobalConfigurationSettings)ViewData["ConfigSettings"];
        IPublishedContent homeNode = (IPublishedContent)ViewData["HomeNode"];
        IPublishedContent closestPageElem = ViewData.ContainsKey("ClosestPageElement") ? (IPublishedContent)ViewData["ClosestPageElement"] : null;

        LeGUConfigurations _configurations = ConfigurationManager.GetSection("LeGUConfigurations") as LeGUConfigurations;

        string columnLayout = "data-text-cell=\"left\"";

        if (wot.StyleColumnLayout.Equals("1/2 :: 1/2"))
        {
            columnLayout = string.Empty;
        }
        else if (wot.StyleColumnLayout.Equals("1/3 :: 2/3"))
        {
            columnLayout = "data-text-cell=\"right\"";
        }

        IEnumerable<WOtitem> wotItems = wot.ContentItems == null ? null : wot.ContentItems.Where(i => i.DocumentTypeAlias.Equals(WOtitem.ModelTypeAlias)).Select(i => new WOtitem(i));

        <section class="wot"
                 data-margin-top="@(!string.IsNullOrEmpty(wot.MarginsTopDesktop) ? wot.MarginsTopDesktop.ToLower() : "medium")"
                 data-margin-bottom="@(!string.IsNullOrEmpty(wot.MarginsBottomDesktop) ? wot.MarginsBottomDesktop.ToLower() : "medium")"
                 data-marginMobile-top="@wot.MarginsTopMobile.ToLower()"
                 data-marginMobile-bottom="@wot.MarginsBottomMobile.ToLower()"
                 data-background="@(!string.IsNullOrEmpty(wot.StyleBackgroundColor.Label) ? string.Format("Color{0}", wot.StyleBackgroundColor.Label.Replace("-", "").ToUpper()) : "ColorNEU01")"
                 data-fullContainer="@(!string.IsNullOrEmpty(wot.StyleBackgroundSize) && wot.StyleBackgroundSize.Equals("Full container") ? "true" : "false")"
                 data-align="@(!string.IsNullOrEmpty(wot.StyleTextAlign) ? wot.StyleTextAlign.ToLower() : "left")"
                 @Html.Raw(columnLayout)
                 @Html.Raw(wotItems.Count() > 1 ? string.Format("data-columns=\"{0}\"", wotItems.Count()) : "")
                 data-sectionid="anchor@(wot.Id)"
                 data-slideUp="true" data-slideDown="true">
            <div class="wrapper marginsSpace">
                @if (wot.ContentTitle != null)
                {
                    <div data-title="@(string.IsNullOrEmpty(wot.StyleTitleFontSize) ? "Giant" : wot.StyleTitleFontSize)" class="titleBox" data-slider="true">
                        <hgroup>
                            <h1>@wot.ContentTitle</h1>
                        </hgroup>
                    </div>
                }
                @foreach (WOtitem woti in wotItems)
                {
                    <article class="richText" data-slider="true">
                        @Html.Raw(customHtmlHelper.RemoveAttributesFromImg(woti.ContentBody))
                    </article>
                }
                @if (wot.ContentButtons != null
                        && wot.ContentButtons.Any(b => ((ButtonItemStyledPrimarySecondary)b).ButtonText != null || ((ButtonItemStyledPrimarySecondary)b).ButtonIcon != null))
                {
                    List<string> defaultButtonStyles = new List<string>() { "cta-01", "cta-02" };
                    int buttonIndex = 0;

                    <div class="btnContent" data-slider="true">
                        @foreach (ButtonItemStyledPrimarySecondary button in wot.ContentButtons)
                        {
                            @Html.CachedPartial("ButtonItem",
                                        button,
                                        (int)_configurations.PartialViewsSettings.Get("DefaultCacheSettingsForContentPartials").CachedSeconds,
                                        (bool)_configurations.PartialViewsSettings.Get("DefaultCacheSettingsForContentPartials").CacheByPage,
                                        false,
                                        new ViewDataDictionary {
                                            { "ConfigSettings", configSettings },
                                            { "HomeNode", homeNode },
                                            { "BtnClass", !string.IsNullOrEmpty(button.ButtonStyle) ? button.ButtonStyle.ToLower() : defaultButtonStyles[buttonIndex] },
                                            { "ClosestPageElement", closestPageElem }
                                        },
                                        contextualKeyBuilder: (model, viewData) => button.Id.ToString()
                                        );

                            buttonIndex++;
                        }
                    </div>
                }
            </div>
        </section>
    }
}