﻿@using LeGU.Web.Core.PublishedContentModels
@using LeGU.Web.MP.Core.GlobalSettings
@using System.Configuration
@inherits Umbraco.Web.Mvc.UmbracoViewPage<InfoIcons>

@{
    InfoIcons infoIcons = Model;
}

@if (infoIcons.ContentItems != null && infoIcons.ContentItems.Any())
{
    IEnumerable<InfoIconItem> infoItems = infoIcons.ContentItems == null ? null :
                                    infoIcons.ContentItems.Where(i => i.DocumentTypeAlias.Equals(InfoIconItem.ModelTypeAlias)).Select(i => new InfoIconItem(i));

    GlobalConfigurationSettings configSettings = (GlobalConfigurationSettings)ViewData["ConfigSettings"];
    IPublishedContent homeNode = (IPublishedContent)ViewData["HomeNode"];
    IPublishedContent closestPageElem = ViewData.ContainsKey("ClosestPageElement") ? (IPublishedContent)ViewData["ClosestPageElement"] : null;

    LeGUConfigurations _configurations = ConfigurationManager.GetSection("LeGUConfigurations") as LeGUConfigurations;

    <section class="infoIcons"
             data-dualBlock="@(infoItems.Count() % 3 != 0 ? "true" : "false")"
             data-margin-top="@(!string.IsNullOrEmpty(infoIcons.MarginsTopDesktop) ? infoIcons.MarginsTopDesktop.ToLower() : "medium")"
             data-margin-bottom="@(!string.IsNullOrEmpty(infoIcons.MarginsBottomDesktop) ? infoIcons.MarginsTopDesktop.ToLower() : "medium")"
             data-marginMobile-top="@infoIcons.MarginsTopMobile.ToLower()"
             data-marginMobile-bottom="@infoIcons.MarginsBottomMobile.ToLower()"
             data-fullContainer="@(string.IsNullOrEmpty(infoIcons.StyleBackgroundSize) || infoIcons.StyleBackgroundSize.Equals("Full width") ? "false" : "true")"
             data-background="@(string.IsNullOrEmpty(infoIcons.StyleBackgroundColor.Label) ? "ColorNEU01" : string.Format("Color{0}", infoIcons.StyleBackgroundColor.Label.Replace("-", "").ToUpper()))"
             data-align="@(string.IsNullOrEmpty(infoIcons.StyleTextAlign) ? "left" : infoIcons.StyleTextAlign.ToLower())"
             data-sectionid="anchor@(infoIcons.Id)"
             data-slideUp="true" data-slideDown="true" data-delay="0.2">
        <div class="wrapper">
            <ul>
                @foreach (InfoIconItem infoitem in infoItems)
                {
                    if (infoitem.ContentTitle != null && !string.IsNullOrEmpty(infoitem.ContentTitle.ToString()) && infoitem.ContentIcon != null)
                    {
                        <li class="marginsSpace" data-slider="true">
                            <article>
                                <div class="titleBox">
                                    <span class="@infoitem.ContentIcon"></span>
                                    <hgroup>
                                        <h1>@infoitem.ContentTitle</h1>
                                    </hgroup>
                                </div>
                                <p class="text">@Html.Raw(infoitem.ContentDescription)</p>
                            </article>
                            @{
                                ButtonItemStyledAlternatives0102 button = (ButtonItemStyledAlternatives0102)infoitem.ContentLink;

                                if (button != null && button.ButtonLink != null && (button.ButtonText != null || button.ButtonIcon != null))
                                {
                                    <div class="btnContent">
                                        @Html.CachedPartial("ButtonItem",
                                            button,
                                            (int)_configurations.PartialViewsSettings.Get("DefaultCacheSettingsForContentPartials").CachedSeconds,
                                            (bool)_configurations.PartialViewsSettings.Get("DefaultCacheSettingsForContentPartials").CacheByPage,
                                            false,
                                            new ViewDataDictionary {
                                                 { "ConfigSettings", configSettings },
                                                 { "HomeNode", homeNode },
                                                 { "BtnClass", !string.IsNullOrEmpty(button.ButtonStyle) ? button.ButtonStyle : "alternative-01" },
                                                 { "BtnType", "alternative" },
                                                 { "ClosestPageElement", closestPageElem }
                                            },
                                            contextualKeyBuilder: (model, viewData) => infoIcons.Id + button.Name
                                            );
                                    </div>
                                }
                            }
                        </li>
                    }
                }
            </ul>
        </div>
    </section>
}