﻿@using LeGU.Web.Core.PublishedContentModels
@using LeGU.Web.MP.Core.Helpers
@using Umbraco.Web.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<SimpleMedia>
@{
    SimpleMedia simpleMedia = Model;

    if (simpleMedia.ContentDesktopImage != null || !string.IsNullOrEmpty(simpleMedia.ContentVideo))
    {
        string youtubeVideoCode = YouTubeHelper.GetYoutubeCodeFromUrl(simpleMedia.ContentVideo);
        string youtubeEmbedUrl = YouTubeHelper.GetYoutubeEmbedUrl(youtubeVideoCode);
        string image = simpleMedia.ContentDesktopImage != null ? simpleMedia.ContentDesktopImage.Url : YouTubeHelper.GetYoutubeVideoImage(youtubeVideoCode);

        <section class="simpleMedia"
                 data-fullWidth="@(string.IsNullOrEmpty(simpleMedia.StyleMediaBackgroundSize) || simpleMedia.StyleMediaBackgroundSize.Equals("Full width") ? "true" : "false")"
                 data-cropImage="@simpleMedia.StyleEnableCrop.ToString().ToLower()"
                 data-alignImage="@(!string.IsNullOrEmpty(simpleMedia.StyleImageAlignment) ? simpleMedia.StyleImageAlignment.ToLower() : "center")"
                 data-control="SIMPLEMEDIA"
                 data-background="@(string.IsNullOrEmpty(simpleMedia.StyleBackgroundColor.Label) ? "ColorNEU01" : string.Format("Color{0}", simpleMedia.StyleBackgroundColor.Label.Replace("-", "").ToUpper()))"
                 data-sectionid="anchor@(simpleMedia.Id)"
                 data-visible="@(simpleMedia.ContentMobileImage != null ? "true" : "false")" >
            <div class="wrapper">
                <figure class="@((!string.IsNullOrEmpty(simpleMedia.ContentVideo) && !string.IsNullOrEmpty(youtubeEmbedUrl)) ? "mediaOverlay" : "")">
                    <img class="imgDesktop" src="@image" />
                    @if (simpleMedia.ContentDesktopImage != null && simpleMedia.ContentMobileImage != null)
                    {
                        <img class="imgMobile" src="@simpleMedia.ContentMobileImage.Url" />
                    }
                    @if (!string.IsNullOrEmpty(simpleMedia.ContentVideo) && !string.IsNullOrEmpty(youtubeEmbedUrl))
    {
                <div class="btnContent">
                    <a href="#" class="btn justIcon iconBtn video openOverlay" data-video="@youtubeEmbedUrl" data-source="iframe">
                        <i class="icon-base-play-fill"></i>
                    </a>
                </div>
}
                </figure>
            </div>
        </section>
    }
}