﻿@using LeGU.Web.Core.PublishedContentModels
@using LeGU.Web.MP.Core.GlobalSettings
@using System.Configuration
@using LeGU.Web.MP.Core.Helpers
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentMedia>

@{
    ContentMedia contentMedia = Model;

    GlobalConfigurationSettings configSettings = (GlobalConfigurationSettings)ViewData["ConfigSettings"];
    IPublishedContent homeNode = (IPublishedContent)ViewData["HomeNode"];
    IPublishedContent closestPageElem = ViewData.ContainsKey("ClosestPageElement") ? (IPublishedContent)ViewData["ClosestPageElement"] : null;

    LeGUConfigurations _configurations = ConfigurationManager.GetSection("LeGUConfigurations") as LeGUConfigurations;

    if (contentMedia.ContentContent != null && (!string.IsNullOrEmpty(contentMedia.ContentVideo) || contentMedia.ContentImage != null))
    {
        string youtubeVideoCode = YouTubeHelper.GetYoutubeCodeFromUrl(contentMedia.ContentVideo);
        string youtubeEmbedUrl = YouTubeHelper.GetYoutubeEmbedUrl(youtubeVideoCode);
        string image = contentMedia.ContentImage != null ? contentMedia.ContentImage.Url : YouTubeHelper.GetYoutubeVideoImage(youtubeVideoCode);

        <section class="contentMedia"
                 data-margin-top="@(!string.IsNullOrEmpty(contentMedia.MarginsTopDesktop) ? contentMedia.MarginsTopDesktop.ToLower() : "medium")"
                 data-margin-bottom="@(!string.IsNullOrEmpty(contentMedia.MarginsBottomDesktop) ? contentMedia.MarginsBottomDesktop.ToLower() : "medium")"
                 data-marginMobile-top="@contentMedia.MarginsTopMobile.ToLower()"
                 data-marginMobile-bottom="@contentMedia.MarginsBottomMobile.ToLower()"
                 data-fullContainer="@(!string.IsNullOrEmpty(contentMedia.StyleBackgroundSize) && contentMedia.StyleBackgroundSize.Equals("Full container") ? "true" : "false")"
                 data-background="@(string.IsNullOrEmpty(contentMedia.StyleBackgroundColor.Label) ? "ColorNEU01" : string.Format("Color{0}", contentMedia.StyleBackgroundColor.Label.Replace("-", "").ToUpper()))"
                 data-control="CONTENTMEDIA"
                 data-sectionid="anchor@(contentMedia.Id)"
                 data-textAlign="@(string.IsNullOrEmpty(contentMedia.StyleMediaPosition) || !contentMedia.StyleMediaPosition.Equals("Left") ? "left" : "")"
                 data-slideUp="true" data-slideDown="true">
            <div class="wrapper">
                @if ((contentMedia.ContentImage != null || !string.IsNullOrEmpty(contentMedia.ContentVideo)) && !string.IsNullOrEmpty(contentMedia.StyleMediaPosition) && !contentMedia.StyleMediaPosition.Equals("Right"))
                {
                    <aside data-cropImage="@contentMedia.StyleEnableCrop.ToString().ToLower()" data-slider="true">
                        <figure class="@((!string.IsNullOrEmpty(contentMedia.ContentVideo) && !string.IsNullOrEmpty(youtubeEmbedUrl)) ? "mediaOverlay" : "")">
                            <img src="@image">
                            @if (!string.IsNullOrEmpty(contentMedia.ContentVideo) && !string.IsNullOrEmpty(youtubeEmbedUrl))
                            {
                                <div class="btnContent">
                                    <a href="#" class="btn iconBtn justIcon video openOverlay" data-video="@youtubeEmbedUrl" data-source="iframe">
                                        <i class="icon-base-play-fill"></i>
                                    </a>
                                </div>
                            }
                        </figure>
                    </aside>
                }
                <aside class="marginsSpace" data-text="true" data-slider="true">
                    <div class="titleBox" data-title="@(string.IsNullOrEmpty(contentMedia.StyleTitleFontSize) ? "Giant" : contentMedia.StyleTitleFontSize)">
                        <hgroup>
                            <h1>@contentMedia.ContentTitle</h1>
                        </hgroup>
                    </div>
                    <article class="richText">
                        @Html.Raw(contentMedia.ContentContent)
                    </article>
                    @if (contentMedia.ContentButtons != null
                        && contentMedia.ContentButtons.Any(b => ((ButtonItemStyledPrimarySecondary)b).ButtonText != null || ((ButtonItemStyledPrimarySecondary)b).ButtonIcon != null))
                    {
                        List<string>
                            defaultButtonStyles = new List<string>
                                () { "cta-01", "cta-02" };
                        int buttonIndex = 0;
                        <div class="btnContent">
                            @foreach (ButtonItemStyledPrimarySecondary button in contentMedia.ContentButtons)
                            {
                                @Html.CachedPartial("ButtonItem",
                                        button,
                                        (int)_configurations.PartialViewsSettings.Get("DefaultCacheSettingsForContentPartials").CachedSeconds,
                                        (bool)_configurations.PartialViewsSettings.Get("DefaultCacheSettingsForContentPartials").CacheByPage,
                                        false,
                                        new ViewDataDictionary {
                                        { "ConfigSettings", configSettings },
                                        { "HomeNode", homeNode },
                                        { "BtnClass", !string.IsNullOrEmpty(button.ButtonStyle) ? button.ButtonStyle.ToLower() : defaultButtonStyles[buttonIndex] },
                                        { "ClosestPageElement", closestPageElem }
                                        },
                                        contextualKeyBuilder: (model, viewData) => (contentMedia.Id + button.Name)
                                        );

                                buttonIndex++;
                            }
                        </div>
                    }
                </aside>
                @if ((contentMedia.ContentImage != null || !string.IsNullOrEmpty(contentMedia.ContentVideo)) && (string.IsNullOrEmpty(contentMedia.StyleMediaPosition) || contentMedia.StyleMediaPosition.Equals("Right")))
                {
                    <aside data-cropImage="@contentMedia.StyleEnableCrop.ToString().ToLower()" data-slider="true">
                        <figure class="@((!string.IsNullOrEmpty(contentMedia.ContentVideo) && !string.IsNullOrEmpty(youtubeEmbedUrl)) ? "mediaOverlay" : "")">
                            <img src="@image">
                            @if (!string.IsNullOrEmpty(contentMedia.ContentVideo) && !string.IsNullOrEmpty(youtubeEmbedUrl))
                            {
                                <div class="btnContent">
                                    <a href="#" class="btn iconBtn justIcon video openOverlay" data-video="@youtubeEmbedUrl" data-source="iframe">
                                        <i class="icon-base-play-fill"></i>
                                    </a>
                                </div>
                            }
                        </figure>
                    </aside>
                }
            </div>
        </section>
    }}