﻿@using LeGU.Web.Core.PublishedContentModels
@using LeGU.Web.MP.Core.GlobalSettings
@using System.Configuration
@inherits Umbraco.Web.Mvc.UmbracoViewPage<CTablock>

@{
    CTablock ctablock = Model;

    GlobalConfigurationSettings configSettings = (GlobalConfigurationSettings)ViewData["ConfigSettings"];
    IPublishedContent homeNode = (IPublishedContent)ViewData["HomeNode"];
    IPublishedContent closestPageElem = ViewData.ContainsKey("ClosestPageElement") ? (IPublishedContent)ViewData["ClosestPageElement"] : null;

    LeGUConfigurations _configurations = ConfigurationManager.GetSection("LeGUConfigurations") as LeGUConfigurations;

    string backgroundStyle = string.Empty;

    if (ctablock.StyleBackgroundImage != null)
    {
        string backgroundImageUrl = ctablock.StyleBackgroundImage.Url;
        string imageProcessorUrl = String.Format("{0}", backgroundImageUrl);

        backgroundStyle = string.Format("style=\"background-image: url({0})\"", imageProcessorUrl);
    }
    else if (!string.IsNullOrEmpty(ctablock.StyleBackgroundColor.Label))
    {
        backgroundStyle = string.Format("data-background=\"Color{0}\" data-bgCover=\"true\"", ctablock.StyleBackgroundColor.Label.Replace("-", "").ToUpper());
    }
    else
    {
        backgroundStyle = string.Format("data-bgGradient=\"{0}\"", string.IsNullOrEmpty(ctablock.StyleBackgroundGradient.Label) ? "G01" : ctablock.StyleBackgroundGradient.Label.Replace("-", ""));
    }
}

<section class="ctaBlock @(ctablock.StyleBackgroundImage != null ? "mediaOverlay" : "")"
         data-margin-top="@(!string.IsNullOrEmpty(ctablock.MarginsTopDesktop) ? ctablock.MarginsTopDesktop.ToLower() : "medium")"
         data-margin-bottom="@(!string.IsNullOrEmpty(ctablock.MarginsBottomDesktop) ? ctablock.MarginsTopDesktop.ToLower() : "medium")"
         data-marginMobile-top="@ctablock.MarginsTopMobile.ToLower()"
         data-marginMobile-bottom="@ctablock.MarginsBottomMobile.ToLower()"
         data-fullContainer="@(!string.IsNullOrEmpty(ctablock.StyleBackgroundSize) && ctablock.StyleBackgroundSize.Equals("Full container") ? "true" : "false")"
         data-align="@(!string.IsNullOrEmpty(ctablock.StyleTextAlign) ? ctablock.StyleTextAlign.ToLower() : "center")"
         @Html.Raw(backgroundStyle)
         data-sectionid="anchor@(ctablock.Id)"
         data-slideUp="true" data-slideDown="true">
    <div class="wrapper marginsSpace">
        <div class="titleBox" data-title="@(string.IsNullOrEmpty(ctablock.StyleFontSize) ? "XXL" : ctablock.StyleFontSize)" data-slider="true">
            <hgroup>
                <h1>@ctablock.ContentTitle</h1>
            </hgroup>
            @if (ctablock.ContentSubtitle != null && !string.IsNullOrEmpty(ctablock.ContentSubtitle.ToString()))
            {
                <p>@ctablock.ContentSubtitle</p>
            }
        </div>
        @{
            if (ctablock.ContentButtons != null
             && ctablock.ContentButtons.Any(b => ((ButtonItemStyledPrimarySecondary)b).ButtonText != null || ((ButtonItemStyledPrimarySecondary)b).ButtonIcon != null))
            {
                List<string> defaultButtonStyles = new List<string>() { "cta-01", "cta-02" };
                int buttonIndex = 0;

                <div class="btnContent"  data-slider="true">
                    @foreach (ButtonItemStyledPrimarySecondary button in ctablock.ContentButtons)
                    {
                        @Html.CachedPartial("ButtonItem",
                            button,
                            (int)_configurations.PartialViewsSettings.Get("DefaultCacheSettingsForContentPartials").CachedSeconds,
                            (bool)_configurations.PartialViewsSettings.Get("DefaultCacheSettingsForContentPartials").CacheByPage,
                            false,
                            new ViewDataDictionary {
                                { "ConfigSettings", configSettings },
                                { "HomeNode", homeNode },
                                { "BtnClass", !string.IsNullOrEmpty(button.ButtonStyle) ? button.ButtonStyle.ToLower() : defaultButtonStyles[buttonIndex] },
                                { "ClosestPageElement", closestPageElem }
                            },
                            contextualKeyBuilder: (model, viewData) => (ctablock.Id + button.Name)
                            );

                        buttonIndex++;
                    }
                </div>
            }
        }
    </div>
</section>