﻿@using LeGU.Web.Core.PublishedContentModels
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Separator>
@{
    Separator separator = Model;

    <section class="separator"
             data-background="@string.Format("Color{0}", string.IsNullOrEmpty(separator.StyleBackgroundColor.Label) ? "NEU01" : separator.StyleBackgroundColor.Label.Replace("-", "").ToUpper())"
             data-margin-top="none"
             data-margin-bottom="none"
             data-fullWidth="@(string.IsNullOrEmpty(separator.StyleBackgroundSize) || separator.StyleBackgroundSize.Equals("Full width") ? "true" : "false")">
        <div class="wrapper" 
             data-background="@string.Format("Color{0}", string.IsNullOrEmpty(separator.StyleLineColor.Label) ? "NEU03" : separator.StyleLineColor.Label.Replace("-", "").ToUpper())">
        </div>
    </section>
}