﻿<div class="iconator-dialog" ng-controller="RTEDialog.Controller">
    <div ng-if="loaded">
        <umb-property-editor ng-if="wrappedRTEProperty !== undefined"
                             model="wrappedRTEProperty">
        </umb-property-editor>
    </div>
</div>