﻿@using LeGU.Web.Core.PublishedContentModels
@using LeGU.Web.MP.Core.GlobalSettings
@using System.Configuration
@inherits Umbraco.Web.Mvc.UmbracoViewPage<HighlightSlider>

@{
    HighlightSlider highlightSlider = Model;

    IEnumerable<SliderItem> sliderItems = highlightSlider.ContentSliders != null ?
            highlightSlider.ContentSliders.Where(i => i.DocumentTypeAlias.Equals(SliderItem.ModelTypeAlias)).Select(i => new SliderItem(i)) : null;

    if (sliderItems != null && sliderItems.Count() > 1)
    {
        GlobalConfigurationSettings configSettings = (GlobalConfigurationSettings)ViewData["ConfigSettings"];
        IPublishedContent homeNode = (IPublishedContent)ViewData["HomeNode"];
        IPublishedContent closestPageElem = ViewData.ContainsKey("ClosestPageElement") ? (IPublishedContent)ViewData["ClosestPageElement"] : null;

        LeGUConfigurations _configurations = ConfigurationManager.GetSection("LeGUConfigurations") as LeGUConfigurations;

        <section class="highlightSlider"
                 data-margin-top=""
                 data-margin-bottom=""
                 data-control="HIGHLIGHTSLIDER"
                 data-speed=""
                 data-autoplayspeed=""
                 @*data-loop="@highlightSlider.SliderConfigAutoPlay.ToString().ToLower()"*@
                 @*data-fullScreen="@(!string.IsNullOrEmpty(highlightSlider.StyleBackgroundSize) && highlightSlider.StyleBackgroundSize.Equals("Fullscreen") ? "true" : "false")"*@
                 data-vertical="false"
                 data-dots="false"
                 @*data-fade="@(!string.IsNullOrEmpty(highlightSlider.SliderConfigAnimation) && highlightSlider.SliderConfigAnimation.ToLower().Equals("fade") ? "true" : "false")"*@
                 data-align="center"
                 data-sectionid="anchor@(highlightSlider.Id)">
            <div class="slider">
                @foreach (SliderItem sliderItem in sliderItems)
                {
                    //string backgroundStyle = sliderItem.SliderBackgroundImage != null ?
                    //            string.Format("data-bgCover=\"true\"") :
                    //            string.Format("data-bgGradient=\"{0}\"", !string.IsNullOrEmpty(sliderItem.SliderBackgroundGradient.Label) ? sliderItem.SliderBackgroundGradient.Label.Replace("-", "") : "G01");

                    <div class="item @(sliderItem.SliderBackgroundImage != null ? "mediaOverlay" : "")" @*@Html.Raw(backgroundStyle)*@>
                        @if (sliderItem.SliderBackgroundImage != null)
                        {
                            var imageUrl = sliderItem.SliderBackgroundImage.Url;
                            //var imageMobileUrl = (sliderItem.SliderMobileBackgroundImage != null) ? sliderItem.SliderMobileBackgroundImage.Url : imageUrl;
                            var backgroundImg = string.Format("style=\"background-image: url({0})\"", imageUrl);
                            //var backgroundImgMobile = string.Format("style=\"background-image: url({0})\"", imageMobileUrl);
                            <div class="cover imgDesktop" @Html.Raw(backgroundImg)></div>
                            @*<div class="cover imgMobile" @Html.Raw(backgroundImgMobile)></div>*@
                        }
                        <div class="wrapper marginsSpace">
                            <div class="titleBox">
                                <hgroup>
                                    <h1>@sliderItem.SliderTitle</h1>
                                </hgroup>
                                @if (sliderItem.SliderSubtitle != null)
                                {
                                    <p>@sliderItem.SliderSubtitle</p>
                                }
                            </div>
                            @{
                                ButtonItem button = sliderItem.SliderButton as ButtonItem;

                                @*if (button != default(ButtonItem) && (button.ButtonText != null || button.ButtonIcon != null))
                                {
                                <div class="btnContent">
                                    @Html.CachedPartial("ButtonItem",
                                             button,
                                             (int)_configurations.PartialViewsSettings.Get("DefaultCacheSettingsForContentPartials").CachedSeconds,
                                             (bool)_configurations.PartialViewsSettings.Get("DefaultCacheSettingsForContentPartials").CacheByPage,
                                             false,
                                             new ViewDataDictionary {
                                                        { "ConfigSettings", configSettings },
                                                        { "HomeNode", homeNode },
                                                        { "BtnClass", "cta-01" },
                                                        { "ClosestPageElement", closestPageElem }
                                             },
                                             contextualKeyBuilder: (model, viewData) => (sliderItem.Id + button.Name)
                                             )
                                </div>
                                }*@
                            }
                        </div>
                    </div>
                }
            </div>
            <i class="scrollDown icon-base-mouse"></i>
        </section>
    }
}