﻿@using LeGU.Web.Core.PublishedContentModels
@using LeGU.Web.MP.Core.GlobalSettings
@using System.Configuration
@inherits Umbraco.Web.Mvc.UmbracoViewPage<MainHeading>

@{
    MainHeading mainHeading = Model;

    GlobalConfigurationSettings configSettings = (GlobalConfigurationSettings)ViewData["ConfigSettings"];
    IPublishedContent homeNode = (IPublishedContent)ViewData["HomeNode"];
    IPublishedContent closestPageElem = ViewData.ContainsKey("ClosestPageElement") ? (IPublishedContent)ViewData["ClosestPageElement"] : null;

    LeGUConfigurations _configurations = ConfigurationManager.GetSection("LeGUConfigurations") as LeGUConfigurations;

    string backgroundStyle = string.Empty;
    string backgroundStyleMobile = string.Empty;

    if (mainHeading.StyleBackgroundImage != null)
    {
        string backgroundImageUrl = mainHeading.StyleBackgroundImage.Url;
        string imageProcessorUrl = String.Format("{0}", backgroundImageUrl);
        string backgroundMobileImageUrl = (mainHeading.StyleMobileBackgroundImage != null) ? mainHeading.StyleMobileBackgroundImage.Url : backgroundImageUrl;

        backgroundStyle = string.Format("style=\"background-image: url({0})\"", imageProcessorUrl);
        backgroundStyleMobile = string.Format("style=\"background-image: url({0})\"", backgroundMobileImageUrl);
    }
    else if (!string.IsNullOrEmpty(mainHeading.StyleBackgroundGradient.Label))
    {
        backgroundStyle = string.Format("data-bgGradient=\"{0}\"", mainHeading.StyleBackgroundGradient.Label.Replace("-", ""));
    }
    else
    {
        backgroundStyle = string.IsNullOrEmpty(mainHeading.StyleBackgroundColor.Label) ?
            "data-background=\"ColorNEU-01\"" :
            string.Format("data-background=\"Color{0}\" data-bgCover=\"true\"", mainHeading.StyleBackgroundColor.Label.Replace("-", "").ToUpper());
    }
}

<section class="mainHeading @(mainHeading.StyleBackgroundImage != null ? "mediaOverlay" : "")"
         @(mainHeading.StyleBackgroundImage == null ? 
            Html.Raw(backgroundStyle) : 
            Html.Raw(string.Format("data-cover=\"{0}\"", mainHeading.StyleEnableBackgroundImageScale.ToString().ToLower())))
         data-margin-top="medium"
         data-margin-bottom="medium"
         data-align="center"
         data-fullScreen="@(!string.IsNullOrEmpty(mainHeading.StyleBackgroundSize) && mainHeading.StyleBackgroundSize.Equals("Fullscreen") ? "true" : "false")"
         data-sectionid="anchor@(mainHeading.Id)">
    @if (mainHeading.StyleBackgroundImage != null)
    {
        <div class="cover imgDesktop" @Html.Raw(backgroundStyle)></div>
        <div class="cover imgMobile" @Html.Raw(backgroundStyleMobile)></div>
    }
    <div class="wrapper marginsSpace">
        <div class="titleBox">
            <hgroup>
                <h1>@mainHeading.ContentTitle</h1>
            </hgroup>
            @if (mainHeading.ContentSubtitle != null && !string.IsNullOrEmpty(mainHeading.ContentSubtitle.ToString()))
            {
                <p>@mainHeading.ContentSubtitle</p>
            }
        </div>
        @if (mainHeading.ContentDescription != default(IHtmlString))
        {
            <article class="richText">
                @Html.Raw(mainHeading.ContentDescription)
            </article>
        }
        @if (mainHeading.ContentButtons != null
            && mainHeading.ContentButtons.Any(b => ((ButtonItemStyledPrimarySecondary)b).ButtonText != null || ((ButtonItemStyledPrimarySecondary)b).ButtonIcon != null))
        {
            List<string> defaultButtonStyles = new List<string>() { "cta-01", "cta-02" };
            int buttonIndex = 0;
            <div class="btnContent">
                @foreach (ButtonItemStyledPrimarySecondary button in mainHeading.ContentButtons)
                {
                    @Html.CachedPartial("ButtonItem",
                             button,
                             (int)_configurations.PartialViewsSettings.Get("DefaultCacheSettingsForContentPartials").CachedSeconds,
                             (bool)_configurations.PartialViewsSettings.Get("DefaultCacheSettingsForContentPartials").CacheByPage,
                             false,
                             new ViewDataDictionary {
                                { "ConfigSettings", configSettings },
                                { "HomeNode", homeNode },
                                { "BtnClass", !string.IsNullOrEmpty(button.ButtonStyle) ? button.ButtonStyle.ToLower() : defaultButtonStyles[buttonIndex] },
                                { "ClosestPageElement", closestPageElem }                              
                             },
                             contextualKeyBuilder: (model, viewData) => (mainHeading.Id + button.Name)
                             );

                    buttonIndex++;
                }
            </div>
        }
    </div>
    <i class="scrollDown icon-base-mouse"></i>
</section>
