﻿@using LeGU.Web.Core.PublishedContentModels
@inherits Umbraco.Web.Mvc.UmbracoViewPage<SimpleHeading>

@{
    SimpleHeading simpleHeading = Model;

    string backgroundStyle = string.Empty;
    string backgroundStyleMobile = string.Empty;

    if (simpleHeading.StyleBackgroundImage != null)
    {
        string backgroundImageUrl = simpleHeading.StyleBackgroundImage.Url;
        string imageProcessorUrl = String.Format("{0}?height=320&width=1770&mode=crop", backgroundImageUrl);
        string backgroundMobileImageUrl = (simpleHeading.StyleMobileBackgroundImage != null) ? simpleHeading.StyleMobileBackgroundImage.Url : backgroundImageUrl;

        backgroundStyle = string.Format("style=\"background-image: url({0})\"", imageProcessorUrl);
        backgroundStyleMobile = string.Format("style=\"background-image: url({0})\"", backgroundMobileImageUrl);
    }
    else if (!string.IsNullOrEmpty(simpleHeading.StyleBackgroundGradient.Label))
    {
        backgroundStyle = string.Format("data-bgGradient=\"{0}\"", simpleHeading.StyleBackgroundGradient.Label.Replace("-", ""));
    }
    else
    {
        backgroundStyle = string.IsNullOrEmpty(simpleHeading.StyleBackgroundColor.Label) ?
            "data-background=\"ColorNEU01\"" :
            string.Format("data-background=\"Color{0}\" data-bgCover=\"true\"", simpleHeading.StyleBackgroundColor.Label.Replace("-", "").ToUpper());
    }
}

<section class="simpleHeading @(simpleHeading.StyleBackgroundImage != null ? "mediaOverlay" : "")"
         data-margin-top="medium"
         data-margin-bottom="medium"
         data-align="center"
         @(simpleHeading.StyleBackgroundImage == null ? Html.Raw(backgroundStyle) : Html.Raw(string.Format("data-cover=\"{0}\"", simpleHeading.StyleEnableBackgroundImageScale.ToString().ToLower())))
         data-sectionid="anchor@(simpleHeading.Id)">
    @if (simpleHeading.StyleBackgroundImage != null)
    {
        <div class="cover imgDesktop" @Html.Raw(backgroundStyle)></div>
        <div class="cover imgMobile" @Html.Raw(backgroundStyleMobile)></div>
    }
    <div class="wrapper">
        <div class="titleBox">
            <hgroup>
                <h1>@simpleHeading.ContentTitle</h1>
            </hgroup>
            @if (simpleHeading.ContentSubtitle != null)
            {
                <p>@simpleHeading.ContentSubtitle</p>
            }
        </div>
    </div>
</section>