﻿@using LeGU.Web.Core.PublishedContentModels
@using System.Configuration
@using LeGU.Web.MP.Core.GlobalSettings
@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    GlobalConfigurationSettings configSettings = (GlobalConfigurationSettings)ViewData["ConfigSettings"];

    LeGUConfigurations _configurations = ConfigurationManager.GetSection("LeGUConfigurations") as LeGUConfigurations;

    IPublishedContent homeNode = (IPublishedContent)ViewData["HomeNode"];
    string rootUrl = homeNode != null ? homeNode.Url : "/";

    bool hasPrimaryItems = configSettings.NavigationFooterPrimaryItems.Any() && configSettings.NavigationFooterPrimaryItems.Any(b => ((ButtonItem)b).ButtonLink != null);
    bool hasSecondaryItems = configSettings.NavigationFooterSecondaryItems.Any() && configSettings.NavigationFooterSecondaryItems.Any(b => ((ButtonItem)b).ButtonLink != null);
    if (configSettings != null)
    {
        if (hasPrimaryItems || hasSecondaryItems || configSettings.NavigationFooterCopyrightText != null)
        {
            string logoAlignment = "left",
                primaryAlignment = string.IsNullOrEmpty(configSettings.NavigationFooterPrimaryMenuItemsAlignment) ? "left" : configSettings.NavigationFooterPrimaryMenuItemsAlignment.ToLower(),
                secondaryAlignment = "right";

            if (!configSettings.NavigationFooterDisplayLogo && !hasSecondaryItems && string.IsNullOrEmpty(configSettings.NavigationFooterPrimaryMenuItemsAlignment))
            {
                primaryAlignment = "center";
            }

            if (!hasPrimaryItems)
            {
                if (!hasSecondaryItems)
                {
                    logoAlignment = "center";
                }
                else if (!configSettings.NavigationFooterDisplayLogo)
                {
                    secondaryAlignment = "center";
                }
            }

            <section class="footerNav"
                     data-background="ColorNEU05"
                     data-control="FOOTERNAV">
                <div class="wrapper">
                    @if (configSettings.NavigationFooterDisplayLogo && configSettings.DefaultLogo != null
                        || configSettings.NavigationFooterPrimaryItems.Any(b => ((ButtonItem)b).ButtonLink != null)
                        || configSettings.NavigationFooterSecondaryItems.Any(b => ((ButtonItem)b).ButtonLink != null))
                    {
                        <article>
                            @if (configSettings.NavigationFooterDisplayLogo)
                            {
                                if (configSettings.NavigationFooterOverrideLogo != null)
                                {
                                    <figure data-align="@logoAlignment" class="logo">
                                        <a href="@rootUrl">
                                            <img src="@configSettings.NavigationFooterOverrideLogo.Url" alt="Website logo in footer">
                                        </a>
                                    </figure>
                                }
                                else if (configSettings.DefaultLogo != null)
                                {
                                    <figure data-align="@logoAlignment" class="logo">
                                        <a href="/">
                                            <img src="@configSettings.DefaultLogo.Url" alt="Website logo in footer">
                                        </a>
                                    </figure>
                                }
                            }
                            @if (hasPrimaryItems)
                            {
                                <ul class="primaryItems" data-align="@primaryAlignment">
                                    @foreach (ButtonItem primaryItem in configSettings.NavigationFooterPrimaryItems)
                                    {
                                        if (primaryItem.ButtonLink != null && (primaryItem.ButtonText != null || primaryItem.ButtonIcon != null))
                                        {
                                            string linkTarget = primaryItem.ButtonLink.Target;

                                            <li>
                                                <a href="@primaryItem.ButtonLink.Url" target="@(linkTarget)" title="@primaryItem.ButtonLink.Name" class="btn alternative-03 @(primaryItem.ButtonIcon != null ? (primaryItem.ButtonIconPosition.Equals("Right") ? "iconBtn" : "iconBtn iconLeft") : "")">
                                                    @if (primaryItem.ButtonIcon != null && !primaryItem.ButtonIconPosition.Equals("Left"))
                                                    {
                                                        <i class="@primaryItem.ButtonIcon"></i>
                                                    }
                                                    @if (primaryItem.ButtonText != null)
                                                    {
                                                        <p>@primaryItem.ButtonText</p>
                                                    }
                                                    @if (primaryItem.ButtonIcon != null && primaryItem.ButtonIconPosition.Equals("Left"))
                                                    {
                                                        <i class="@primaryItem.ButtonIcon"></i>
                                                    }
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            }
                            @if (hasSecondaryItems)
                            {
                                <ul class="secondaryItems" data-align="@secondaryAlignment">
                                    @foreach (ButtonItem secondaryItem in configSettings.NavigationFooterSecondaryItems)
                                    {
                                        if (secondaryItem.ButtonLink != null && (!string.IsNullOrEmpty(secondaryItem.ButtonLink.Name) || secondaryItem.ButtonIcon != null))
                                        {
                                            string linkTarget = secondaryItem.ButtonLink.Target;

                                            <li>
                                                <a href="@secondaryItem.ButtonLink.Url" target="@(linkTarget)" class="btn alternative-03 @(secondaryItem.ButtonIcon != null ? (secondaryItem.ButtonIconPosition.Equals("Right") ? "iconBtn" : "iconBtn iconLeft") : "")">
                                                    @if (secondaryItem.ButtonIcon != null && !secondaryItem.ButtonIconPosition.Equals("Left"))
                                                    {
                                                        <i class="@secondaryItem.ButtonIcon"></i>
                                                    }
                                                    @if (secondaryItem.ButtonText != null)
                                                    {
                                                        <p>@secondaryItem.ButtonText</p>
                                                    }
                                                    @if (secondaryItem.ButtonIcon != null && secondaryItem.ButtonIconPosition.Equals("Left"))
                                                    {
                                                        <i class="@secondaryItem.ButtonIcon"></i>
                                                    }
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            }
                        </article>
                    }
                    <div class="richText disclaimer" data-align="@(string.IsNullOrEmpty(configSettings.NavigationFooterCopyrightTextAlignment) ? "left" : configSettings.NavigationFooterCopyrightTextAlignment.ToLower())">
                        @Html.Raw(configSettings.NavigationFooterCopyrightText.ToString().Replace("[YEAR]", DateTime.Now.Year.ToString()))
                    </div>
                </div>
            </section>
        }
    }
}
