﻿@using LeGU.Web.Core.PublishedContentModels
@using LeGU.Web.MP.Core.GlobalSettings
@using System.Configuration
@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>

@{
    GlobalConfigurationSettings configSettings = (GlobalConfigurationSettings)ViewData["ConfigSettings"];

    LeGUConfigurations _configurations = ConfigurationManager.GetSection("LeGUConfigurations") as LeGUConfigurations;

    IPublishedContent homeNode = (IPublishedContent)ViewData["HomeNode"];
    string queryPageElementsNode = string.Format("//{0}[@id='{1}']/pageElements", Model.DocumentTypeAlias, Model.Id);
    IPublishedContent closestPageElem = Umbraco.TypedContentSingleAtXPath(queryPageElementsNode);

    string dataTheme = "false";

    if(closestPageElem.Children.First().HasProperty("styleBackgroundSize") && closestPageElem.Children.First().GetPropertyValue<string>("styleBackgroundSize").Equals("Fullscreen"))
    {
        dataTheme = configSettings.NavigationMenuAllowNavigationTheme ? "true": "false";
    }

    string rootUrl = homeNode != null ? homeNode.Url : "/";
    bool onlyLogo = !configSettings.NavigationMenuMenuBuilder.Any(b => ((ButtonItem)b).ButtonLink != null);
    if (configSettings != null)
    {
        if (configSettings.NavigationMenuMenuBuilder != null && configSettings.NavigationMenuMenuBuilder.Any() && configSettings.DefaultLogo != null)
        {
            <section class="mainNav"
                     data-fixed="@configSettings.NavigationMenuNavigationSticky.ToString().ToLower()"
                     data-dropmenu="@(configSettings.NavigationMenuNaviagtionAnimation.ToLower().Equals("slide down") ? "true" : "false")"
                     data-background="ColorNEU01"
                     data-control="MAINNAV"
                     data-theme="@dataTheme"
                     data-fullMobile="@(configSettings.NavigationMenuNavigationFullMobile ? "true" : "false")"
                     @Html.Raw(onlyLogo ? "data-logoOnly=\"true\"" : "")>
                <div class="wrapper">
                    <figure data-align="@(onlyLogo && !string.IsNullOrEmpty(configSettings.NavigationMenuNavigationLogoAlignment) ? configSettings.NavigationMenuNavigationLogoAlignment.ToLower() : "left")" class="logo">
                        <a href="@rootUrl">
                            @if (dataTheme.Equals("true") && configSettings.AlternativeLogo != null)
                            {
                                <img src="@(configSettings.AlternativeLogo.Url)?height=80" alt="Website logo in header menu">
                            }
                            else
                            {
                                <img src="@(configSettings.DefaultLogo.Url)?height=80" alt="Website logo in header menu">
                            }
                        </a>
                    </figure>
                    @if (!onlyLogo)
                    {
                        <div class="menuMobile">
                            <div class="menuBox">
                                <span></span>
                            </div>
                            <p>Menu</p>
                        </div>
                    }
                    @if (!onlyLogo)
                    {
                        <nav class="navDesktop" data-align="@(string.IsNullOrEmpty(configSettings.NavigationMenuNavigationAlignment) ? "right" : configSettings.NavigationMenuNavigationAlignment.ToLower())">
                            <ul class="menuItems">
                                @foreach (ButtonItem menuItem in configSettings.NavigationMenuMenuBuilder)
                                {
                                    if (menuItem.ButtonLink != null)
                                    {
                                        <li>
                                            @Html.CachedPartial("ButtonItem",
                                                     menuItem,
                                                     (int)_configurations.PartialViewsSettings.Get("DefaultCacheSettingsForContentPartials").CachedSeconds,
                                                     (bool)_configurations.PartialViewsSettings.Get("DefaultCacheSettingsForContentPartials").CacheByPage,
                                                     false,
                                                     new ViewDataDictionary {
                                                                        { "ConfigSettings", configSettings },
                                                                        { "HomeNode", homeNode },
                                                                        { "BtnClass", "" },
                                                                        { "BtnType", "alternative-02" },
                                                                        { "ClosestPageElement", closestPageElem }
                                                     },
                                                     contextualKeyBuilder: (model, viewData) => (configSettings.Id + menuItem.Name)
                                                     );
                                        </li>
                                    }

                                }
                            </ul>
                        </nav>
                    }
                </div>
                @if (!onlyLogo)
                {
                    <nav class="navMobile">
                        <ul class="menuItemsMobile">
                            @foreach (ButtonItem menuItem in configSettings.NavigationMenuMenuBuilder)
                            {
                                if (menuItem.ButtonLink != null)
                                {
                                    <li>
                                        @Html.CachedPartial("ButtonItem",
                                                 menuItem,
                                                 (int)_configurations.PartialViewsSettings.Get("DefaultCacheSettingsForContentPartials").CachedSeconds,
                                                 (bool)_configurations.PartialViewsSettings.Get("DefaultCacheSettingsForContentPartials").CacheByPage,
                                                 false,
                                                 new ViewDataDictionary {
                                                            { "ConfigSettings", configSettings },
                                                            { "HomeNode", homeNode },
                                                            { "BtnClass", "" },
                                                            { "BtnType", "alternative-02" },
                                                            { "ClosestPageElement", closestPageElem }
                                                 },
                                                 contextualKeyBuilder: (model, viewData) => (configSettings.Id + menuItem.Name)
                                                 );
                                    </li>
                                }
                            }
                        </ul>
                    </nav>
                }
            </section>
        }
    }
}