.table-main thead {
    background-color: #fff;
}

.table-main .table-head {
    background-color: #f3f3f5;
    vertical-align: middle;
    text-align: center;
    min-width: 20px;
    font-weight: bold;
    padding: 5px;
}

.table-body {
    width: 85px;
    word-wrap: break-word;
    position: relative;
}

.table-body:hover .cell-extra-opts {
    display: block;
}

.table-body .table-html-cell {
    text-align: center;
}

.table-body .cell-extra-opts {
    position: absolute;
    bottom: 0;
    left: 2px;
    display: none;
}

thead .table-add-cells, tbody .table-add-cells, .table-body .cell-extra-opts i {
    cursor: pointer;
}

.table-body input {
    width: 100%;
    height: 3em;
    border: none;
    padding: 0;
    text-align: center;
}

.table-main .table-footer {
    text-align: center;
}

.table-main tfoot {
    text-align: center;
}

.table-main tfoot tr:first-child {
    cursor: pointer;
}

.table-main tfoot tr:nth-child(n+2) {
    background-color: #f3f3f5;
    padding: 3px;
}

.table-main tfoot .table-advance {
    text-align: left;
}