﻿<div class="table-main" ng-controller="TableEditor.Controller">
    <table>
        <thead>
            <tr>
                <th class="table-empty-cell"></th>
                <th class="table-head" ng-repeat="column in model.value.tableContent[0] track by $index">
                    <div>
                        {{$index + 1}}
                        <i class="icon icon-trash table-add-cells" ng-show="canRemoveColumn()" ng-click="removeColumn($index)"></i>
                    </div>
                </th>
                <th class="table-empty-cell"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in model.value.tableContent">
                <td class="table-head">
                    {{$index + 1}}
                    <i class="icon icon-trash table-add-cells" ng-show="canRemoveRow()" ng-click="removeRow($index)"></i>
                </td>
                <td style="border: 1px solid #BBBABF" class="table-body table-add-cells" ng-repeat="col in row track by $index">
                    <div class="table-html-cell" ng-if="col.isHtml" ng-bind-html="col.value"></div>
                    <input ng-if="!col.isHtml" ng-model="col.value" />
                    <div class="cell-extra-opts">
                        <i class="icon-font" title="Add rich text" ng-click="openRTEOverlay(this)"></i>
                        <i class="icon-smiley-inverted" title="Add icon" ng-click="openIconOverlay(this)"></i>
                    </div>
                </td>
                <td ng-if="$index === 0" rowspan="{{model.value.tableContent.length}}">
                    <i class="icon icon-add table-add-cells" ng-click="addColumn($index)"></i>
                </td>
            </tr>
            <tr>
                <td class="table-empty-cell"></td>
                <td class="table-footer" colspan="{{model.value.tableContent[0].length}}">
                    <i class="icon icon-add table-add-cells" ng-click="addRow($index)"></i>
                </td>
                <td class="table-empty-cell"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="{{model.value.tableContent[0].length + 2}}" ng-click="showAdvance = !showAdvance">
                    {{showAdvance ? 'Hide' : 'Show'}} advance
                    <i class="icon {{showAdvance ? 'icon-navigation-up' : 'icon-navigation-down'}}"></i>
                </td>
            </tr>
            <tr ng-show="showAdvance">
                <td class="table-empty-cell"></td>
                <td class="table-advance" colspan="{{model.value.tableContent[0].length}}">
                    <input type="checkbox" id="firstRowAsHeader" ng-model="model.value.firstRowAsHeader" />
                    <label for="firstRowAsHeader">Use first <strong>row</strong> as header</label>
                </td>
                <td class="table-empty-cell"></td>
            </tr>
            <tr ng-show="showAdvance">
                <td class="table-empty-cell"></td>
                <td class="table-advance" colspan="{{model.value.tableContent[0].length}}">
                    <input type="checkbox" id="firstColAsHeader" ng-model="model.value.firstColAsHeader" />
                    <label for="firstColAsHeader">Use first <strong>column</strong> as header</label>
                </td>
                <td class="table-empty-cell"></td>
            </tr>
            <tr ng-show="showAdvance">
                <td class="table-empty-cell"></td>
                <td class="table-advance" colspan="{{model.value.tableContent[0].length}}">
                    <input type="button" value="Clear all" ng-click="clearAll()" />
                </td>
                <td class="table-empty-cell"></td>
            </tr>
        </tfoot>
    </table>

    <umb-overlay ng-if="overlay.show"
                 model="overlay"
                 view="overlay.view"
                 position="right">
    </umb-overlay>
</div>