<template>
  <div>
    <transition v-if="hasData && !isLoading" name="fade" v-show="hasData">
      <div class="site">
        <nuxt />
      </div>
    </transition>
    <Loading :loading="isLoading" />
    <PageTransi />
  </div>
</template>

<script>
import Nav from "~/components/Nav.vue";
import Footer from "~/components/Footer.vue";
import Loading from "~/components/loading.vue";
import PageTransi from "~/components/PageTransi.vue";

export default {
  components: {
    Nav,
    Footer,
    Loading,
    PageTransi
  },
  computed: {
    hasData() {
      return this.$store.state.hasData;
    },
    isLoading() {
      return this.$store.state.isLoading;
    }
  }
};
</script>

<style lang="scss">
@import "~/assets/scss/main.scss";
@import "~/assets/scss/reset.scss";

.site {
  overflow: hidden;
}
</style>
