<template>
  <div class="errorPage">
    <div class="container">
      <h1 v-if="error.statusCode === 404">
        {{error.statusCode}}
        <p>{{error.message}}</p>
      </h1>
      <h1 v-else>An error occurred</h1>
      <nuxt-link to="/">Home page</nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  props: ["error"],
  layout: "default"
};
</script>


<style lang="scss" scoped>
@import "~/assets/scss/main.scss";

.errorPage {
  background-color: var(--Neu-11);
  width: 100%;
  height: 100vh;

  .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  h1 {
    @include font-XXL;
    font-family: var(--brand-mohrbold);
    color: var(--Neu-01);
    margin-bottom: 48px;
  }
  a {
    border-radius: 40px;
    padding: 16px 28px;
    @include font-Body;
    color: var(--Neu-01);
    font-weight: var(--bold);
    transition: 0.1s all ease-in-out;
    text-transform: none;
    @include box-shadow(rgba(181, 99, 246, 0.4), rgba(181, 99, 246, 0.7));
    background-color: var(--M-01);
    &:hover {
      background-color: #c882ff;
    }
  }
}
</style>