﻿<div class="umb-editor extendedRTE"
     ng-controller="ExtendedRichTextController"
     ng-model="model">

    <umb-property-editor ng-if="wrappedProperty !== undefined"
                         model="wrappedProperty">
    </umb-property-editor>

    <span class="counter {{css}}">
        <i class="icon icon-{{icon}}"></i>
        <span ng-show="counter != 0 && counter <= limit">
            <localize key="inputlimit_youhave">You have</localize> {{counter}} <localize key="inputlimit_charleft">characters left</localize>
        </span>
        <span ng-show="counter === 0">
            <localize key="inputlimit_limitReachedOnly">Only</localize> {{limit}} <localize key="inputlimit_limitReachedAllowed">allowed</localize>
        </span>
    </span>

</div>