.extendedRTE .counter {
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

.extendedRTE .thumb-up, .extendedRTE .alert, .extendedRTE .stop-hand {
    padding: 5px 10px;
}

.extendedRTE .thumb-up {
    background: #4FA23C;
    color: #fff;
}

.extendedRTE .alert {
    background: #B8860B;
    color: #fff;
}

.extendedRTE .stop-hand {
    color: #fff;
    background: #DD793F;
}