<template>
  <div>
    <Nav />
    <SimpleHeader :item="copy.mainHeading[0]" v-if="copy.mainHeading[0]" />
    <ContentMediaWhite :item="copy.contentMediaWhite[0]" :v-if="copy.contentMediaWhite[0]" />
    <Heading :item="copy.simpleHeading[0]" v-if="copy.simpleHeading[0]" />
    <ContentGrid :items="copy.relatedPages[0].ContentPages" v-if="copy.relatedPages[0]" />
    <CtaBlock :item="copy.cTABlock[0]" v-if="copy.cTABlock" />
    <Footer />
  </div>
</template>

<script>
import Nav from "~/components/Nav.vue";
import SimpleHeader from "~/components/SimpleHeader.vue";
import Heading from "~/components/Heading.vue";
import ContentGrid from "~/components/ContentGrid.vue";
import ContentMediaWhite from "~/components/ContentMediaWhite.vue";
import CtaBlock from "~/components/CtaBlock.vue";
import Footer from "~/components/Footer.vue";

export default {
  components: {
    Heading,
    SimpleHeader,
    CtaBlock,
    ContentGrid,
    ContentMediaWhite,
    Nav,
    Footer
  },
  computed: {
    copy() {
      return this.$store.state.contactsPage;
    }
  },
  head() {
    return {
      link: [
        {
          rel: "canonical",
          href: window.location.origin + this.$route.path
        }
      ]
    };
  }
};
</script>

<style></style>
