<template>
  <div>
    <Nav :color="copy.PageColor" />
    <Header :slides="copy.highlightSlider[0].ContentSliders"/>
    <ContentMediaImgs v-if="copy.contentMediaDualImage[0]" :info="copy.contentMediaDualImage[0]" />
    <Heading v-if="copy.simpleHeading[0]" :item="copy.simpleHeading[0]" />
    <InfoIcons v-if="copy.infoIcons[0]" :items="copy.infoIcons[0].ContentItems" />
    <Heading v-if="copy.simpleHeading[1]" :item="copy.simpleHeading[1]" />
    <ContentGrid v-if="copy.relatedPages[0]" :items="copy.relatedPages[0].ContentPages" />
    <CtaBlock v-if="copy.cTABlock[0]" :item="copy.cTABlock[0]" />
    <Heading v-if="copy.simpleHeading[1]" :item="copy.simpleHeading[1]" />
    <ContentGrid v-if="copy.relatedPages[1]" :items="copy.relatedPages[1].ContentPages" />
    <CtaBlock v-if="copy.cTABlock[1]" :item="copy.cTABlock[1]" />
    <Footer />
  </div>
</template>

<script>
import Header from "~/components/Header.vue"
import ContentMediaImgs from "~/components/ContentMediaImgs.vue"
import Heading from "~/components/Heading.vue"
import ContentGrid from "~/components/ContentGrid.vue"
import CtaBlock from "~/components/CtaBlock.vue"
import InfoIcons from "~/components/InfoIcons.vue"
import Nav from "~/components/Nav.vue"
import Footer from "~/components/Footer.vue"

export default {
  components: {
    Header,
    ContentMediaImgs,
    Heading,
    ContentGrid,
    CtaBlock,
    InfoIcons,
    Nav,
    Footer
  },
  computed: {
    copy() {
      return this.$store.state.index
    }
  },
  head() {
    return {
      link: [
        {
          rel: "canonical",
          href: window.location.origin + this.$route.path
        }
      ],
      title: this.copy.PageName,
      meta: [
        {
          hid: `description`,
          name: "description",
          content: this.copy.PageDescription
        },
        {
          hid: "og:title",
          name: "og:title",
          content: this.copy.PageTitle
        },
        {
          hid: "og:description",
          name: "og:description",
          content: this.copy.PageDescription
        }
      ]
    }
  }
}
</script>

<style></style>
