<template>
  <div>
    <Nav color="M-01" />
    <SimpleHeader :item="copy.mainHeading[0]" v-if="copy.mainHeading[0]" />
    <ContentMediaWhite :item="copy.contentMediaWhite[0]" v-if="copy.contentMediaWhite[0]" />
    <FilterBar />
    <Heading :item="copy.simpleHeading[0]" v-if="copy.simpleHeading[0]" />
    <ContentGrid :items="copy.relatedPages[0].ContentPages" v-if="copy.relatedPages[0]" />
    <CtaBlock :item="copy.cTABlock[0]" v-if="copy.cTABlock[0]" />
    <CtaBlock :item="copy.cTABlock[1]" v-if="copy.cTABlock[1]" />
    <Footer />
  </div>
</template>



<script>
import Nav from "~/components/Nav.vue";
import SimpleHeader from "~/components/SimpleHeader.vue";
import ContentMediaWhite from "~/components/ContentMediaWhite.vue";
import Heading from "~/components/Heading.vue";
import FilterBar from "~/components/FilterBar.vue";
import ContentGrid from "~/components/ContentGrid.vue";
import CtaBlock from "~/components/CtaBlock.vue";
import Footer from "~/components/Footer.vue";

export default {
  components: {
    Nav,
    Heading,
    SimpleHeader,
    FilterBar,
    ContentMediaWhite,
    CtaBlock,
    ContentGrid,
    Footer
  },
  computed: {
    copy() {
      return this.$store.state.portfolioPage;
    }
  },
  head() {
    return {
      link: [
        {
          rel: "canonical",
          href: window.location.origin + this.$route.path
        }
      ],
      title: this.copy.PageTitle,
      meta: [
        {
          hid: `description`,
          name: "description",
          content: this.copy.PageDescription
        },
        {
          hid: "og:title",
          name: "og:title",
          content: this.copy.PageTitle
        },
        {
          hid: "og:image",
          name: "og:image",
          content: this.copy.PageImage ? this.copy.PageImage.ImageSrc : ""
        },
        {
          hid: "og:description",
          name: "og:description",
          content: this.copy.PageDescription
        }
      ]
    };
  }
};
</script>

<style>
</style>
