﻿@using ClientDependency.Core.Mvc
@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>

@{
    Html.RequiresCss("/css/main.css");
}
@Html.RenderCssHere()

<style>
    .profiler-results {
        width: auto;
    }

    .profiler-popup {
        width: auto;
    }
</style>