﻿@using Umbraco.Core.Models
@using LeGU.Web.MP.Core.GlobalSettings
@using LeGU.Web.MP.Core.Objects.CSP
@using LeGU.Web.Core.PublishedContentModels
@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    IPublishedContent currentPage = Model;
    GlobalConfigurationSettings configSettings = (GlobalConfigurationSettings)ViewData["ConfigSettings"];
    LeGUConfigurations _configurations = (LeGUConfigurations)ViewData["Configurations"];

    if (configSettings.AnalyticsEnabled && !String.IsNullOrEmpty(configSettings.AnalyticsCode))
    {
        @*Google Analytics*@
        <script nonce="@Html.ScriptNonce()">
            (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', '@(configSettings.AnalyticsCode)', 'auto');
        ga('send', 'pageview');
        </script>
        @*End Google Analytics*@
    }

    if (configSettings.TagManagerEnabled && !string.IsNullOrEmpty(configSettings.TagManagerCode))
    {
        <!-- Google Tag Manager -->
        <script nonce="@Html.ScriptNonce()">
            (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', '@configSettings.TagManagerCode');
        </script>
        <!-- End Google Tag Manager -->

        <!-- Google Tag Manager (noscript) -->
        <noscript nonce="@Html.ScriptNonce()">
            <iframe src="https://www.googletagmanager.com/ns.html?id=@configSettings.TagManagerCode" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!--End Google Tag Manager(noscript)-->
    }
}
