﻿@using System.Configuration
@using LeGU.Web.MP.Core.GlobalSettings
@using LeGU.Web.Core.PublishedContentModels
@using LeGU.Web.MP.Core.Managers
@using LeGU.Web.MP.Core.Objects.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    IPublishedContent currentPage = Model;
    GlobalConfigurationSettings configSettings = (GlobalConfigurationSettings)ViewData["ConfigSettings"];
    LeGUConfigurations _configurations = (LeGUConfigurations)ViewData["Configurations"];
    IPublishedContent homeNode = (IPublishedContent)ViewData["HomeNode"];
    ModelsManager _modelsManager = new ModelsManager();
    PageMeta _pageMeta = _modelsManager.GetPageMetadata(currentPage, configSettings);

    string currentHost = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);

    if (null != _pageMeta)
    {
        <meta charset="utf-8" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1, initial-scale = 1.0, shrink-to-fit=no" />

        <title>@(_pageMeta.SEOTitle)</title>
        <meta name="description" content="@(_pageMeta.SEODescription)" />

        if (!String.IsNullOrEmpty(_pageMeta.SEOKeywords))
        {
            <meta name="keywords" content="@Html.Raw(_pageMeta.SEOKeywords)" />
        }

        string robotsNoIndex = _pageMeta.SEONoIndex ? "NOINDEX" : "INDEX";
        string robotsNoFollow = _pageMeta.SEONoIndex ? "NOFOLLOW" : "FOLLOW";
        <meta name="ROBOTS" content="@(robotsNoIndex), @(robotsNoFollow)">
        <meta name="google" content="notranslate" />

        IPublishedContent shareImage = Umbraco.TypedMedia(_pageMeta.OGImageMediaId);
        string shareImageSrc = shareImage.Url;

        @*FB meta*@
        <meta property="og:title" content="@(_pageMeta.OGTitle)" />
        <meta property="og:url" content="@(currentPage.Url)" />
        <meta property="og:description" content="@(_pageMeta.OGDescription)" />
        <meta property="og:site_name" content="@(_pageMeta.SiteName)" />
        <meta property="og:type" content="@(_pageMeta.OGType)" />
        <meta property="og:image" content="@(currentHost + Url.GetCropUrl(shareImageSrc))" />
        if (!string.IsNullOrEmpty(_pageMeta.OGImageWidth))
        {
            <meta property="og:image:width" content="@(_pageMeta.OGImageWidth)" />
        }
        if (!string.IsNullOrEmpty(_pageMeta.OGImageHeight))
        {
            <meta property="og:image:height" content="@(_pageMeta.OGImageHeight)" />
        }

        @*Twitter meta*@
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:url" content="@currentPage.Url" />
        <meta name="twitter:title" content="@(_pageMeta.OGTitle)" />
        <meta name="twitter:description" content="@(_pageMeta.SEODescription)" />
        @*The image must be a minimum size of 120px by 120px and must be less than 1MB in file size. The image will be cropped to a square on all platforms.*@
        <meta name="twitter:image" content="@(currentHost + Url.GetCropUrl(shareImageSrc))" />

        IPublishedContent favicon = Umbraco.TypedMedia(_pageMeta.FaviconMediaId);
        string faviconExtension = favicon.GetPropertyValue<string>("umbracoExtension");
        string faviconSrc = favicon.Url;

        @*Favicon*@
        <link rel="icon" type="image/@(faviconExtension)" href="@(currentHost + Url.GetCropUrl(faviconSrc, 32, 32))" sizes="32x32" />
        <link rel="icon" type="image/@(faviconExtension)" href="@(currentHost + Url.GetCropUrl(faviconSrc, 16, 16))" sizes="16x16" />

        if (_pageMeta.GenerateAppleTouch)
        {
            @*Add to home screen icon*@
            <link href="@(currentHost + Url.GetCropUrl(faviconSrc, 60, 60))" rel="apple-touch-icon" sizes="60x60" />
            <link href="@(currentHost + Url.GetCropUrl(faviconSrc, 76, 76))" rel="apple-touch-icon" sizes="76x76" />
            <link href="@(currentHost + Url.GetCropUrl(faviconSrc, 120, 120))" rel="apple-touch-icon" sizes="120x120" />
            <link href="@(currentHost + Url.GetCropUrl(faviconSrc, 152, 152))" rel="apple-touch-icon" sizes="152x152" />
            <link href="@(currentHost + Url.GetCropUrl(faviconSrc, 180, 180))" rel="apple-touch-icon" sizes="180x180" />
        }

        if (_pageMeta.GenerateMicrosoftTile)
        {
            var tileBackgroundColor = !String.IsNullOrEmpty(_pageMeta.MicrosoftTileBackgroundColor) ?
                _pageMeta.MicrosoftTileBackgroundColor : "#000000";

            string browserConfigFileName = homeNode.Name.Trim().Replace(" ", "_");
            browserConfigFileName += ".xml";

            @*IE 10 Metro tile icon*@
            <meta name="msapplication-TileColor" content="@(tileBackgroundColor)" />
            <meta name="msapplication-TileImage" content="@(currentHost + Url.GetCropUrl(faviconSrc, 144, 144))" />
            @*IE 11 Tile for Windows 8.1 Start Screen*@
            <meta name="application-name" content="@(_pageMeta.SiteName)">
            <meta name="msapplication-tooltip" content="@(_pageMeta.SEOTitle)">
            <meta name="msapplication-config" content="@(currentHost + _configurations.GlobalSettings.Get("MicrosoftTileFilePath").Value + browserConfigFileName)">
        }
    }
}