﻿<div ng-controller="UIOMatic.ButtonValidation">
    <button 
            class="btn" 
            ng-class="(StartupIsValidated || property.value.StartupIsValid) ? 'btn-primary' :  'btn-danger'" 
            ng-click="ValidateStartup(property.value.Id)" 
            ng-disabled="(StartupIsValidated || property.value.StartupIsValid)"
            title="If the button is red, startup has yet to be validated. If the button is Green startup is validated and in content.">
        Validate Startup
    </button>
</div>
