﻿@using LeGU.Web.Core.PublishedContentModels
@inherits Umbraco.Web.Mvc.UmbracoViewPage<RelatedPages>

@{
    RelatedPages relatedPages = Model;

    if (relatedPages.ContentPages.Count() > 1)
    {
        bool showImages = relatedPages.ContentShowImages && !relatedPages.ContentPages.Any(p => ((WebsitePage)p).PageDefinitionImage == null);

        <section class="relatedPages"
                 data-background="@(string.IsNullOrEmpty(relatedPages.StyleBackgroundColor.Label) ? "ColorNEU01" : string.Format("Color{0}", relatedPages.StyleBackgroundColor.Label.Replace("-", "").ToUpper()))"
                 data-margin-top="@(!string.IsNullOrEmpty(relatedPages.MarginsTopDesktop) ? relatedPages.MarginsTopDesktop.ToLower() : "medium")"
                 data-margin-bottom="@(!string.IsNullOrEmpty(relatedPages.MarginsBottomDesktop) ? relatedPages.MarginsTopDesktop.ToLower() : "medium")"
                 data-marginMobile-top="@relatedPages.MarginsTopMobile.ToLower()"
                 data-marginMobile-bottom="@relatedPages.MarginsBottomMobile.ToLower()"
                 data-control="RELATEDPAGES"
                 data-sectionid="anchor@(relatedPages.Id)"
                 data-fullContainer="@(relatedPages.StyleBackgroundSize.Equals("Full container") ? "true" : "false")"
                 data-slideUp="true" data-slideDown="true" data-delay="0.2">
            <div class="wrapper">
                @if (!string.IsNullOrEmpty(relatedPages.ContentTitle))
                {
                    <div class="titleBox" data-title="@(string.IsNullOrEmpty(relatedPages.StyleTitleFontSize) ? "Giant" : relatedPages.StyleTitleFontSize)" data-slider="true">
                        <hgroup>
                            <h1>@relatedPages.ContentTitle</h1>
                        </hgroup>
                    </div>
                }
                <ul>
                    @foreach (WebsitePage page in relatedPages.ContentPages)
                    {
                        <li data-slider="true">
                            <a href="@page.Url"></a>
                            @if (showImages)
                            {
                                <figure>
                                    <img src="@page.PageDefinitionImage.Url" alt="@page.PageDefinitionDescription" />
                                </figure>
                            }
                            <article class="marginsSpace">
                                <p class="title">@page.PageDefinitionTitle</p>
                                @if (relatedPages.ContentShowDescription)
                                {
                                    <p>@page.PageDefinitionDescription</p>
                                }
                                <div class="btnContent">
                                    <a href="@page.Url" class="btn primary alternative-02">
                                        <p>View more</p>
                                    </a>
                                </div>
                            </article>
                        </li>
                    }
                </ul>
            </div>
        </section>
    }
}