﻿@using LeGU.Web.Core.PublishedContentModels
@using Umbraco.Web.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ButtonItem>

@{
    ButtonItem button = Model;


    if (button.ButtonLink != null && (button.ButtonText != null || button.ButtonIcon != null))
    {
        IPublishedContent closestPageElem = ViewData.ContainsKey("ClosestPageElement") ? (IPublishedContent)ViewData["ClosestPageElement"] : null;
        IPublishedContent targetedPubContent = button.ButtonLink.Type.Equals(LinkType.Content) ? Umbraco.TypedContent(button.ButtonLink.Udi) : null;

        string btnClass = ViewData.ContainsKey("BtnClass") ? ViewData["BtnClass"].ToString().ToLower() : string.Empty;
        string btnType = ViewData.ContainsKey("BtnType") ? ViewData["BtnType"].ToString().ToLower() : string.Empty;

        bool iconIsLeft = false;
        string iconButton = button.ButtonIcon != null ? "iconBtn" : string.Empty;

        if (button.ButtonIcon != null && !string.IsNullOrEmpty(button.ButtonIconPosition) && button.ButtonIconPosition.Equals("Left"))
        {
            iconIsLeft = true;
            iconButton = "iconBtn iconLeft";
        }
        if (button.ButtonLink.Type.Equals(LinkType.Content)
            && targetedPubContent.Parent != null
            && !new string[] { WebsitePage.ModelTypeAlias, WebsitePage.ModelTypeAlias }.Contains(targetedPubContent.DocumentTypeAlias))
        {
            //lets get the closest ancestor of type PageElement of both the button and the button's target
            //so we can compare them..
            //Anchor is allowed only if the targeted node is a "sibling" of the button
            IPublishedContent targetClosestPageElem = Umbraco.TypedContentSingleAtXPath(string.Format("//{0}[@id='{1}']/ancestor-or-self::*[self::pageElements]", targetedPubContent.DocumentTypeAlias, targetedPubContent.Id));

            string buttonLink = string.Empty;

            //if it is an anchor to another page, href is the page!
            if (closestPageElem != null && targetClosestPageElem != null && closestPageElem.Id != targetClosestPageElem.Id)
            {
                buttonLink = button.ButtonLink.Url.Split(new string[] { closestPageElem.Name.ToLower().Replace(" ", "-") }, StringSplitOptions.None).First();
            }
            <a href="@(string.IsNullOrEmpty(buttonLink) ? "#" : buttonLink)"
               class="btn @btnClass @(button.ButtonText != null ? "" : "justIcon") @btnType @iconButton"
               @Html.Raw(string.IsNullOrEmpty(buttonLink) ? string.Format("data-anchor=\"anchor{0}\"", Umbraco.TypedContent(button.ButtonLink.Udi).Id) : "")>
                @if (button.ButtonIcon != null && iconIsLeft)
                {
                    <i class="@button.ButtonIcon"></i>
                }

                @if (button.ButtonText != null)
                {
                    <p>@button.ButtonText</p>
                }

                @if (button.ButtonIcon != null && !iconIsLeft)
                {
                    <i class="@button.ButtonIcon"></i>
                }
            </a>
        }
        else
        {
            <a href="@button.ButtonLink.Url"
               class="btn @btnClass @(button.ButtonText != null ? "" : "justIcon") @btnType @iconButton"
               target="@button.ButtonLink.Target">
                @if (button.ButtonIcon != null && iconIsLeft)
                {
                    <i class="@button.ButtonIcon"></i>
                }

                @if (button.ButtonText != null)
                {
                    <p>@button.ButtonText</p>
                }

                @if (button.ButtonIcon != null && !iconIsLeft)
                {
                    <i class="@button.ButtonIcon"></i>
                }
            </a>
        }
    }
}