﻿@using LeGU.Web.Core.PublishedContentModels
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Error404>

@{
    Error404 error404 = Model;

    string backgroundStyle = string.Empty;

    if (error404.StyleBackgroundImage != null)
    {
        backgroundStyle = string.Format("style=\"background-image: url({0})\"", error404.StyleBackgroundImage.Url);
    }
    else if (!string.IsNullOrEmpty(error404.StyleBackgroundGradient.Label))
    {
        backgroundStyle = string.Format("data-bgGradient=\"{0}\"", error404.StyleBackgroundGradient.Label.Replace("-", ""));
    }
    else
    {
        backgroundStyle = string.IsNullOrEmpty(error404.StyleBackgroundColor.Label) ?
            "data-background=\"ColorNEU01\"" :
            string.Format("data-background=\"Color{0}\"", error404.StyleBackgroundColor.Label.Replace("-", "").ToUpper());
    }

    <section class="errorBlock @(error404.StyleBackgroundImage != null ? "mediaOverlay" : "")"
             @Html.Raw(error404.StyleBackgroundImage == null ?
                backgroundStyle : string.Format("data-cover=\"{0}\"", error404.StyleEnableBackgroundImageScale.ToString().ToLower()))
             data-fullScreen="true"
             data-margin-top="medium"
             data-margin-bottom="medium">
        @if (error404.StyleBackgroundImage != null)
        {
            <div class="cover" @Html.Raw(backgroundStyle)></div>
        }
        <div class="wrapper">
            <div class="titleBox">
                <hgroup>
                    <h1>@error404.ContentTitle</h1>
                </hgroup>
                <p>@error404.ContentSubtitle</p>
            </div>
        </div>
    </section>
}
