﻿@using LeGU.Web.Core.PublishedContentModels
@using LeGU.Web.MP.Core.GlobalSettings
@using System.Configuration
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ShareBar>

@{
    ShareBar shareBar = Model;

    GlobalConfigurationSettings configSettings = (GlobalConfigurationSettings)ViewData["ConfigSettings"];
    IPublishedContent homeNode = (IPublishedContent)ViewData["HomeNode"];

    LeGUConfigurations _configurations = ConfigurationManager.GetSection("LeGUConfigurations") as LeGUConfigurations;
}

@if (configSettings.SocialShareTo.Any() && shareBar.ContentText != null)
{
    <section class="shareBar"
             data-margin-top="small"
             data-margin-bottom="small"
             data-align="center"
             data-background="@(string.IsNullOrEmpty(shareBar.StyleBackgroundColor.Label) ? "ColorNEU05" : string.Format("Color{0}", shareBar.StyleBackgroundColor.Label.Replace("-", "").ToUpper()))"
             data-sectionid="anchor@(shareBar.Id)"
             data-fullContainer="@(string.IsNullOrEmpty(shareBar.StyleBackgroundSize) || shareBar.StyleBackgroundSize.Equals("Full width") ? "false" : "true")"
             data-slideUp="true" data-slideDown="true" data-delay="0.2">
        <div class="wrapper">
            <p>@shareBar.ContentText</p>
            <ul>
                @foreach (string si in configSettings.SocialShareTo)
                {
                    string url = string.Format(_configurations.SocialShareUrls.Get(si).Value, Request.Url.AbsoluteUri);
                    string icon = _configurations.SocialShareUrls.Get(si).Icon;
                    <li data-slider="true" data-translate="10">
                        <a href="@url" target="_blank" class="btn iconBtn justIcon alternative-02" title="@si">
                            <i class="@icon"></i>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </section>
}
