﻿<div class="iconator-dialog" ng-controller="Iconator.Dialog.Controller">
    <div class="umb-control-group">
        <div class="form-search">
            <i class="icon-search"></i>
            <input type="text"
                   style="width: 100%"
                   ng-model="searchTerm"
                   class="umb-search-field search-query input-block-level"
                   placeholder="Filter..."
                   umb-auto-focus>
        </div>
    </div>
    <div class="umb-control-group" ng-show="!loading">
        <ul class="umb-thumbnails thumbnails" ng-class="color">
            <li class="span1" ng-repeat="icon in model.icons | filter: searchTerm">
                <a href="#"
                   title="{{icon}}"
                   class="thumbnail"
                   ng-click="model.selectIcon(icon)"
                   prevent-default
                   ng-bind-html="model.renderIconPattern(icon)">
                </a>
            </li>
        </ul>
    </div>
</div>