﻿@using System.Configuration
@using LeGU.Web.MP.Core.GlobalSettings
@using LeGU.Web.Core.PublishedContentModels
@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    Layout = null;

    IPublishedContent currentPage = Model;

    if (currentPage.DocumentTypeAlias.Equals(MultilingualWebsite.ModelTypeAlias))
    {
        @Html.Partial("ModularPlatform/WebsiteBase/Page_Redirect", currentPage)
    }

    LeGUConfigurations _configurations = ConfigurationManager.GetSection("LeGUConfigurations") as LeGUConfigurations;

    string queryHomeNode = String.Format("//{0}[@id='{1}']/ancestor-or-self::*[self::singlePageWebsite] | //{0}[@id='{1}']/ancestor-or-self::*[self::multiPageWebsite]", currentPage.DocumentTypeAlias, currentPage.Id);
    IPublishedContent homeNode = Umbraco.TypedContentSingleAtXPath(queryHomeNode);

    string queryConfigSettingsNode = String.Format("//{0}[@id='{1}']/configurationFolder/globalConfigurationSettings", homeNode.DocumentTypeAlias, homeNode.Id);
    GlobalConfigurationSettings configSettings = (GlobalConfigurationSettings)Umbraco.TypedContentSingleAtXPath(queryConfigSettingsNode);
    ;
}
<!doctype html>
<html lang="pt">
<head>
    @{
        Response.AddHeader("Cache-Control", "max-age=0,no-cache,no-store,must-revalidate");
        Response.AddHeader("Pragma", "no-cache");
        Response.AddHeader("Expires", "0");
    }

    @Html.CachedPartial("ModularPlatform/WebsiteBase/Page_Metadata",
        currentPage,
        (int)_configurations.PartialViewsSettings.Get("PageMetas").CachedSeconds,
        (bool)_configurations.PartialViewsSettings.Get("PageMetas").CacheByPage,
        false,
        new ViewDataDictionary {
            { "ConfigSettings", configSettings },
            { "Configurations", _configurations },
            { "HomeNode", homeNode }
        },
        contextualKeyBuilder: (model, viewdata) => currentPage.Id.ToString())

    @Html.CachedPartial("ModularPlatform/WebsiteBase/Page_Fonts",
        currentPage,
        (int)_configurations.PartialViewsSettings.Get("PageFonts").CachedSeconds,
        (bool)_configurations.PartialViewsSettings.Get("PageFonts").CacheByPage,
        false,
        new ViewDataDictionary {
            { "Configurations", _configurations }
        },
        contextualKeyBuilder: (model, viewdata) => currentPage.Id.ToString())

    @Html.CachedPartial("ModularPlatform/WebsiteBase/Page_Stylesheets",
        homeNode,
        (int)_configurations.PartialViewsSettings.Get("PageStylesheets").CachedSeconds,
        (bool)_configurations.PartialViewsSettings.Get("PageStylesheets").CacheByPage,
        false,
        new ViewDataDictionary {
            { "Configurations", _configurations }
        },
        contextualKeyBuilder: (model, viewdata) => currentPage.Id.ToString())

    @Html.Raw(configSettings.ScriptsEndOfHeadScripts)

    @Html.CachedPartial("ModularPlatform/WebsiteBase/Page_GoogleAnalytics",
        currentPage,
        (int)_configurations.PartialViewsSettings.Get("GoogleAnalytics").CachedSeconds,
        (bool)_configurations.PartialViewsSettings.Get("GoogleAnalytics").CacheByPage,
        false,
        new ViewDataDictionary {
            { "ConfigSettings", configSettings },
            { "Configurations", _configurations }
        })
</head>
<body>
    @Html.Raw(configSettings.ScriptsBeginingOfBodyScripts)

    <main id="main">
        @RenderBody()

        @Html.CachedPartial("ModularPlatform/WebsiteBase/Page_Javascript",
            currentPage,
            (int)_configurations.PartialViewsSettings.Get("PageJavascript").CachedSeconds,
            (bool)_configurations.PartialViewsSettings.Get("PageJavascript").CacheByPage,
            false,
            new ViewDataDictionary {
                { "Configurations", _configurations },
                { "HomeNode", homeNode }
            },
            contextualKeyBuilder: (model, viewdata) => currentPage.Id.ToString())
    </main>
    @Html.Raw(configSettings.ScriptsEndOfBodyScripts)
</body>
</html>

