﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using LeGU.Web.Core.PublishedContentModels
<?xml version='1.0' encoding='UTF-8' ?>
@{
    Response.ContentType = "text/xml";

    var websitePageNames = new List<string> {
        "//multiPageWebsite",

        "//websitePage",
        "//challengeDetailsPage",
        "//eventDetailsPage",
        "//ourPurposePage",
        "//resourceDetailsPage",
        "//aboutUsPage",
        "//challengesPage",
        "//contactsPage",
        "//eventsPage",
        "//joinUsPage",
        "//newsletterSubscriptionsPage",
        "//portfolioPage",
        "//privacyPolicyPage",
        "//resourcesPage"
    };

    //Get the root page
    var xpathQuery = string.Join(" | ", websitePageNames);

    var websitePages = Umbraco.TypedContentAtXPath(xpathQuery).OrderBy(a=>a.SortOrder);

    DateTime latestUpdateDate = DateTime.MinValue;

    string virtualPath = HttpRuntime.AppDomainAppVirtualPath;
}
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
    @foreach (IPublishedContent nodePage in websitePages)
    {
        <url>
            <loc>@((nodePage.Url.StartsWith(virtualPath) && virtualPath != "/") ? nodePage.UrlWithDomain().Replace(virtualPath, "") : nodePage.UrlWithDomain())</loc>
            @*<loc>@nodePage.UrlWithDomain()</loc>*@
            <lastmod>@(string.Format("{0:s}+00:00", (nodePage.UpdateDate > latestUpdateDate ? nodePage.UpdateDate : latestUpdateDate)))</lastmod>
        </url>
    }
</urlset>