<template>
  <div>
    <Nav />
    <SimpleHeader :item="challenge.mainHeading[0]" v-if="challenge.mainHeading[0]" />
    <WOT :item="challenge.wOT[0]" v-if="challenge.wOT[0]" />
    <ItemListGrid v-if="challenge.infoIconsGroups[0]" :item="challenge.infoIconsGroups[0]" />
    <CtaBlock :item="challenge.cTABlock[0]" v-if="challenge.cTABlock[0]" />
    <Heading :item="challenge.simpleHeading[0]" v-if="challenge.simpleHeading[0]" />
    <ContentGrid :items="challenge.relatedPages[0].ContentPages" v-if="challenge.relatedPages[0]" />
    <CtaBlock :item="challenge.cTABlock[1]" v-if="challenge.cTABlock[1]" />
    <CtaBlock :item="challenge.cTABlock[2]" v-if="challenge.cTABlock[2]" />
    <Footer />
  </div>
</template>

<script>
import SimpleHeader from "~/components/SimpleHeader.vue";
import Heading from "~/components/Heading.vue";
import ContentGrid from "~/components/ContentGrid.vue";
import CtaBlock from "~/components/CtaBlock.vue";
import WOT from "~/components/WOT.vue";
import ItemListGrid from "~/components/ItemListGrid.vue";
import Nav from "~/components/Nav.vue";
import Footer from "~/components/Footer.vue";

export default {
  components: {
    Heading,
    SimpleHeader,
    CtaBlock,
    ContentGrid,
    WOT,
    ItemListGrid,
    Nav,
    Footer
  },
  computed: {
    challenge() {
      const params = {
        details: this.$route.params.challenge,
        area: "challengesPageDetails"
      };
      return this.$store.getters.getDetails(params);
    }
  },
  head() {
    let challenge = this.challenge;
    return {
      title: challenge.PageDefinitionTitle,
      meta: [
        {
          hid: `description`,
          name: "description",
          property: "description",
          content: challenge.PageDefinitionDescription
        },
        {
          hid: "og:image",
          property: "og:image",
          content:
            window.location.origin + challenge.PageDefinitionImage.ImageSrc
        },
        {
          hid: "og:title",
          property: "og:title",
          content: challenge.PageDefinitionTitle
        },
        {
          hid: "og:description",
          property: "og:description",
          content: challenge.PageDefinitionDescription
        },
        {
          name: "twitter:card",
          content: "summary_large_image"
        },
        {
          hid: "og:url",
          property: "og:url",
          content: window.location.origin + this.$route.path
        }
      ],
      link: [
        {
          rel: "canonical",
          href: window.location.origin + this.$route.path
        }
      ]
    };
  }
};
</script>

<style></style>
