@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face { 
    font-family: Monotype-CenturyGothicBold;
    src: url('/css/ds/fonts/Monotype-CenturyGothicBold.ttf');
    
}

/**umb_name:M-01*/
.M-01{color: #00a9ca !important}

/**umb_name:M-03*/
.M-03{color: #38d8b8 !important}

/**umb_name:Neu-01*/
.Neu-01{color: #ffffff !important}

/**umb_name:Neu-04*/
.Neu-04{color: #969da2 !important}

/**umb_name:Neu-05*/
.Neu-05{color: #363d46 !important}

/**umb_name:Add-02*/
.Add-02{color: #ef5350 !important}

/**umb_name:Monotype-CenturyGothicBold-*/
.Monotype-CenturyGothicBold-{font-family: Monotype-CenturyGothicBold !important; letter-spacing: -0.05em;}

/**umb_name:OpenSans-regular*/
.OpenSans-regular{font-family: Open Sans !important;}

/**umb_name:OpenSans-700*/
.OpenSans-700{font-family: Open Sans !important;  font-weight: 700;}