@font-face { 
    font-family: Monotype-CenturyGothicBold;
    src: url('/css/ds/fonts/Monotype-CenturyGothicBold.ttf');
    
}@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/**umb_name:Title*/
.dstitle{font-style: normal;
text-rendering: optimizeLegibility;
font-smoothing: antialiased;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
color: #363d46;
font-family: Monotype-CenturyGothicBold;
letter-spacing: -0.05em;
font-size: 36px;
line-height: 44px;}

/**umb_name:Title w/ color*/
.dstitleColor{font-style: normal;
text-rendering: optimizeLegibility;
font-smoothing: antialiased;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
color: #00a9ca;
font-family: Monotype-CenturyGothicBold;
letter-spacing: -0.05em;
font-size: 36px;
line-height: 44px;}

/**umb_name:Highlight*/
.dshighlight{font-style: normal;
text-rendering: optimizeLegibility;
font-smoothing: antialiased;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
color: #363d46;
font-family: 'Open Sans';
letter-spacing: 0px;
font-size: 24px;
line-height: 32px;}