﻿/**umb_name:M-01*/
.colorM-01 {
    color: #b563f6 !important;
}
/**umb_name:M-02*/
.colorM-02 {
    color: #f75103 !important;
}
/**umb_name:M-03*/
.colorM-03 {
    color: #23cfee !important;
}
/**umb_name:M-04*/
.colorM-04 {
    color: #32eb78 !important;
}